<% reference_quarter ||= @reference_quarter || Quarter.find_by_date(abstract.offering.deadline) %>

<div class="abstract" id="abstract_<%= abstract.id.to_s %>">

	<%= render :partial => 'apply/proceedings/add_favorite', :object => abstract %>
    

		<!-- Project title -->
		<strong class="project_title"><%= link_to_function abstract.stripped_project_title.strip, "Effect.toggle(\"abstract_text_#{abstract.id}\", 'blind')" %></strong>


		<div class="two_column">
		
			<dl class="<%= 'half' unless params[:action] == 'offering_session' %>">
				
				<% cache(:controller => 'proceedings', :action => 'abstract_presenters', :id => abstract.id) do %>
		
				<dt><%= pluralize_without_count (1 + abstract.group_members.count), "Presenter" %></dt>
				<dd>

					<ul>
						<!-- Primary presenter -->
						<li><% 	presenter = [(content_tag(:span, abstract.person.firstname_first, :class => "student_name") rescue "Unknown")]
								presenter << "#{abstract.person.class_standing_description(:recent_graduate_placeholder => "Recent Graduate", :reference_quarter => reference_quarter) rescue nil}"
							    presenter << "#{content_tag(:span, abstract.person.majors_list(true, ", "), :class => "student_major") rescue nil}"
							    presenter << "#{abstract.person.institution_name rescue nil}" unless abstract.person.is_a?(Student)
						%><%= presenter.join(", ") %>
	
						<!-- Primary presenter scholarships -->
					    <%- unless abstract.other_awards.empty? -%>
							<%= content_tag(:span, abstract.other_awards.sort.collect(&:scholar_title).join(", "), :class => "student_award") %>
					    <% end -%>
						</li>
			
						<!-- Group members -->
						<% for group_member in abstract.group_members %>
						<li>
							<%= group_member.info_detail_line(true) %>
							<%= content_tag(:span, group_member.person.awards_list, :class => "student_award") unless group_member.person.awards_list.blank? rescue nil %>
						</li>
						<% end -%>
			
					</ul>
				</dd>
		
				<dt><%= pluralize_without_count abstract.mentors.count, "Mentor" %></dt>
				<dd>
					<ul>

						<!-- Mentors -->
						<% for mentor in abstract.mentors %>
							<li><%= mentor.info_detail_line(true, true) %></li>
						<% end -%>

					</ul>
				</dd>
				<% end -%>
				
			</dl>
		

	<% unless params[:action] == 'offering_session' || abstract.offering_session.nil? %>
		<dl class="half">
		
			<dt>Session</dt>
			<dd>
				<ul>
				<li><%= link_to abstract.offering_session.title(:include_identifier => true), 
							apply_proceedings_url(@offering, 'offering_session', :id => abstract.offering_session.id) if abstract.offering_session %></li>
				<%= "<li>#{abstract.offering_session.location rescue nil}</li>" unless abstract.offering_session.location.blank? rescue nil %>
				<%= "<li>#{content_tag(:span, abstract.location_section.title, :style => "color:##{abstract.location_section.color}") rescue nil}</li>" if abstract.location_section rescue nil %>
				<%= "<li>Easel ##{abstract.easel_number rescue nil}</li>" if abstract.easel_number rescue nil %>
				<%= "<li>#{abstract.offering_session.time_detail}</li>" if abstract.offering_session %>
				</ul>
			</dd>			
		</dl>
	<% end -%>

	</div>

	<% cache(:controller => 'proceedings', :action => 'abstract_text', :id => abstract.id) do %>

		<!-- Abstract -->
		<div class="abstract_text" style="display:none" id="abstract_text_<%= abstract.id %>">
			<%= abstract.text(:abstract).body %>
		</div>
	
		<!-- Similar Abstracts -->
		<ul class="similar_abstracts">	
			<% for major in abstract.person.majors %>
				<% if @majors.include?(major) && @majors[major].size > 1 %>
					<li><%= link_to "Other #{major} major students (#{@majors[major].size})", 
									apply_proceedings_url(@offering, 'result', 
									:student_major => (major.is_a?(String) ? major : major.full_name)) %></li>
				<% end -%>
			<% end -%>

			<% if @departments.include?(abstract.mentor_department) && @departments[abstract.mentor_department].size > 1 %>
			<li><%= link_to "Other #{abstract.mentor_department} mentored projects (#{@departments[abstract.mentor_department].size})", 
							apply_proceedings_url(@offering, 'result', :mentor_department => abstract.mentor_department) %></li>
			<% end -%>

			<% for mentor in abstract.mentors %>
				<%- unless mentor.other_mentees.empty? -%>
				<li><%= link_to "Other students mentored by #{mentor.firstname_first} (#{mentor.other_mentees.size})", 
								apply_proceedings_url(@offering, 'result', :mentor_name => mentor.lastname_first) %></li>
				<% end -%>
			<% end -%>
		</ul>
		
	<% end -%>

<br style="clear:right">

</div>