<% hide ||= false %>

<div class="lookup_form" id="lookup_form" <%= "style=\"display:none\"" if hide %>>
	
	<div class="big-border box">
	<h4 class="icon-left search">Find Students</h4>

		<span class="error-message" id="student_lookup_error"></span>

		<p>Search by student name or select a major/award to see all students in that major/award.</p>

		<% form_tag url_for(:action => 'result'), :method => :get do %>
			<%= label_tag :student_name, "Student Name:" %>
			<%= text_field_tag :student_name, params[:student_name] %>
			<%= submit_tag "Search", 
					:onClick => "return validateNotBlank(student_name, student_lookup_error, 'Please enter a student name.')" %>
		<% end -%>
		<br />
		<% form_tag url_for(:action => 'result'), :method => :get do %>
			<%= label_tag :student_major, "Student Major:" %>
			<%= select_tag :student_major, 
							options_for_select([["Majors (#{@majors.size})", nil]] + 
												@majors.map{|k,v| ["#{k} (#{v.size})", k] }.sort,
												params[:student_major]),
							{ :style => "width: 20em" } %>
			<%= submit_tag "Lookup",
			 		:onClick => "return validateNotBlank(student_major, student_lookup_error, 'Please choose a major to lookup.')" %>
		<% end -%>
		<br />
		<% form_tag url_for(:action => 'result'), :method => :get do %>
			<%= label_tag :student_award, "Student Award:" %>
			<%= select_tag :student_award, 
							options_for_select([["Awards (#{@awards.size})", nil]] + 
												@awards.map{|k,v| ["#{k} (#{v.size})", k] }.sort,
												params[:student_award]),
							{ :style => "width: 20em" } %>
			<%= submit_tag "Lookup",
			 		:onClick => "return validateNotBlank(student_award, student_lookup_error, 'Please choose an award to lookup.')" %>
		<% end -%>

	</div>

	<div class="big-border box">
	<h4 class="icon-left search">Find Mentors</h4>

		<span class="error-message" id="mentor_lookup_error"></span>

		<p>Search by mentor name or select a department to see all students with mentors in that department.</p>

		<% form_tag url_for(:action => 'result'), :method => :get do %>
			<%= label_tag :mentor_name, "Mentor Name:" %>
			<%= text_field_tag :mentor_name, params[:mentor_name] %>
			<%= submit_tag "Search",
					:onClick => "return validateNotBlank(mentor_name, mentor_lookup_error, 'Please enter a mentor name.')" %>
		<% end -%>
		<br />
		<% form_tag url_for(:action => 'result'), :method => :get do %>
			<%= label_tag :mentor_department, "Mentor Department:" %>
			<%= select_tag :mentor_department,
							options_for_select([["Departments (#{@departments.size})", nil]] + 
												@departments.map{|k,v| ["#{k} (#{v.size})", k]}.sort,
							 					params[:mentor_department]), 
							{ :style => "width: 20em" }%>
			<%= submit_tag "Lookup",
					:onClick => "return validateNotBlank(mentor_department, mentor_lookup_error, 'Please choose a department to lookup.')" %>
		<% end -%>

	</div>
	
</div>