<% show_time ||= false %>

<li id="session_<%= session.id %>">

	<%= content_tag(:span, "#{session.location}", :class => 'location') if (@offering.id==577 && (@current_user != :false && @current_user.admin && @current_user.in_unit?(3))) || @offering.id != 577 %>

	<%= content_tag(:span, "#{session.identifier}", :class => 'session_identifier') unless session.identifier.blank? %>
	
	<% link_title = session.title %>
	<% link_title << content_tag(:span, session.time_detail("&ndash;"), :class => 'time') if show_time %>
	<%= link_to link_title, :action => 'offering_session', :offering => @offering, :id => session %>
	
	
	</li>
	
	<%= "#{session.presenters_count + session.group_members.count} student presenters" if show_time %>
	