<div class="toolbar">
    <h1 id="pageTitle"></h1>
    <a id="backButton" class="button" href="#"></a>
    <a class="button" href="#lookup_form">Search</a>
</div>

<div id="home" title="Proceedings" selected="true" class="panel">

	<% if @offering.deadline.year == Time.now.year %>
	  <h1 class="title"></h1>
	<% end %>
	<!-- <fieldset>
		<div class="block">
			<h2>Welcome!</h2>
			<%= textilize @offering.proceedings_welcome_text %>
		</div>
	</fieldset>
	 -->

    <h2><%= @offering.name %></h2>
	<h2>Schedule</h2>
	<fieldset>
	<ul class="link-list">
		<% for session_group, application_types_hash in @sessions %>
			<% for application_type, sessions in application_types_hash.sort.reverse %>
				<% if sessions.size == 1 %>
					<li><%= link_to sessions.first.title + "<br><small>#{sessions.first.time_detail}</small>", :action => 'offering_session', :offering => @offering, :id => sessions.first %></li>
				<% else %>
					<li><%= link_to "#{application_type} #{session_group}<br><small>#{sessions.first.time_detail}</small>", "#sessions_#{session_group}" %></li>
				<% end -%>
			<% end -%>
		<% end -%>
	</ul>
	</fieldset>
	
	<fieldset>
		<ul class="link-list">
			<li><a href="#lookup_form">Search</a></li>
			<li><%= link_to "Favorite abstracts #{content_tag(:span, "(#{@favorite_abstracts.size})", :id => 'favorite_abstracts_count', :class => 'default')}", {:controller => 'apply/proceedings/favorites', :action => 'index', :offering => @offering} %></li>
		</ul>
	</fieldset>
	
	<center>
		<p><%= link_to "Full Site", { :skip_mobile => true }, :target => "_self" %></p>
		<p>&copy; University of Washington</p>
	</center>
	
</div>

<% for session_group, application_types_hash in @sessions %>
	<% for application_type, sessions in application_types_hash.sort.reverse %>
		<% if sessions.size > 1 %>
			<ul class="link-list sessions_list" id="<%= "sessions_#{session_group}" %>" title="<%= "#{application_type} #{session_group}" %>">
				<% for session in sessions %>
					<li><%= link_to "<span class=\"session_identifier\">#{session.identifier}</span> #{session.title}", :action => 'offering_session', :offering => @offering, :id => session %></li>
				<% end -%>
			</ul>
		</div>
		<% end -%>
	<% end -%>
<% end -%>

<%= render :partial => "lookup_form" %>