<!-- <div class="toolbar"> -->
    <!-- <h1 id="pageTitle"></h1>
    <a id="backButton" class="button" href="#"></a>
    <a class="button" href="#lookup_form">Search</a>
</div> -->

<div class="panel" title="Session" selected="true">
	<div class="block">
		<h2 class="session_title">
			<% unless @offering_session.identifier.blank? %>
				<div class="session_identifier"><%= @offering_session.identifier %></div>
			<% end %>
			<%= @offering_session.title %></h2>
	</div>

	<fieldset>
		<div class="row">
			<label>Time</label>
			<span><%= @offering_session.time_detail %></span>
		</div>
		<div class="row">
			<label>Location</label>
			<span><%= @offering_session.location if !@offering.virtual_proceeding || (@current_user != :false && @current_user.admin && @current_user.in_unit?(3)) || Time.now >= @offering.proceeding_public_display_at %></span>
		</div>
		<%- unless @offering_session.moderator.try(:fullname).blank? -%>
			<div class="row">
				<label>Moderator</label>
				<span><%= @offering_session.moderator.try(:fullname) %></span>
			</div>
		<% end -%>
	</fieldset>

	<h2>Presentations</h2>
	<fieldset>
		<ul class="link-list">
			<%= render :partial => "abstract", :collection => @presenters %>
		</ul>
	</fieldset>

</div>
