<% title @page_title_prefix, "Search Results" %>

<div class="right">
	<%= link_to_remote "Add all of these abstracts to my favorites", 
						:url => apply_proceedings_favorites_path(@offering, 'create', @result.collect(&:id).to_json),
						:method => :post,
						:indicator => 'global',
						:html => {
							:class => 'add_favorite',
							:id => "add_all_favorite_link"
						} %>
</div>

<h1>Found <%= pluralize @result.size, "project" %></h1>

<div id="abstract_search_results">
	<%= render :partial => 'sorted_abstracts', :object => @result %>
</div>

<% if @result.empty? %>
<div class="empty">
	Sorry, but we couldn't find any presenters that matched your query.
</div>
<% end -%>

<% content_for :left_sidebar do %>
	<ul class="link-list">
		<li><%= link_to "Print these abstracts", url_for(:overwrite_params => {:format => :pdf}), :class => "icon-left pdf" %></li>
		<li><%= link_to "Return to Proceedings Home", @header_link, :class => "icon-left home" %></li>
		<%= render :partial => "apply/proceedings/favorite_abstracts" %>
		<li><%= link_to_function "View all abstracts", "$$('.abstract_text').invoke('show')", :class => 'icon-left list' %></li>
	</ul>
<% end -%>

<% content_for :left_sidebar do %>
	<%= render :partial => 'lookup_form' %>
<% end -%>

<% javascript_tag do %>
	document.observe('dom:loaded', function() {
		<%
		js = []
		%w(student_name mentor_name).each do |key|
			unless @query_strings[key.to_sym].blank?
				js << "highlightSearchTerms($$('#abstract_search_results .#{key}'), '#{h(escape_javascript(@query_strings[key.to_sym]))}')"
			end
		end
		%w(student_major mentor_department student_award).each do |key|
			unless @query_strings[key.to_sym].blank?
				js << "highlightSearchTerms($$('#abstract_search_results .#{key}'), '#{h(escape_javascript(@query_strings[key.to_sym]))}', true)"
			end
		end
		 %>
		<%= js.join("; ") %>
	})
<% end -%>

<%= javascript_tag("if (window.location.hash) { $(window.location.hash.split('#')[1]).addClassName('selected') }") %>