<div class="content-block">
	
	<h3>Potential Course Matches
		<span>&raquo; <%= @quarter.title %></span>
		<span class="right"><%= link_to_function "add new", "Element.toggle('add_potential_course')" %></span></h3>
	
	<table>
		<% for course in @organization_quarter.potential_courses %>
			<tr>
				<td><%= link_to course.title, service_learning_course_path(@unit, @quarter, course) %></td>
				<td><%= link_to "Delete", :delete_potential_course_match => course.id,
				 				:confirm => "Are you sure?" %></td>
			</tr>
		<% end -%>
	</table>

	<% form_for @organization_quarter, :url => service_learning_organization_path(@unit, @quarter, @organization) do |f| -%>

	<div id="add_potential_course" style="display:none">
		<p>Add another: 
			<%= f.collection_select :potential_course_match,
			 						@quarter.service_learning_courses.for_unit(@unit),
									:id, :title,
									:prompt => true %>
			
			<%= f.submit "Add", :disable_with => 'Adding...' %>
			
			<small><%= link_to "Add or change #{@quarter.title} courses", service_learning_courses_path(@unit, @quarter) %></small>
			</p>
	</div>
	
	<% end -%>
	
</div>