<div class="content-block with-icon">
	
	<h3 style="margin-bottom:0" id="site_notes">
		Site Notes
		<span class="right"><%= link_to_function "add new", "Element.toggle('add_site_note')" %></span>
		</h3>
		
	<div class="yellow box" id="add_site_note" style="display:none">
		<% form_for :note, :url => add_note_service_learning_organization_path(@unit, @quarter, @organization) do |f| -%>
			Add New Note: <%= f.text_field :note %>
			Type: <%= f.collection_select :contact_type_id, ContactType.find(:all), :id, :title, {:include_blank => true} %>
			<%= f.submit "Add Note", :disable_with => 'Adding note...' %>
		<% end -%>
	</div>
	
	<%= render :partial => "admin/shared/notes", :object => @organization %>

</div>
