<h1>Organizations
	<span class="light">&raquo; <%= @quarter.title %></span></h1>


<%= javascript_include_tag "tablesort" %>
<%= javascript_tag "initFilters(['assigned_to', 'status']);" %>

<%= form_tag admin_communicate_write_email_url, :id => 'organization_form' %>

<%= hidden_field_tag :recipient_variant %>
<%= hidden_field_tag :group_variant %>
	
<table class="sortable" id="sortable-table-0">
	<tr>
		<th class="nosort"><%= select_all_check_box %></th>
		<th class="sortasc"><div class="sort-icon">Name</div></th>
		
		<th><div class="sort-icon"><span class="in_progress tag">IP</span></div></th>
		<th><div class="sort-icon"><span class="pending tag">P</span></div></th>
		<th><div class="sort-icon"><span class="approved tag">A</span></div></th>		
		<th><div class="sort-icon"><span class="tag">E</span></div></th>
		
		<th><div class="sort-icon">Assigned to</div></th>
		<th><div class="sort-icon">Status</div></th>
		<% if @use_pipeline_links %>
		<th class="nosort">Deactivate</th>
		<% end %>
	</tr>
	
	<%= render 	:partial => "admin/service_learning/organizations/organization_quarter", :collection => @organization_quarters %>
	
</table>

</form>


<% if @use_pipeline_links %>
  <% sidebar "admin/pipeline/sidebar/pipeline_links" %>
<% end %>

<% sidebar "admin/service_learning/positions/sidebar/search" %>

<% sidebar "admin/service_learning/organizations/sidebar/activate_organization" %>

<% sidebar "admin/service_learning/organizations/sidebar/filters" %>

<% sidebar "admin/service_learning/organizations/sidebar/with_selected" %>