			<tr>
				<td><%= i+1 %>.</td>
				<td><%= question.question %></td>
				<td><center><%= r.radio_button :response, 1 %></center></td>
				<td><center><%= r.radio_button :response, 2 %></center></td>
				<td><center><%= r.radio_button :response, 3 %></center></td>
				<td><center><%= r.radio_button :response, 4 %></center></td>
				<td><center><%= r.radio_button :response, 5 %></center></td>
				<td class="grey"><center><%= r.radio_button :response, 0 %></center></td>
			</tr>
