<h1>Students</h1>

<table>
	
	<tr>
		<th>Student</th>
		<th>Position</th>
		<th>Evaluation</th>
	</tr>
	
	<% for organization_quarter in @organization_quarters %>
		<tr class="rowset-header">
			<td colspan=3><%= organization_quarter.unit.try(:name) %> Students</td>
		</tr>
	
		<% if organization_quarter.placements.filled.empty? %>
			<tr class="empty"><td colspan=3>
				No students have signed up for your <%= @quarter.title %> positions yet. 
			</td></tr>
		<% end -%>
	
	
		<% for placement in organization_quarter.placements.filled %>
			<tr>

				<td class="icon-left" id="student">
					<%= link_to placement.person.try(:fullname), community_partner_service_learning_student_path(@quarter, placement) %>
					<% unless placement.course.nil? %>
					<small>(<%= link_to placement.course.title, 
								community_partner_service_learning_course_path(@quarter, placement.course) %>)</small>
					<% end %>
					</td>

				<td><%= link_to placement.position.title, community_partner_service_learning_position_path(@quarter, placement.position) %></td>

				<td>
					<% # Show carlson evaluations and only allow inner pipeline students for evaluations
					   unless placement.course.nil? || (!placement.course.nil? && placement.course.pipeline_student_type_name == "Service Learning") 
					%>
						<% if placement.evaluation_submitted? %>
							Completed <%= time_ago_in_words(placement.evaluation.submitted_at) %> ago
							(<%= link_to "view", evaluate_community_partner_service_learning_student_path(@quarter, placement) %>)
						<% elsif placement.position.organization_quarter.allow_evals? %>
							<%= link_to "Submit evaluation", evaluate_community_partner_service_learning_student_path(@quarter, placement) %>
						<% end -%>
					<% end -%>
				</td>
			</tr>
		<% end -%>
	<% end -%>
	
</table>