<h1><%= @student.fullname %></h1>

<p>In the event that you need to contact <%= @student.firstname %>, use the contact information below.</p>

<div class="small warning">
Please note that this information is only provided for you to contact this student about the service-learning volunteer position listed below. <b>Any other use is prohibited.</b>
</div>

<dl class="inline-definitions">

	<dt>phone</dt>
	<dd><%= phone_number @student.phone %></dd>
	
	<dt>e-mail</dt>
	<dd><%= auto_link @student.email %></dd>
	
	<dt>position</dt>
	<dd><%= link_to @placement.position.title, community_partner_service_learning_position_path(@quarter, @placement.position) %></dd>
	
</dl>

<br>
<%= link_to "&#x2190; Back to Student Listing", community_partner_service_learning_students_path(@quarter) %>