<h1>New organization contact</h1>

<% @person = @organization_contact.person %>
<%= error_messages_for :organization_contact, :person %>

<% form_for([:community_partner, :service_learning, @organization_contact]) do |f| %>

	<%= render 	:partial => "admin/organizations/contacts/fields",
	 			:locals => { :admin => false, :f => f, :organization_contact => @organization_contact } %>
	
	<%= (hidden_field_tag 'organization_contact[unit_ids][]', @unit.id) if @unit %>
	
	<dl class="inline-definitions">
		<dt>send e-mail?</dt>
		<dd><%= check_box_tag :send_login_link %>
			Send this person a login link e-mail right now</dd>
	</dl>
	
	<br>
	
    <%= f.submit "Create" %> or 
	<%= link_to 'Cancel', community_partner_service_learning_organization_contacts_path %>

<% end %>
