<h1>Edit Committee Member
	<span class="light">&raquo; <%= @committee.name %></span></h1>
	
<% form_for [:admin, @member], :url => admin_committee_member_url(@committee, @member) do |f| %>
	<%= f.error_messages %>
	
	<dl class="inline-definitions">
		<%= render :partial => "fields", :locals => { :f => f } %>
		
		<dt>user response?</dt>
		<dd><%= check_box_tag :update_user_response_at %>
			<label for="update_user_response_at">This information update should be treated as a response from the user.</label></dd>
	</dl>
	
	<h3>Quarters</h3>

	<table>
		<tr class="small left">
			<th>Quarter</th>
			<th>Active?</th>
			<th>Comments</th>
		</tr>

		<% for q in @member.committee_member_quarters %>
			<% fields_for "committee_member[committee_member_quarter_attributes][#{q.id}]", q do |quarter_fields| %>
			<tr>
				<td><%= q.quarter.title %></td>
				<td><%= quarter_fields.check_box :active %></td>
				<td><%= quarter_fields.text_field :comment, :size => 50 %></td>
			</tr>
			<% end -%>
		<% end -%>
	</table>
	
	<%= f.submit "Save", :disable_with => "Saving..." %>
	
<% end -%>

