<h1>All Committee Members
	<span class="light">&raquo; <%= @committee.name %></span></h1>
	
<%= form_tag admin_communicate_write_email_url, :id => 'committee_members_form' %>

<table>

	<tr class="small left">
		<th><%= select_all_check_box %></th>
		<th width=150><%= link_to_sort :lastname_first, "Name" %></th>
		<th><%= link_to_sort "committee_member_type_id", "Type" %></th>
		<th><%= link_to_sort :department %>
			<br><%= link_to_sort :expertise %></th>
		<% if !@committee.quarters.upcoming.empty? %>
			<% for q in @committee.committee_quarters.upcoming %>
				<th><%= link_to q.title, admin_committee_quarter_path(@committee, q), :class => 'redirect' %></th>
			<% end -%>
		<% else %>
			<th>Quarters</th>
		<% end -%>
		<th><%= link_to_sort :last_user_response_at, "Last Response" %></th>
		<%- unless @sorted_by_status -%>
			<th><%= link_to_sort nil, "Status" %></th>
		<% end -%>
		<th colspan=10>Functions</th>
	</tr>

	<%= render :partial => "member", :collection => @members %>

</table>

<% sidebar :add_member, :class => 'add_new' %>
<% sidebar :with_selected %>
<% sidebar :jump_to if @sorted_by_status %>