<%= javascript_include_tag 'tablesort' %>

<h1><%= @year %> Accountability Reporting Status</h1>

<table class="sortable" id="sortable-table-0">
	<tr class="small left">
		<th class="sortfirstasc"><div class="sort-icon">Department</div></th>
		<th colspan=2 class="nosort">Details</th>
		<% for activity_type in @activity_types %>
			<th class="light-left-border number"><div class="sort-icon">Courses (<%= activity_type.abbreviation %>)</div></th>
			<th class="number"><div class="sort-icon">Individuals (<%= activity_type.abbreviation %>)</div></th>
		<% end -%>
		<th class="light-left-border center number"><div class="sort-icon">Users</div></th>
	</tr>

	<% for department, activities in @departments %>
	<tr>
		<td><%= department.is_a?(String) ? department : department.try(:name) || h(department.inspect) %></td>
		<td><%= link_to "Courses", {:action => 'courses', :id => @year, :department_key => department} %></td>
		<td><%= link_to "Individuals", {:action => 'individuals', :id => @year, :department_key => department} %></td>
		<% for activity_type in @activity_types %>
			<td class="light-left-border center">
				<%= activities[activity_type.id][:courses].zero? ? "<span class=\"light\">-</span>" : activities[activity_type.id][:courses] %>
			</td>
			<td class="center">
				<%= activities[activity_type.id][:individuals].zero? ? "<span class=\"light\">-</span>" : activities[activity_type.id][:individuals] %>
			</td>
		<% end -%>
		<td class="light-left-border center">
			<% users = activities[:department_object].accountability_coordinator_authorizations.collect(&:login).uniq rescue [] %>
			<%= tooltip users.count, "<strong>Authorized Users:</strong> #{users.empty? ? "(none)" : users.join(", ")}" %>
		</td>
	</tr>
	<% end -%>
	
</table>
		
<% sidebar :navigation %>