<h1>Edit Unit</h1>

<% upload_form_for :unit, @unit, 
			:url => @unit, 
			:html => { :method => :put } do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Save", :disable_with => 'Saving...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', @unit, :class => 'cancel button' %>

<% end %>
