<h1>New Unit</h1>

<% upload_form_for :unit, @unit, :url => units_path do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', units_path, :class => 'cancel button' %>

<% end %>
