<% make_main_content_blocked %>

<div class="content-block">
	<h1><%=h @unit.name %>
		<span class="light right"><%= link_to "Edit", edit_unit_path(@unit), :class => 'edit button' %></span></h1>

	<p class="object_timestamp"><%= object_timestamp_details(@unit) %></p>

	<dl class="inline-definitions">

		<dt>Abbreviation</dt>
		<dd><%=h @unit.abbreviation %></dd>

		<dt>Logo URI</dt>
		<dd><%=h @unit.logo_uri %></dd>

		<dt>Logo</dt>
		<dd><%= image_tag @unit.logo.large.url if @unit.logo %></dd>

		<dt>Description</dt>
		<dd><%=h @unit.description %></dd>

		<dt>Home url</dt>
		<dd><%=h @unit.home_url %></dd>

		<dt>Engage url</dt>
		<dd><%=h @unit.engage_url %></dd>

	</dl>
</div>

<% if @current_user.has_role?(:user_manager, @unit) %>
	<div class="content-block">
		<span class="light right smaller" style="margin-top:10px">
			<%= check_box_tag :show_globals, true, true %>
			<%= observe_field :show_globals, :function => "if($('show_globals').checked) { 
																$$('.global_role').invoke('show');
															} else {
																$$('.global_role').invoke('hide');
															}" %>
			<label for="show_globals">Show global roles</label>
		</span>

		<h1>Users ↔ Roles</h1>

		<table>
			<%= render :partial => 'admin/users/user_roles', :collection => @unit.users.uniq, :locals => { :unit => @unit } %>
		</table>
	</div>
<% end -%>