<h1><%%=h @<%= singular_name %>.title %>
	<span class="light right"><%%= link_to "Edit", <%= edit_path(true) %>, :class => 'edit button' %></span></h1>

<p class="object_timestamp"><%%= object_timestamp_details(@<%= singular_name %>) %></p>

<dl class="inline-definitions">

	<%- for attribute in attributes -%>
	<dt><%= attribute.column.human_name.downcase %></dt>
	<dd><%%=h @<%= singular_name %>.<%= attribute.name %> %></dd>

	<%- end -%>

</dl>