<h1>Copy Positions</h1>
<p>This page allows you to copy a service-learning position from a previous quarter to <%= @quarter.title %>. To proceed, select the quarter that you'd like to copy from, then select which positions you would like to copy. When you're done, click the "Copy" button to create the new positions.</p>

<dl class="big numbers">

<dt>1</dt>
<dd><%= form_tag %>
	Copy positions from 
	<select name="previous_quarter_id" id="previous_quarter_id">
		<%= options_for_select @previous_quarter_options, (@previous_quarter.id if @previous_quarter) %>
	</select>
	<%= submit_tag "Choose" %>
	</form>
</dd>

<% if @previous_quarter %>

	<% form_for :previous_quarter, 
				@previous_quarter, 
				:action => 'copy_from_previous',
				:html => { :id => 'which_positions' } do |f| -%>
	<dt>2</dt>
	<dd>
	<p>Which positions would you like to copy over to this quarter?</p>
	<table>
		<%= render 	:partial => "community_partner/service_learning/positions/previous_position", 
					:collection => @positions,
					:locals => { :f => f } %>
	</table>
	</dd>
	
	<div id="which_attributes" style="display:none">	
	<%= observe_form 'which_positions', :function => "Element.show('which_attributes')" %>

		<dt>3</dt>
		<dd>
		<p>What attributes of these positions would you like to copy over?
		<br><em class="small">Note: You cannot copy over orientation information or the number of slots</em></p>

		<table>
			<tr><td><%= check_box_tag "copy[]", "details", false, :id => "copy_details" %></td>
				<td><label for="copy_details">Title, description, and restrictions</label></td></tr>
			<tr><td><%= check_box_tag "copy[]", "supervisor", false, :id => "copy_supervisor" %></td>
				<td><label for="copy_supervisor">Supervisor</label></td></tr>
			<tr><td><%= check_box_tag "copy[]", "location", false, :id => "copy_location" %></td>
				<td><label for="copy_location">Location and transportation information</label></td></tr>
			<tr><td><%= check_box_tag "copy[]", "times", false, :id => "copy_times" %></td>
				<td><label for="copy_times">Times</label></td></tr>
			<tr><td><%= check_box_tag "copy[]", "orientation_notes", false, :id => "copy_orientation_notes" %></td>
				<td><label for="copy_orientation_notes">Orientation Notes</label></td></tr>
			<% if @use_pipeline_links %>
			<tr><td><%= check_box_tag "copy[]", "pipeline_position", false, :id => "copy_pipeline_position" %></td>
				<td><label for="copy_pipeline_position">Pipeline Position Information</label></td></tr>
			<tr><td><%= check_box_tag "copy[]", "ideal_number_of_slots", true, :id => "ideal_number_of_slots" %></td>
					<td><label for="copy_pipeline_position">Ideal number of slots</label></td></tr>
			<% end %>
		</table>
		</dd>
		
		<% if @organization_quarters.size == 1 %>
			<%= hidden_field_tag :new_organization_quarter_id, @organization_quarters.first.id %>
		<%- else -%>
			<dt>4</dt><% n = 5 %>
			<dd><p>What UW department are you working with to create these positions?</p>
				<select name="new_organization_quarter_id">
					<option value="">-- Please select --</option>
					<%= options_from_collection_for_select @organization_quarters, :id, :unit_name, params[:new_organization_quarter_id]  %>
				</select>
			</dd>
		<% end -%>
		
		<dt><%= (n || 4).to_s %></dt>
		<dd><input type=submit value="Copy into new positions"></dd>
	
	</div>
	
	<% end -%>
	
<% end -%>

</dl>