<%= make_main_content_blocked %>

<div class="content-block">
	<% title(@organization.name) %>
	<h1 id="position_title_header"><%= @position.title %></h1>
	
	<%= error_messages_for :position %>

</div>

<% form_for @position, 
			:url => community_partner_service_learning_position_path(@quarter, @position), 
			:builder => HelpTextFormBuilder,
			:html => { :class => "help_text", :id => 'position_form' } do |f| %>

	<%= render  :partial => "fields", 
				:locals => { :f => f, :service_learning_position => @position, :admin => false } %>

	<%= periodically_call_remote :url => { :action => 'update', :id => @position, :auto_save => true },
								:indicator => true,
								:submit => "position_form",
								:frequency => 180 %>

<% end %>

<% sidebar :save, :class => "save" %>