<% title(@organization.name) %>

<h1>Positions
	<span class="light">&raquo; <%= @quarter.title %></span></h1>

<table>
  <tr>
	<th>Title</th>
	<th>Ideal Number</th>
	<th>Students (<%= link_to "view all", community_partner_service_learning_students_path(@quarter, :unit => @unit.id) %>)</th>
	<th>Functions</th>
  </tr>

		
		
<% for organization_quarter in @organization_quarters %>

	<tr class="rowset-header">
		<td colspan=4><%= organization_quarter.unit.name %> Positions</td>
	</tr>

	<% if organization_quarter.positions.empty? %>
		<tr class="empty"><td colspan=4>
			No positions exist yet. <%= link_to "Copy one", copy_from_previous_community_partner_service_learning_positions_path(@quarter) %> from a previous quarter or <%= link_to "create a brand new one", new_community_partner_service_learning_position_path(@quarter) %>.
		</td></tr>
	<% end -%>


	<% for position in organization_quarter.positions %>
	  <tr>
	
		<td class="icon-left" id="position">
			<%= link_to position.title, community_partner_service_learning_position_path(@quarter, position, :unit => @unit.id) %></td>
	
		<td><%= position.ideal_number_of_slots %></td>
	
		<td><% for placement in position.placements.filled %>
				<%= link_to placement.person.fullname, community_partner_service_learning_student_path(@quarter, placement, :unit => @unit.id) %>
				<% unless placement.course.nil? %>
				  <small>(<%= link_to placement.course.title, community_partner_service_learning_course_path(@quarter, placement.course) %>)</small>
				<% end %>
				<br>
			<% end -%>
			</td>
	
	
	    <td><%= link_to 'View', community_partner_service_learning_position_path(@quarter, position, :unit => @unit.id) %>
			<% if position.organization_quarter.allow_position_edits? && !position.general_study? %>
			    | 	<%= link_to 'Edit', edit_community_partner_service_learning_position_path(@quarter, position, :unit => @unit.id) %>
			    |	<%= link_to 'Delete', community_partner_service_learning_position_path(@quarter, position, :unit => @unit.id), 
										   :confirm => 'Are you sure?', :method => :delete %></td>
			<% end -%>
	  </tr>
	<% end %>
	
<% end -%>
</table>


<% sidebar :add_new_positions, :class => 'new' if @organization_quarters.collect(&:allow_position_edits?).include?(true) %>
<% sidebar :past_quarters if @organization.organization_quarters.size > 1 %>