<h1>New Service-Learning Position</h1>

<% upload_form_for @position, :url => community_partner_service_learning_positions_path(@quarter),
						:builder => HelpTextFormBuilder,
						:html => { :class => "help_text", :id => 'position_form' } do |f| %>

	<%= error_messages_for :position %>

	<%= render  :partial => "admin/service_learning/organizations/positions/tabs/basic_info",
				:locals => { :f => f, :service_learning_position => @position,
					 					:admin => false, 
										:skip_nav => true,
										:skip_title => true } %>
										
	<div class="progress_nav_buttons">

		<%= f.submit "Create" %>
		<%= separator %>
		<%= link_to 'Cancel', community_partner_service_learning_positions_path(@quarter), :class => "cancel button" %>
		
	</div>

<% end %>
