<% make_main_content_blocked %>

<% form_for :task, @task, :url => offering_phase_task_path(@offering, @phase, @task), :html => { :method => :put } do |f| %>

	<div class="content-block">

		<h1><%= @task.title %></h1>

		<%= f.error_messages %>

		<%= f.submit "Save", :disable_with => 'Saving...' %>
		<%= separator %>
		<%= link_to 'Cancel', (params[:return_to] || offering_phase_task_path(@offering, @phase, @task)), :class => "cancel button" %>

	</div>

	<%= render :partial => "fields", :locals => { :f => f } %>

<% end %>

<% sidebar :associations, :tasks %>