<h1 class="big-icon tasks">Admin Phases &amp; Tasks
	<span class="light right"><%= link_to "Add new phase", new_offering_phase_path(@offering), :class => 'add button' %></span></h1>

<table>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Tasks</th>
		<th>Functions</th>
	</tr>

<% for phase in @phases %>
<% i ||= 0; i += 1 %>
<tr>
	<td><small class="light"><%= i %></small></td>
	<td><%= link_to phase.name, offering_phase_path(@offering, phase) %></td>
	<td><%= link_to pluralize(phase.tasks.size, "task"), offering_phase_tasks_path(@offering, phase) %></td>
	<td><%= link_to 'Show', offering_phase_path(@offering, phase) %>
		| <%= link_to 'Edit', edit_offering_phase_path(@offering, phase) %>
		| <%= link_to 'Delete', offering_phase_path(@offering, phase), :confirm => 'Are you sure?', :method => :delete %>
	</td>
</tr>
<% end %>

<% if @phases.empty? -%>
<tr class="empty">
	<td colspan=4>
		No phases have been defined yet.
	</td>
</tr>
<%- end -%>

</table>



<% sidebar "/admin/offerings/sidebar/settings" %>