<h1>Application Categories
	<span class="light right"><%= link_to "Add new application category", new_offering_application_category_path(@offering), :class => 'add button' %></span></h1>

<%= form_tag admin_communicate_write_email_url, :id => 'application_categories_form' %>

<table>
	<tr>
		<th>Category</th>
		<th>Type</th>
		<th>Other Option?</th>
		<th>Sequence</th>
		<th colspan=3>Functions</th>
	</tr>
	<% for application_category in @application_categories %>
	<tr id="application_category_<%= application_category.id %>">
		<td><%=h application_category.title %></td>
		<td><%=h application_category.offering_application_type.title if application_category.offering_application_type %></td>
		<td><%=h application_category.other_option %></td>
		<td><%=h application_category.sequence %></td>
		<td><%= link_to "Show", offering_application_category_path(@offering, application_category) %></td>
		<td><%= link_to "Edit", edit_offering_application_category_path(@offering, application_category) %></td>
		<td><%= link_to_remote "Destroy", 
						:url => offering_application_category_path(@offering, application_category), 
						:confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>

	<% if @application_categories.empty? %>
	<tr class="empty">
		<td colspan=10>No application categories exist. <%= link_to "Create one.", new_offering_application_category_path(@offering) %></td>
	</tr>
	<% end %>

</table>

</form>

<% sidebar "/admin/offerings/sidebar/settings" %>
