<h1><%=h @application_category.title %>
	<span class="light right"><%= link_to "Edit", edit_offering_application_category_path(@offering, @application_category), :class => 'edit button' %></span></h1>

<p class="object_timestamp"><%= object_timestamp_details(@application_category) %></p>

<dl class="inline-definitions">

	<dt>category</dt>
	<dd><%=h @application_category.application_category.title if @application_category.application_category %></dd>

	<dt>type</dt>
	<dd><%=h @application_category.offering_application_type.title if @application_category.offering_application_type %></dd>

	<dt>other option</dt>
	<dd><%=h @application_category.other_option %></dd>

	<dt>sequence</dt>
	<dd><%=h @application_category.sequence %></dd>


</dl>
<% sidebar "/admin/offerings/sidebar/settings" %>