<% form_for :validation, @validation, :url => offering_page_question_validations_path(@offering, @page, @question) do |f| %>

	<h1>New Validation</h1>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>

	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', edit_offering_page_question_path(@offering, @page, @question, :anchor => 'validation'), :class => 'cancel button' %>

<% end %>
