<div id="equipment_select" <%= "style='display:none'" if @reservation.start_date.blank? || @reservation.end_date.blank? %>>

	<label>Step 2: Choose your equipment</label>
	<ul>
	<li>To add equipment to your reservation, click on the items below. When you're done, click <strong>"Submit My Reservation"</strong> in the bottom of this page.</li>
	<li>Can't find the equipment you want? That means the equipment has been reserved by another staff. <span class="highlight">Please try another start/end time</span> and click on search button in <%= link_to "Step One", :anchor => "date_range_select" %> .</li>
	<li>Wondering which equipment has been reserved by which staff? Go to <%= link_to "Equipments", equipments_path %>.</li>
	</ul>
	
	<div class="equipment_select">

		<% for category in EquipmentCategory.all %>
		
			<% available_equipment = category.equipments.select{|e| e.available_for?(@reservation)} %>
			<% unless available_equipment.empty? %>
		
				<div class="category" id="equipment_category_<%= category.id %>">
					<h4><%= category.title %></h4>
		
					<ul>
						<% for equipment in available_equipment %>
							<li id="equipment_<%= equipment.id %>">

								<% content = "" %>
								<% content << "<span class=\"add\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>" %>
								<% content << image_tag(equipment.picture.thumb.url) %>
								<% content << "<br>" %>
								<% content << "<span class=\"title\">#{equipment.title}</span>" %>
								<% content << "<small class=\"tag\">#{equipment.tag}</small>" %>
								<% klass = "" %>
								<% klass = "disabled" unless @reservation.allows?(equipment) %>
								<% klass = "selected" if @reservation.equipments.include?(equipment) %>
								<%= link_to_remote content,
								 					{:url => { :action => 'staff_reserve', :id => @reservation },
								 					:indicator => 'global',
								 					:with => "'equipment_id=' + #{equipment.id}"},
								 					:class => klass %>

								<%= link_to "More info", 
											{:action => 'about', :id => equipment}, 
											:class => "more_info",
											:popup => ['height=600,width=700'] %>

							</li>
						<% end -%>
					</ul>

				</div>
			<% end -%>
		<% end -%>
	
	</div>
		
</div>