<% mode ||= nil %>

<tr>
	<td width="50"><%= image_tag equipment.picture.thumb %></td>
	<td><%= equipment.title %>
		<br><%= content_tag(:small, "(#{equipment.tag})", :class => 'light') %></td>
	<td><%= content_tag(:div, equipment.included_accessories, :class => 'included-accessories') %>
		<%= content_tag(:div, equipment.special_instructions, :class => 'special-instructions') unless equipment.special_instructions.blank? %>
		<%= content_tag(:div, equipment.category.try(:checkout_instructions), 
						:class => 'special-instructions') if !equipment.category.try(:checkout_instructions).blank? && mode == :checkout %>
		<%= content_tag(:div, equipment.category.try(:checkin_instructions), 
						:class => 'special-instructions') if !equipment.category.try(:checkin_instructions).blank? && mode == :checkin %>
		</td>
</tr>
