<% make_main_content_full_width %>

<h1><%= strip_tags session[:breadcrumbs].title(" &raquo; ", :skip_first => true) %>
	<%= content_tag :span, "&raquo; #{@unit.title}", :class => "light" if @unit %>
	<span class="light right"><%= link_to "Create new reservation", new_equipment_reservation_path, :class => 'add button' %></span></h1>

<% paginated_section @equipment_reservations do %>

	<div class="edge-to-edge">
	<table>
		<tr>
			<th>ID</th>
			<th>Person</th>
			<th>Dates/Length</th>
			<th>Unit</th>
			<th>Status</th>
			<th>Equipment</th>
			<th>Functions</th>
		</tr>
		
		<%= render @equipment_reservations %>

		<% if @equipment_reservations.empty? %>
		<tr class="empty">
			<td colspan=10>No equipment reservations exist. <%= link_to "Create one.", new_equipment_reservation_path %></td>
		</tr>
		<% end %>

	</table>
	</div>

<% end -%>