<h1>Checkout
	<span class="light">&raquo; Reservation #<%= @equipment_reservation.id_s %></span></h1>

<%= render :partial => "admin/students/student_header", :locals => { :anchor => 'equipment_reservations' } %>
<hr size=1>
<br>

<% form_for @equipment_reservation, :url => { :action => :checkout } do |f| %>

	<%= f.error_messages %>
	
	<dl class="big numbers">
	
		<dt>1</dt>
		<dd><strong>Gather equipment</strong>
			<br>For each piece of equipment, ensure that the included accessories are present.
			<br><br>
			<table class="highlightless">
				<%= render :partial => 'equipment', :collection => @equipment_reservation.equipments, :locals => { :mode => :checkout } %>
			</table>
			</dd>

		<dt>2</dt>
		<dd><strong>Verify student's identity</strong>
			<br>Ask for the student's <strong>Husky Card</strong> and check that the student name and picture match.
		
			<p><%= f.check_box :checkout_id_verify, {}, "Husky Card: #{@student.fullname}", nil %>
				<%= f.label :checkout_id_verify, "Husky Card present: #{@student.fullname}" %></p>
			</dd>

		<dt>3</dt>
		<dd><strong>Confirm due date</strong>
			<br>Make sure the student knows that late equipment results in reservation restrictions.
			<div class="yellow box">
				This reservation is due back on <strong><%= @equipment_reservation.end_date.to_s(:date_with_day_of_week) %></strong>
				by <strong>4 pm</strong>.
			</div>
			</dd>

		<dt>4</dt>
		<dd><strong>Finish</strong> this checkout: 
			<%= f.submit "Finish Checkout" %>
			</dd>
	
	</dl>

<% end -%>

<% sidebar :reservation_details, :policies %>