<p>
  <b>Title:</b>
  <%=h @location.title %>
</p>

<p>
  <b>Address line 1:</b>
  <%=h @location.address_line_1 %>
</p>

<p>
  <b>Address line 2:</b>
  <%=h @location.address_line_2 %>
</p>

<p>
  <b>Address city:</b>
  <%=h @location.address_city %>
</p>

<p>
  <b>Address state:</b>
  <%=h @location.address_state %>
</p>

<p>
  <b>Address zip:</b>
  <%=h @location.address_zip %>
</p>

<p>
  <b>Driving directions:</b>
  <%=h @location.driving_directions %>
</p>

<p>
  <b>Bus directions:</b>
  <%=h @location.bus_directions %>
</p>

<p>
  <b>Notes:</b>
  <%=h @location.notes %>
</p>

<p>
  <b>Site supervisor person:</b>
  <%=h @location.site_supervisor_person_id %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
