<h1>Edit Appointment</h1>

<% form_for :appointment, @appointment, 
			:url => appointment_path(@appointment), 
			:html => { :method => :put } do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Save", :disable_with => 'Saving...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', appointment_path(@appointment), :class => 'cancel button' %>

<% end %>
