<h1>Appointments
	<span class="light right"><%= link_to "Add new appointment", new_appointment_path, :class => 'add button' %></span></h1>

<%= form_tag admin_communicate_write_email_url, :id => 'appointments_form' %>

<% paginated_section(@appointments) do %>

	<table>
		<tr>
			<th>Time</th>
			<th>Type</th>
			<th>Staff Person</th>
			<th>Student</th>
			<th>Check In Time</th>
			<th colspan=3>Functions</th>
		</tr>
	
		<% current_date = nil %>
	
		<% for appointment in @appointments %>
		<% if appointment.start_time.to_date != current_date %>
		<tr class="rowset-header">
			<td colspan=15>
				<%- if appointment.start_time.to_date == Time.now.to_date -%>
					Today
				<%- else -%>
					<%= relative_timestamp(appointment.start_time, :date_only => true) rescue "unknown" %>
				<% end -%></td>
			<% current_date = appointment.start_time.to_date %>
		</tr>
		<% end -%>

		<%= render :partial => (appointment.is_a?(QuickContact) ? "quick_contact" : "appointment"), :object => appointment %>
		<% end %>

		<% if @appointments.empty? %>
		<tr class="empty">
			<td colspan=10>No appointments exist. <%= link_to "Create one.", new_appointment_path %></td>
		</tr>
		<% end %>

	</table>

<% end -%>

</form>