<h1>Appointment
	<span class="light right"><%= link_to "Edit", edit_appointment_path(@appointment), :class => 'edit button' %></span></h1>

<%= render :partial => "admin/students/student_header" %>

<div class="big-border box">
	<h4 class="info icon-left">Appointment Details</h4>

	<div style="float:right" class="checkin-controls" id="checkin-controls">
		<%- if @appointment.drop_in? -%>		
			<span>DROP-IN</span>
		<%- else -%>
			<% if @appointment.checked_in? %>
				<span>Checked in at <%= @appointment.check_in_time.to_s(:time12) %></span>
			<%- else -%>
				<span class="light">Not checked in.</span>
				<br><%= link_to_remote "Check-in", {:url => checkin_appointment_path(@appointment)}, :class => 'button' %>
			<% end -%>
		<% end -%>
	</div>

	<ul class="bulletless marginless">
	
		<li class="icon-left time"><%= @appointment.start_time.to_s(:date_at_time12) %></li>
	
		<li class="icon-left person"><%= @appointment.staff_person.firstname_first %>
			<%= "<span class=light>(#{@appointment.unit.name})</span>" if @appointment.unit %></li>
	
		<li class="icon-left favorite yellow" id="previous_appointment_note" 
			style="<%= "display:none" unless @appointment.previous_appointment %>">
			<%= render :partial => "previous_appointment_note" if @appointment.previous_appointment %>
		</li>
	</ul>
	
</div>

<div class="big-border box">
	<h4 class="icon-left edit">Your Notes</h4>

	<% form_for @appointment, :html => { :id => 'appointment_form' } do |f| %>

	<dl class="inline-definitions">

		<dt>Front Desk /<br>Purpose Notes</dt>
		<dd><%= f.text_area :front_desk_notes, :rows => 2, :style => "width: 95%" %>
			<p class="caption">A brief description about the purpose of this appointment.</p></dd>

		<dt>Notes</dt>
		<dd><%= f.text_area :notes, :rows => 20, :style => "width: 95%" %></dd>

		<dt>&nbsp;</dt>
		<dd><%#= f.submit "Save &amp; Close" %>
			<%= submit_to_remote 'save', "Save &amp; Keep Working"  %>
			<%= content_tag(:span, nil, :class => 'autosave', :id => 'autosave_note') %></dd>

	</dl>
	
	<%= periodically_call_remote :url => appointment_url(@appointment, :auto_save => true),
								:frequency => 2.minutes,
	 							:submit => 'appointment_form' %>
	
	<% end -%>

</div>

<% sidebar :other_appointments %>