<div class="content-topper">
	<h4 class="grey paddingless" style="margin-bottom:0">
		<%= @offering.name %></h4>

	<%= render :partial => "admin/apply/phase_timeline" %>
</div>

<h3><%= @phase.name %>
	<span class="light right">
		<%= link_to "Add new task", new_offering_phase_task_path(@offering, @phase, :return_to => request.url), :class => "new button" %>
		<%= link_to_function("Re-arrange tasks", "$$('.sort-handle').invoke('toggle')", :class => "sort button") %></span>
	</h3>
<ol class="extra-padding completable" id="tasks">
	<%= render :partial => "task", :collection => @phase.tasks %>
</ol>

<%= sortable_element "tasks", :url => { :action => 'sort' }, :handle => 'sort-handle', :indicator => 'global' %>

<% sidebar :quick_access, "admin/apply/sidebar/search" %>