<% admin ||= false %>

<h2>Sectors</h2>
<p class="intro"><%= HelpText.caption(:education_sector_intro, ServiceLearningPosition) %></p>

<div>
  <label for="service_learning_positions_sector_type_ids">Sectors</label>
  <ul id="service_learning_position_sectors_list">
  <% ServiceLearningPositionsSectorType.find(:all, :order => "name").each do |sector| %>
    <li>
      <%= hidden_field_tag "service_learning_position[service_learning_positions_sector_type_ids][]", '' %>
      <%= check_box_tag("service_learning_position[service_learning_positions_sector_type_ids][]", sector.id, 
                        service_learning_position.service_learning_positions_sector_type_ids.include?(sector.id), {:default => true, :onchange => "if (#{sector.id==1}){Element.toggle(tab_pane_link_subjects);Element.toggle(tab_pane_link_grade_levels);Element.toggle(tab_pane_link_tutoring_formats);Element.toggle(sector_next_button);Element.toggle(non_sector_next_button);Element.toggle(sector_previous_button);Element.toggle(non_sector_previous_button);}" }) %>
      <%= sector.name %> 
    </li>
  <% end %>
  </ul>
</div>

<% if admin %>
  <div class="service_learning_position_add_sector_container">
  <%= text_field_tag 'new_sector', '', {:id => "service_learning_position_add_sector"} %>
  <%= link_to_remote "Add Sector", {:with => "'sector[name]=' + $('service_learning_position_add_sector').value",
                                  :url => remote_add_sector_service_learning_organization_positions_path(@unit, @quarter,@organization), 
                                  :loading  => "$('sector_add_indicator').show()",
                                  :complete => "$('sector_add_indicator').hide()"}, {:class => "button"} %>
  <%= indicator("sector_add_indicator") %>
</div>
<% end %>

<div class="progress_nav_buttons">
	<%= link_to_tab_pane "&#x2190; Previous: Location", :location, :link_only => true, :link_class => "button" %>
	  
  <span id="sector_next_button" <%= "style='display:none'" unless service_learning_position.education_sector? %>>
    <%= link_to_tab_pane "Next: subjects &#x2192;", :subjects, :link_only => true, :link_class => "strong button" %>
  </span>
  <span id="non_sector_next_button" <%= "style='display:none'" if service_learning_position.education_sector? %>>
    <%= link_to_tab_pane "Next: Languages Spoken &#x2192;", :language_spokens, :link_only => true, :link_class => "strong button" %>
  </span>

</div>