<dl class="inline-definitions">
	
	<dt><%= f.label :tag %></dt>
	<dd><%= f.text_field :tag %></dd>
	
	<dt><%= f.label :title %></dt>
	<dd><%= f.text_field :title %></dd>
	
	<dt><%= f.label :equipment_category_id, "Category" %></dt>
	<dd><%= f.collection_select :equipment_category_id, EquipmentCategory.all, :id, :title, :prompt => true %>
		<small><%= link_to "Manage categories", equipment_categories_path, :popup => true %></small>
		</dd>
	
	<dt><%= f.label :purchase_date %></dt>
	<dd><%= f.datetime_select :purchase_date %></dd>

	<dt>Replacement Fee</dt>
	<dd>$<%= f.text_field :replacement_fee %>
		<p class="caption">How much will a student be charged if he or she loses this equipment? Note: This may
			or may not be the same as the purchase price or value of the item.</p></dd>

	<dt><%= f.label :serial_number %></dt>
	<dd><%= f.text_field :serial_number %></dd>

	<dt>Inventory Number</dt>
	<dd><%= f.text_field :inventory_number %>
		<p class="caption">Is there a UW or UAA inventory number assigned to this item?</p></dd>

	<dt>Warranty Number</dt>
	<dd><%= f.text_field :warranty_number %>
		<p class="caption">If this product has a warranty, what is the enrollment number or other information?</p></dd>

	<dt><%= f.label :warranty_expiration_date, "Warranty Expiration" %></dt>
	<dd><%= f.datetime_select :warranty_expiration_date, :include_blank => true %>
		<p class="caption">When does the service period or warranty for this item expire?</p></dd>

	<dt><%= f.label :ready_for_checkout %></dt>
	<dd><%= f.check_box :ready_for_checkout %></dd>
	
	<dt><%= f.label :staff_only %></dt>
	<dd><%= f.check_box :staff_only %>
		<p class="caption">Staff-only items cannot be checked out by students.</p></dd>
	
	<dt><%= f.label :local_picture, "Picture" %></dt>
	<dd><%= image_tag f.object.local_picture.thumb.url if f.object.local_picture %>
		<%= upload_column_field 'equipment', 'local_picture' %>
		<p class="caption">If you don't choose a picture for this equipment, the category's 
			main picture will be used when possible.</p>
			
		<% if f.object.local_picture %>
			<p><%= check_box_tag "equipment[clear_picture]", true %> Remove the picture completely</p>
		<% end -%>
		</dd>
	
	<dt><%= f.label :description %></dt>
	<dd><%= f.text_area :description, :class => "mceEditor", :style => "width: 99%" %>
		<p class="caption">The description is displayed to students when they click the "More Info" link for this piece of equipment.</p></dd>
	
	<dt><%= f.label :included_accessories, "Accessories" %></dt>
	<dd><%= f.text_area :included_accessories, :class => "mceEditor", :style => "width: 99%" %>
		<p class="caption">What else is included with this equipment when someone checks it out? e.g., case, power cable, etc.</p></dd>

	<dt><%= f.label :included_software, "Software" %></dt>
	<dd><%= f.text_area :included_software, :class => "mceEditor", :style => "width: 99%" %>
		<p class="caption">This only applies to laptops and other computers.</p></dd>

	<dt><%= f.label :special_instructions, "Staff Notes" %></dt>
	<dd><%= f.text_area :special_instructions, :class => "mceEditor", :style => "width: 99%" %>
		<p class="caption">This should be aimed at staff members who will be checking in or checking out the equipment.</p></dd>

</dl>