<h1>Edit Equipment</h1>

<% upload_form_for :equipment, @equipment, 
			:url => equipment_path(@equipment), 
			:html => { :method => :put } do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Save", :disable_with => 'Saving...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', equipment_path(@equipment), :class => "cancel button" %>

<% end %>
