<h1>
	<%=h @equipment.title %>
	<span class="light"> &raquo; <%= @equipment.tag %></span>
	<%= content_tag(:span, "staff only", :class => 'orange tag') if @equipment.staff_only? %>
	<span class="light right"><%= link_to "Edit", edit_equipment_path(@equipment), :class => 'edit button' %></span></h1>

<p class="object_timestamp"><%= object_timestamp_details(@equipment) %></p>

<div class="big-border box">
<h4 class="icon-left show">About this Item</h4>
	<%= image_tag @equipment.picture.large.url, :align => "right" %>
	<%= render :partial => "about" %>
	<br class="clear">
</div>

<% unless @equipment.special_instructions.blank? %>
<dl class="inline-definitions">
	<dt>Staff Notes</dt>
	<dd><%= @equipment.special_instructions %></dd>
</dl>
<% end -%>

<h3>Reservation History</h3>
<table>
	<tr class="small left">
		<th>ID</th>
		<th>Student</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Returned</th>
	</tr>
	
	<%= render :partial => "reservation", :collection => @equipment.reservations.submitted %>
	
	<% if @equipment.reservations.empty? %>
	<tr class="empty">
		<td colspan=10>This item has never been checked out.</td>
	</tr>
	<% end -%>
	
</table>

<% sidebar :details, :quick_checkout %>