<h1>New Group_member</h1>

<% form_for :group_member, @group_member, :url => { :action => 'create' } do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', :action => 'index' %>

<% end %>
