<h1><%=h @group_member.firstname_first %>
	<span class="light right"><%= link_to "Edit", {:action => 'edit', :id => @group_member}, :class => "button" %></span></h1>

<dl class="inline-definitions">

	<dt>firstname</dt>
	<dd><%= @group_member.firstname %></dd>

	<dt>lastname</dt>
	<dd><%= @group_member.lastname %></dd>

	<dt>uw student</dt>
	<dd><%= @group_member.uw_student? %></dd>

	<dt>email</dt>
	<dd><%= @group_member.email %></dd>

	<dt>verified?</dt>
	<dd><%= @group_member.verified? %>
		<br><small><%= "Verification e-mail sent #{relative_timestamp(@group_member.validation_email_sent_at)}" %></small>
		</dd>
		
	<dt>confirmed?</dt>
	<dd><%= @group_member.confirmed? %></dd>

	<% if @group_member.nominated_mentor %>
	<dt>nominated mentor</dt>
	<dd><%= @group_member.nominated_mentor.fullname %>
		<br><small><%= @group_member.nominated_mentor_explanation %></small>
		</dd>
	<% end -%>
	
	<dt>theme response</dt>
	<dd><%= @group_member.theme_response %></dd>

	<dt>theme response2</dt>
	<dd><%= @group_member.theme_response2 %></dd>

	<dt>printed proceedings?</dt>
	<dd><%= @group_member.requests_printed_program? %></dd>

	<dt>fullname</dt>
	<dd><%= @group_member.person.fullname rescue "unknown" %></dd>

	<dt>email</dt>
	<dd><%= @group_member.person.email rescue "unknown" %></dd>

	<dt>phone</dt>
	<dd><%= @group_member.person.phone rescue "unknown" %></dd>

	<dt>institution</dt>
	<dd><%= @group_member.person.institution rescue "unknown" %></dd>

	<dt>majors</dt>
	<dd><%= @group_member.person.majors_list rescue "unknown" %></dd>

	<dt>class</dt>
	<dd><%= @group_member.person.class_standing_description rescue "unknown" %></dd>

	<dt>scholarships</dt>
	<dd><%= @group_member.person.awards_list rescue "unknown" %></dd>


</dl>