<h1><%= @service_learning_course.title %></h1>

<dl class="inline-definitions">

	<dt>title</dt>
	<dd><strong><%=h @service_learning_course.title %></strong></dd>

	<dt>courses</dt>
	<dd><% for course in @service_learning_course.courses %>
				<li><%= course.full_title %></li>
			<% end -%>
		</dd>


	<dt>overview</dt>
	<dd><%= simple_format(@service_learning_course.overview) %></dd>

	<dt>role of<br>service learning</dt>
	<dd><%= simple_format @service_learning_course.role_of_service_learning %></dd>

	<dt>assignments</dt>
	<dd><%= simple_format @service_learning_course.assignments %></dd>

	<dt>syllabus</dt>
	<dd><%=h @service_learning_course.syllabus %>
		<%= auto_link(@service_learning_course.syllabus_url) %></dd>

</dl>
