<%= title @offering.title, "Confirm Your Participation" %>

<%= render :partial => "apply/switch" if @application_count > 1 %>

<h1>Confirm Your Participation</h1>
<%= textilize @offering.confirmation_instructions %>

<% form_for :confirmation, @confirmer, :url => { :action => 'confirm' } do |f| %>
	
	<table class="borderless extra_padding" style="width: 55%">

		<tr <%= "class='highlight'" if !@confirmer.confirmed.nil? && @confirmer.confirmed %>>
			<td><%= f.radio_button :confirmed, true %></td>
			<td><%= f.label :confirmed_true, textilize_without_paragraph(ERB.new(@offering.confirmation_yes_text).result(binding)) %></td>
		</tr>
		
		<tr <%= "class='highlight'" if !@confirmer.confirmed.nil? && @confirmer.confirmed==false %>>
			<td><%= f.radio_button :confirmed, false %></td>
			<td><%= f.label :confirmed_false, "No, I will not be participating in the #{@offering.title}." %>
				<% unless @is_group_member %>
					<br><small>Note: This will cancel your application.</small>
				<% end -%></td>					
		</tr>
		
	</table>
	
	<div class="progress_nav_buttons">
			<% if @confirmer.confirmed.nil? || (Time.now <= @offering.confirmation_deadline if @offering.confirmation_deadline) %>
				<%= f.submit "Submit your confirmation →", :disable_with => "Submitting confirmation..." %>
			<% else %>
				<p><span class="green icon-left complete">You've confirmed your participation Please contact urp@uw.edu if you need to change your participation.</span></p>
			<% end -%>
	</div>

<% end -%>

<%= render :partial => "sidebar", :locals => { :page => 'index' } %>