<%= title @offering.title, "Nominate Your Outstanding Mentor" %>

<%= render :partial => "apply/switch" if @application_count > 1 %>

<h1>Nominate Your Outstanding Mentor</h1>
<%= textilize @offering.nomination_instructions %>

<% if @confirmer.nominated_mentor.nil? || !@confirmer.valid? %>
	<%= render :partial => "nomination_form" %>
<%- else -%>	
	<p>Thank you for nominating your mentor: <%= @confirmer.nominated_mentor.fullname %>!
<% end -%>

<div class="progress_nav_buttons">
	<%= button_to "Next: Theme Response →", { :action => "theme" }, :method => :get %>
</div>

<%= render :partial => "sidebar", :locals => { :page => 'nominate' } %>