<%= title @offering.title, (@offering.theme_response_title || "Theme Response") %>

<%= render :partial => "apply/switch" if @application_count > 1 %>

<h1><%= @offering.theme_response_title || "Theme Response" %></h1>

<div style="margin-left: 17em">
<% form_for :theme, @confirmer, :url => { :action => 'theme' } do |f| %>
	
	<%= f.error_messages %>

	<p>
		<%= textilize @offering.theme_response_instructions %>
		<% if @offering.theme_response_type == 'textarea' %>
			<%= f.text_area :theme_response, :rows => 4, :style => "width: 50%" %>
		<%- else -%>
			<%= f.text_field :theme_response %>
		<% end -%>
				<%= "<br><small class=light>#{@offering.theme_response_word_limit.to_s} word limit</small>" if @offering.theme_response_word_limit.to_i > 0 %>
	</p>

	<% unless @offering.theme_response2_instructions.blank? %>
	<p>
		<%= textilize @offering.theme_response2_instructions %>
		<% if @offering.theme_response2_type == 'textarea' %>
			<%= f.text_area :theme_response2, :rows => 4, :style => "width: 50%" %>
		<%- else -%>
			<%= f.text_field :theme_response2 %>
		<% end -%>
		<%= "<br><small class=light>#{@offering.theme_response2_word_limit.to_s} word limit</small>" if @offering.theme_response2_word_limit.to_i > 0 %>
	</p>
		
	<strong>For the purpose of these questions, do you give the University of Washington permission to publish your name, major, and academic year along with your responses?</strong><br> 
	<%= f.radio_button :theme_response3, "1" %> <%= f.label :theme_response3, "Yes, I give permission." %>  <%= f.radio_button :theme_response3, "0" %> <%= f.label :theme_response3, "No, please keep my responses anonymous." %><br /><br />
	
<% end -%>
	
	<p>
		<%= f.submit "Submit", :disable_with => "Submitting..." %>
	</p>
	
<% end -%>
</div>

<div class="progress_nav_buttons">
	<%= button_to "Next: Special Requests →", :action => 'requests', :method => :get %>
</div>

<%= render :partial => "sidebar", :locals => { :page => 'theme' } %>