<h1>Editing Tutoring Log</h1>

<% form_for :log, @log, :url => { :action => "update" }, :html => { :method => :put } do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Save", :disable_with => 'Saving...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', pipeline_tutoring_path(@quarter.abbrev, @course_abbrev, @placement), :class => 'cancel button' %>

<% end %>
