<h1>Edit Member Type</h1>

<% form_for :member_type, @member_type, 
			:url => admin_committee_member_type_path(@committee, @member_type), 
			:html => { :method => :put } do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Save", :disable_with => 'Saving...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', admin_committee_member_type_path(@committee, @member_type), :class => 'cancel button' %>

<% end %>
