<h1>New Member Type</h1>

<% form_for :member_type, @member_type, :url => admin_committee_member_types_path(@committee) do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', admin_committee_member_types_path(@committee), :class => 'cancel button' %>

<% end %>
