<h1>Committee Manager</h1>

<table>
	
	<tr>
		<th>Name</th>
		<th>Size</th>
		<th colspan=3>Functions</th>
	</tr>

<% for committee in @committees %>
	<tr>
		<td><%= link_to committee.name, admin_committee_url(committee) %></td>
		<td><%= committee.members.size %></td>
		<td><%= link_to 'Show', admin_committee_url(committee) %></td>
	    <td><%= link_to 'Edit', edit_admin_committee_path(committee) %></td>
	    <td><%= link_to 'Destroy', admin_committee_path(committee), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end -%>

</table>

<br>

<%= link_to "New", new_admin_committee_url %>
