<style type="text/css"><!--
#main {
	width: 900px;
}
.pipe_fields {
	margin: 5px 0px;
}
.pipe_fields dd {
	margin-left: 5px;
}
.pipe_fields div dd.f, .pipe_fields div.f {
	display: inline;
	float: left;
}
.school {
	width: 40%;
	float: left;
}
.contact_one, .contact_two {
	width: 30%;
	float: left;
}
.info div {
	width: 50%;
	float: left;
}
.info div.quarter_info {
	width: 25%;
}
#previous_school {
	float:left;
}
#next_school {
	float: right;
}
.clear_float {
	clear: both;
	width: 100%;
}
#org_nav {
	margin: 5px;
}
.float_right {
	float: right;
	margin: 5px;
}
.file_saved {
	color: green;
	font-size: 120%;
	margin: 5px 0 3px;
	padding: 5px 0 0;
}
--></style>
<div class="clear_float" ></div>
<div id="org_nav">
	<%= button_to "Previous School / Org", admin_pipeline_migrate_path(:id => (@page-1) ), 
		:method => 'get', :id => "previous_school" unless @page == 0 %>
	<%= button_to "Next School / Org", admin_pipeline_migrate_path(:id => (@page+1)), 
		:method => 'get', :id => "next_school" unless @schools.size == (@page+1) %>
		<div class="clear_float" ></div>
</div>
<hr class="clear_float" />
<% if !@saved_info.nil? %>
	<div class="file_saved">
		This School has been saved.
	</div>
<% end %>
<div>
	<% form_remote_tag :url => { :action => "create_migrate_file", :p => @page } do -%>
	<dl class='pipe_fields school'>
		<dl>School Name</dl>
		<dd><%= text_field_tag("school_name_value", 
			@saved_info.nil? ? @school[:name] :
			@saved_info[:school_name_value] , :size => 40) %></dd>
		<dl>Location in District</dl>
		<% saved_neighborhood = "" %>
		<% saved_neighborhood = @saved_info[:location_value] unless @saved_info.nil? %>
		<dd><%= select_tag("location_value", options_for_select(@neighborhoods, saved_neighborhood) ) %></dd>
		<dl>Address</dl>
		<% @address_split = nil %>
		<% unless @school[:attributes]['address'].nil? %>
			<% @address_split = @school[:attributes].delete("address").split(/,/) %>
		<% else %>
			<% @address_split = ['','']%>
		<% end %>
		<dd><%= text_field_tag("address_value", 
			@saved_info.nil? ? @address_split[0] :
			@saved_info[:address_value] , :size => 40) %></dd>
		<div class="f">
			<dl>City <small>(Blank = Seattle)</small></dl>
			<dd class="f"><%= text_field_tag("city_value", 
				@saved_info.nil? ? '' :
				@saved_info[:city_value] , :size => 20) %></dd>
		</div>
		<div class="f">
			<dl>Zip</dl>
			<dd class="f"><%= text_field_tag("zip_value",
				@saved_info.nil? ? @address_split[1] :
				@saved_info[:zip_value] , :size => 10) %></dd>
		</div>
		<div class="clear_float" ></div>
		<dl>Phone</dl>
		<dd><%= text_field_tag("phone_value", 
			@saved_info.nil? ? @school[:attributes].delete("phone") :
			@saved_info[:phone_value], :size => 30) %></dd>
	</dl>
	<dl class='pipe_fields contact_one'>
		<dl>Contact Name</dl>
		<dd><%= text_field_tag("contact_value", 
			@saved_info.nil? ? @school[:attributes].delete("contact") :
			@saved_info[:contact_value], :size => 30) %></dd>
		
		<dl>Contact Position</dl>
		<dd><%= text_field_tag("contact_position_value", 
			@saved_info.nil? ? @school[:attributes].delete("contact position") :
			@saved_info[:contact_position_value], :size => 30) %></dd>
			
		<dl>Contact Phone</dl>
		<dd><%= text_field_tag("contact_phone_value", 
			@saved_info.nil? ? @school[:attributes].delete("contact phone") :
			@saved_info[:contact_phone_value], :size => 30) %></dd>
		
		<dl>Contact Email</dl>
		<dd><%= text_field_tag("contact_email_value", 
			@saved_info.nil? ? @school[:attributes].delete("contact email") :
			@saved_info[:contact_email_value], :size => 30) %></dd>
	</dl>
	<dl class='pipe_fields contact_two'>
		<dl>Alternate Contact Name</dl>
		<dd><%= text_field_tag("contact_two_value", 
			@saved_info.nil? ? @school[:attributes].delete("contact_two") :
			@saved_info[:contact_two_value], :size => 30) %></dd>
		
		<dl>Alternate Contact Position</dl>
		<dd><%= text_field_tag("contact_two_position_value", 
			@saved_info.nil? ? @school[:attributes].delete("contact_two position") :
			@saved_info[:contact_two_position_value], :size => 30) %></dd>
		
		<dl>Alternate Contact Phone</dl>
		<dd><%= text_field_tag("contact_two_phone_value", 
			@saved_info.nil? ? @school[:attributes].delete("contact_two phone") :
			@saved_info[:contact_two_phone_value], :size => 30) %></dd>

		<dl>Alternate Contact Email</dl>
		<dd><%= text_field_tag("contact_two_email_value", 
			@saved_info.nil? ? @school[:attributes].delete("contact_two email") :
			@saved_info[:contact_two_email_value], :size => 30) %></dd>
	</dl>
	<div class="clear_float" ></div>
	<dl class='pipe_fields info'>
		<div>
			<dl>Available Tutoring Formats</dl>
			<dd>
			<% @tutor_formats = nil %>
			<% unless @school[:attributes]['available tutoring formats'].nil? %>
				<% if @saved_info %>
				<% @tutor_formats = @school[:attributes]["available tutoring formats"].split(/\n/) %>
				<% else %>
				<% @tutor_formats = @school[:attributes].delete("available tutoring formats").split(/\n/) %>
				<% end %>
			<% end %>
			<%= check_box_tag 'one_on_one_check', 'yes', 
				@saved_info.nil? ? (@tutor_formats.nil? ? false : !@tutor_formats[0].index('x').nil?) :
			 	!@saved_info[:one_on_one_check].nil? %> One-on-one tutoring <br />
			<%= check_box_tag 'small_group_check', 'yes', 
				@saved_info.nil? ? (@tutor_formats.nil? ? false : !@tutor_formats[1].index('x').nil?) :
				!@saved_info[:small_group_check].nil? %> Small group tutoring <br />
			<%= check_box_tag 'class_aid_check', 'yes', 
				@saved_info.nil? ? (@tutor_formats.nil? ? false : !@tutor_formats[2].index('x').nil?) :
				!@saved_info[:class_aid_check].nil? %> Classroom aid <br />
			<%= check_box_tag 'after_school_check', 'yes', 
				@saved_info.nil? ? (@tutor_formats.nil? ? false : !@tutor_formats[3].index('x').nil?) :
				!@saved_info[:after_school_check].nil? %> After-school program tutoring <br />
			
			</dd>
			<dl>Other Tutoring Formats</dl>
			<dd>
			<% @other_formats = nil %>
			<% unless @school[:attributes]['5) other (please describe)'].nil? %>
				<% if @saved_info && @saved_info[:other_tutoring_formats_value] %>
				<% @other_formats = @saved_info[:other_tutoring_formats_value] %>
				<% else %>
				<% @other_formats = @school[:attributes].delete("5) other (please describe)").gsub('_','') %>
				<% end %>
			<% end %>
			<%= text_area_tag("other_tutoring_formats_value", @other_formats, :size => "50x3") %>
			</dd>
		</div>
		<div class="quarter_info">
			<dl>Subjects</dl>
			<dd>
				<%= check_box_tag 'math_check', 'yes', 
					@saved_info.nil? ? false :
				 	!@saved_info[:math_check].nil? %> Math <br />
				<%= check_box_tag 'science_check', 'yes', 
					@saved_info.nil? ? false :
					!@saved_info[:science_check].nil? %> Science <br />
				<%= check_box_tag 'language_arts_check', 'yes', 
					@saved_info.nil? ? false :
					!@saved_info[:language_arts_check].nil? %> Language Arts <br />
				<%= check_box_tag 'social_studies_check', 'yes', 
					@saved_info.nil? ? false :
					!@saved_info[:social_studies_check].nil? %> Social Studies <br />
				<%= check_box_tag 'art_check', 'yes', 
					@saved_info.nil? ? false :
					!@saved_info[:art_check].nil? %> Art <br />
				<%= check_box_tag 'history_check', 'yes', 
					@saved_info.nil? ? false :
					!@saved_info[:history_check].nil? %> History <br />
				<%= check_box_tag 'ell_check', 'yes', 
					@saved_info.nil? ? false :
					!@saved_info[:ell_check].nil? %> ELL <br />
				<%= check_box_tag 'special_ed_check', 'yes', 
					@saved_info.nil? ? false :
					!@saved_info[:special_ed_check].nil? %> Special Ed <br />
				<%= check_box_tag 'foreign_language_check', 'yes', 
						@saved_info.nil? ? false :
						!@saved_info[:foreign_language_check].nil? %> Language:
						<%= text_field_tag("foreign_language_value", @saved_info.nil? ? '' :
						@saved_info[:foreign_language_value] , :size => 12) %></dd>
			</dd>	
		</div>
		<div class="quarter_info">
			<dl>Grades</dl>
			<dd>
				<%= check_box_tag 'grade_k_2_check', 'yes', 
					@saved_info.nil? ? false :
				 	!@saved_info[:grade_k_2_check].nil? %> K - 2 <br />
				<%= check_box_tag 'grade_3_5_check', 'yes', 
					@saved_info.nil? ? false :
					!@saved_info[:grade_3_5_check].nil? %> 3 - 5 <br />
				<%= check_box_tag 'grade_6_8_check', 'yes', 
					@saved_info.nil? ? false :
					!@saved_info[:grade_6_8_check].nil? %> 6 - 8 <br />
				<%= check_box_tag 'grade_9_12_check', 'yes', 
					@saved_info.nil? ? false :
					!@saved_info[:grade_9_12_check].nil? %> 9 - 12 <br />
			</dd>
			<dl>Target School</dl>
			<dd>
				<%= check_box_tag 'target_school_check', 'yes', 
					@saved_info.nil? ? false :
				 	!@saved_info[:target_school_check].nil? %> Is a Target School
			</dd>
		</div>
		<div class="clear_float" ></div>
		<div>
			<dl>Tutoring Opportunities</dl>
			<dd><%= text_area_tag("tutoring_opportunities_value", 
				@saved_info.nil? ? @school[:attributes].delete("tutoring opportunities") :
				@saved_info[:tutoring_opportunities_value], :size => "50x6") %></dd>
		</div>
		<div>
			<dl>Additional Tutoring Opportunities</dl>
			<dd><%= text_area_tag("additional_tutoring_opportunities_value", 
				@saved_info.nil? ? @school[:attributes].delete("additional tutoring opportunities") :
				@saved_info[:additional_tutoring_opportunities_value], :size => "50x6") %></dd>
		</div>
		<div class="clear_float" ></div>
		<div>
			<dl>Days and Time Tutors Needed <small>(Format Ex: M-Th 10:00 - 3:00 )</small></dl>
			<dd><%= text_area_tag("day_time_needed_value", 
				@saved_info.nil? ? @school[:attributes].delete("days/times tutors needed") :
				@saved_info[:day_time_needed_value], :size => "50x6") %></dd>
		</div>
		<div>
			<dl>Additional Need</dl>
			<dd><%= text_area_tag("additional_need_value", 
				@saved_info.nil? ? @school[:attributes].delete("additional need") :
				@saved_info[:additional_need_value], :size => "50x6") %></dd>
		</div>
		<div class="clear_float" ></div>
		<div>
			<dl>School Description</dl>
			<dd><%= text_area_tag("school_description_value", 
				@saved_info.nil? ? @school[:attributes].delete("school description") :
				@saved_info[:school_description_value], :size => "50x6") %></dd>
		</div>
		<div>
			<dl>Bus Directions</dl>
			<dd><%= text_area_tag("bus_directions_value", 
				@saved_info.nil? ? @school[:attributes].delete("bus") :
				@saved_info[:bus_directions_value], :size => "50x6") %></dd>
		</div>
	</dl>
	
	<div class="clear_float" ></div>
	    <div class="float_right"><%= submit_tag 'Save Information' %></div>
	<% end %>
		<hr class="clear_float" />
		
	<dl class='pipe_fields extra_info'>
		
		<h3>Any information below here could not be placed and needs to be moved into one of the boxes above to be saved.</h3>
		<small>The headings might also be a part of the information and have been included in the text area.</small>
		<% @school[:attributes].each do |k,v|  %>
		<dt><%= k %></dt>
		<dd><%= text_area_tag(k+"_value", k + ": " + v, :size => "90x4") %></dd>
		<% end %>
	</dl>
</div>
