<% @pipeline_course_filter ||= false %>
<% display_for_admin ||= false %>
<%= javascript_tag("
  function handleCheckBoxes(n,c){
    bx=$$('.'+n);b=$(n);ac=true;au=true;f=false;t=true;
    for (i=0;i<bx.length;i++){
      if(c){bx[i].checked=f;}else if(!bx[i].checked){ac=f;}else if(bx[i].checked){au=f;}}
    if(!c){
      if(ac||au){handleCheckBoxes(n,t);}else{b.checked=f;}}
    else{b.checked=t;}
  }
")%>
<div id="pipeline_search_fields" class="big-border box">

  <h4 class="icon-left search">Search Parameters and Filters</h4>

  <div id="pipeline_school_filters">
	  <dl>
	    <div class="pipeline_filter_float">
		  <dt><span>School</span></dt>
		    <dd><%= select 'search', 'school_id', @schools.collect {|s| [ s.name, s.id ] }.sort, 
		            {:include_blank => 'All', :selected => (@filters["school_id"].to_i rescue "")}, 
		            {:style  => "width:300px", :disabled => (!@filters["school_id"].empty? && !display_for_admin rescue false)} %></dd>
		  </div>
		  <div class="pipeline_filter_float">
		  <dt><span>Neighborhood</span></dt>
		    <dd><%= select 'search', 'neighborhood', @neighborhoods, 
		            {:include_blank => 'All', :selected => (@filters["neighborhood"] rescue "All")}, 
		            {:style  => "width:100px", :disabled => (!@filters["neighborhood"].empty? && !display_for_admin rescue false)} %></dd>
		  </div>
		  <div class="pipeline_filter_float">
		  <dt><span><label for="search_target_school">Target School?</label></span></dt>
		    <dd><%= check_box_tag 'search[target_school]', true, (display_for_admin ? !@filters["target_school"].nil? : true),
		                  {:disabled => (@filters["target_school"] && !display_for_admin rescue false)} %></dd>
		  </div>
	  </dl>	
	  <div class="pipeline_clear"></div>
	</div>
	<div id="pipeline_tutoring_position_filters">
	  <div>
	  <div id="pipeline_subject_filters" class="pipeline_filter <%= display_for_admin ? 'two_col' : '' %>">
	    <h2>Subjects</h2>
	    <ul class="<%= (@filters["subject_ids"] && !display_for_admin rescue false) ? 'disabled' : '' %>">
	      <label for="pipeline_subject_check">
	      <li>
	        Any Subject 
	        <span class="pipeline_filter_check">
	          <%= check_box_tag 'pipeline_subject_check', 'all', (!@filters["subject_ids"] rescue true), 
	                    {:onclick => 'handleCheckBoxes("pipeline_subject_check",true);', 
	                     :disabled => (@filters["subject_ids"] && !display_for_admin rescue false)} %>
	        </span>
	      </li>
	      </label>
	      <% mid_point = (@subjects.size/2) %>
	      <% count = 0 %>
	      <% @subjects.each do |subject| %>
	        <label for="pipeline_subject_check_<%= subject.id %>">
	        <li>
	          <%= subject.name %> 
	          <span class="pipeline_filter_check">
	            <%= check_box_tag 'search[subject_ids][]', subject.id, (@filters["subject_ids"].include?(subject.id.to_s) rescue false), 
	                      {:class => "pipeline_subject_check", 
	                       :onclick => 'handleCheckBoxes("pipeline_subject_check",false);',
  	                     :disabled => (@filters["subject_ids"] && !display_for_admin rescue false),
  	                     :id => "pipeline_subject_check_#{subject.id}"} %>
	          </span>
	        </li>
	        </label>
	      <% end %>
	    </ul>
	  </div>
    <div id="pipeline_grade_filters" class="pipeline_filter">
	    <h2>Grades</h2>
	    <ul class="<%= (@filters["grade_ids"] && !display_for_admin rescue false) ? 'disabled' : '' %>">
	      <label for="pipeline_grade_check">
	      <li>
	        Any Grade 
	        <span class="pipeline_filter_check">
	          <%= check_box_tag 'pipeline_grade_check', 'all', (!@filters["grade_ids"] rescue true), 
	                    {:onclick => 'handleCheckBoxes("pipeline_grade_check",true);', 
	                     :disabled => (@filters["grade_ids"] && !display_for_admin rescue false)} %>
	        </span>
	      </li>
	      </label>
	      <% @grades.each do |grade| %>
	        <label for="pipeline_grade_check_<%= grade.id %>">
	        <li>
	          <%= grade.name %> 
	          <span class="pipeline_filter_check">
	            <%= check_box_tag 'search[grade_ids][]', grade.id, (@filters["grade_ids"].include?(grade.id.to_s) rescue false), 
	                      {:class => "pipeline_grade_check", 
	                       :onclick => 'handleCheckBoxes("pipeline_grade_check",false);',
	                       :disabled => (@filters["grade_ids"] && !display_for_admin rescue false),
	                       :id => "pipeline_grade_check_#{grade.id}"}  %>
	          </span>
	        </li>
	        </label>
	      <% end %>
	    </ul>
	  </div>
	  <div id="pipeline_format_filters" class="pipeline_filter">
	    <h2>Formats</h2>
	    <ul class="<%= (@filters["format_ids"] && !display_for_admin rescue false) ? 'disabled' : '' %>">
	      <label for="pipeline_format_check">
	      <li>
	        Any Format 
	        <span class="pipeline_filter_check">
	          <%= check_box_tag 'pipeline_format_check', 'all', (!@filters["format_ids"] rescue true), 
	                    {:onclick => 'handleCheckBoxes("pipeline_format_check",true);', 
	                     :disabled => (@filters["format_ids"] && !display_for_admin rescue false)} %>
	        </span>
	      </li>
	      </label>
	      <% @formats.each do |format| %>
	        <label for="pipeline_format_check_<%= format.id %>">
	        <li>
	          <%= format.name %> 
	          <span class="pipeline_filter_check">
	            <%= check_box_tag 'search[format_ids][]', format.id, (@filters["format_ids"].include?(format.id.to_s) rescue false), 
	                      {:class => "pipeline_format_check", 
	                       :onclick => 'handleCheckBoxes("pipeline_format_check",false);',
	                       :disabled => (@filters["format_ids"] && !display_for_admin rescue false),
	                       :id => "pipeline_format_check_#{format.id}"}  %>
	          </span>
	        </li>
	        </label>
	      <% end %>
	    </ul>
	  </div>
	  <div id="pipeline_time_filter" class="pipeline_filter">
	    <h2>Time</h2>
	    <%= select 'search', 'time_frame', options_for_select([["After School", 1], ["During School", 2]], :selected => (@filters["time_frame"].to_i rescue "")), 
	            {:include_blank => 'Any Time'},
	            {:disabled => (!@filters["time_frame"].empty? && !display_for_admin rescue false)} %>
	  </div>
	  <div class="pipeline_clear"></div>
	  </div>
	</div>
  
  <div class="pipeline_filter_bar" onclick="if($('pipeline_tutoring_position_filters').style.display == 'none'){
                                                Effect.SlideDown('pipeline_tutoring_position_filters');
                                                $('pipeline_filter_hide_message').innerHTML='click on this bar to minimize filters'}else{
                                                Effect.SlideUp('pipeline_tutoring_position_filters');
                                                $('pipeline_filter_hide_message').innerHTML='click on this bar to maximize filters'}; 
                                                return false">
  <div id="pipeline_filter_hide_message">click on this bar to minimize filters</div>
    
  </div>
  <% unless display_for_admin %>
  <div id="pipeline_submit_button">
    <%= indicator("search_indicator") %>
    <%= submit_tag 'Search' %>
  </div>
  <% end %>
  

</div>

