<% form_url = service_learning_organization_position_path(@unit, @quarter, @organization, @service_learning_position) %>
                                    
<%= make_main_content_blocked %>

<% upload_form_for @service_learning_position, 
			:url => form_url, 
			:builder => HelpTextFormBuilder,
			:html => { :class => "help_text", :id => 'position_form' } do |f| %>
	
	<div class="content-block">

		<h1 id="position_title_header"><%= @service_learning_position.title(true, true, true) %></h1>
    
		  <%= error_messages_for :service_learning_position %>
	    <%= f.submit "Save & Approve", :class => "default-button" %>
		<%= f.submit "Save & Mark Pending", :name => 'mark_pending' %>
		<%= button_to_remote "Save as Draft",
		 					:url => form_url,
							:method => :put,
							:submit => 'position_form',
		 					:indicator => true %>

	  	<%= separator("or") %>
		<%= link_to 'Cancel', 
					form_url,
					:class => 'cancel button' %>

		<%= indicator %>

		<span id="success_message" class="success-message"></span>
		<span id="error_message" class="error-message"></span>
	
	</div>

	<%= render :partial => "admin/service_learning/organizations/positions/fields", 
	           :locals => { :f => f, :admin => true, :service_learning_position => @service_learning_position } %>


<% end %>

<% sidebar "admin/service_learning/organizations/positions/sidebar/search" %>
