<% @service_learning_position ||= @pipeline_position %>

<h1>New position
	<span>&raquo; <%= @organization.name rescue nil %></span></h1>

<%= error_messages_for :service_learning_position %>

<% upload_form_for @service_learning_position, 
			:url => service_learning_organization_positions_path(@unit, @quarter, @organization),
			:builder => HelpTextFormBuilder,
			:html => { :class => "help_text", :id => 'position_form' } do |f| %>

	<%= render :partial => "admin/service_learning/organizations/positions/tabs/basic_info", 
				:locals => { :f => f, 
							:service_learning_position => @service_learning_position,
							:admin => true, 
							:skip_nav => true,
							:skip_title => true } %>
		 					
	<div class="progress_nav_buttons">

	    <%= f.submit "Create" %>
		<%= separator %>
		<%= link_to 'Cancel', service_learning_organization_positions_path(@unit, @quarter, @organization), :class => "cancel button" %>
	
	</div>


<% end %>