<% @service_learning_position ||= @pipeline_position %>

<% make_main_content_blocked %>

<div class="content-block">
	<h1>Position Details
		<span class="right"><%= link_to 'Edit', edit_service_learning_organization_position_path(@unit, 
		                                          @quarter, @organization, @service_learning_position
		                                          ), :class => "edit button" %></span>
		</h1>

	<%= render :partial => "admin/service_learning/organizations/positions/position_details",
	 			:locals => { :admin => true, :service_learning_position => @service_learning_position } %>

</div>

<% if @use_pipeline_links %>
<div class="content-block">
  <h3>Pipeline Position Details
    <span class="right"><%= link_to 'Edit', edit_service_learning_organization_position_path(@unit, 
		                                          @quarter, @organization, @service_learning_position, :anchor => 'subjects'
		                                          ), :class => "edit button" %>
		                                          </span></h3>
  
    <%= render :partial => "admin/pipeline/organizations/positions/pipeline_position_details",
          :locals => { :admin => true, :pipeline_position => @service_learning_position } %>
</div>
<% end %>

<% if @service_learning_position.general_study? %>
<div class="content-block">
  <h3>General Study Position Details
    <span class="right"><%= link_to 'Edit', edit_service_learning_organization_position_path(@unit, 
		                                          @quarter, @organization, @service_learning_position, :anchor => 'general_study'
		                                          ), :class => "edit button" %>
		                                          </span></h3>
  
    <%= render :partial => "admin/service_learning/organizations/positions/general_study_details",
          :locals => { :admin => true, :service_learning_position => @service_learning_position } %>
</div>
<% end %>

<% if @service_learning_position.education_sector? %>
<div class="content-block">
	<h3>Education Sectors
		<span class="right"><%= link_to 'Edit', edit_service_learning_organization_position_path(@unit, 
		                                          @quarter, @organization, @service_learning_position, :anchor => 'sector'
		                                          ), :class => "edit button" %></span></h3>

	<%= render :partial => "admin/service_learning/organizations/positions/education_sectors",
		 		:locals => { :admin => true, :service_learning_position => @service_learning_position } %>
</div>
<% end %>

<div class="content-block">
	<h3>Scheduling Details
		<span class="right"><%= link_to 'Edit', edit_service_learning_organization_position_path(@unit, 
		                                          @quarter, @organization, @service_learning_position, :anchor => 'scheduling'
		                                          ), :class => "edit button" %></span></h3>

	<%= render :partial => "admin/service_learning/organizations/positions/scheduling_details",
		 		:locals => { :admin => true, :service_learning_position => @service_learning_position } %>
</div>

<% unless @use_pipeline_linksß %>
  <div class="content-block">
  	<h3>Orientation Details
  		<span class="right"><%= link_to 'Edit', edit_service_learning_organization_position_path(@unit, 
  		                                          @quarter, @organization, @service_learning_position, :anchor => 'orientation'
  		                                          ), :class => "edit button" %></span></h3>

  	<%= render :partial => "admin/service_learning/organizations/positions/orientation_details"	,
  		 		:locals => { :admin => true, :service_learning_position => @service_learning_position } %>
  </div>
<% end %>

<div class="content-block">
	<h3>Change History</h3>

	<%= render :partial => "admin/service_learning/organizations/positions/change_log",
		 		:locals => { :admin => true, :service_learning_position => @service_learning_position } %>
</div>


<% unless @use_pipeline_links %>
  <% sidebar "admin/service_learning/positions/sidebar/search" %>
<% else %>
  <% sidebar "admin/pipeline/sidebar/pipeline_links" %>
<% end %>

<% sidebar "admin/service_learning/organizations/positions/sidebar/placements", :id => "course_placement_sidebar" %>
<% sidebar "admin/service_learning/organizations/positions/sidebar/course_matching", :id => "course_matching_sidebar" %>
<% sidebar "admin/service_learning/organizations/positions/sidebar/approve_position", 
                :class => "green" unless @service_learning_position.approved? %>