<h1>Edit Instructor</h1>

<%= error_messages_for :instructor %>

<% form_for :service_learning_course_instructor, @instructor, :url => service_learning_course_instructor_path(@unit, @quarter, @service_learning_course, @instructor), :html => {:method => :put} do |f| %>

	<dl class="inline-definitions">
	
		<dt>new uw netid</dt>
		<dd><%= f.text_field :uw_netid %>
			<%= indicator 'instructor_indicator' %>
			</dd>
	
		<%= observe_field "#{f.object_name}_uw_netid", 
						:url => { :action => 'find_by_uw_netid' }, 
						:update => 'person_form', 
						:with => 'uw_netid',
						:indicator => 'instructor_indicator' %>
	
		<div id="person_form">
			<%= render :partial => "person_form", :object => @instructor.person %>
		</div>

		<dt>ta?</dt>
		<dd><%= f.check_box :ta %></dd>

	</dl>
	
    <%= f.submit "Update" %>
	<%= separator %>
	<%= link_to 'Cancel', service_learning_course_instructors_path(@unit, @quarter, @service_learning_course), :class => "cancel button" %>

<% end %>

