<h1>Add new instructor
	<span class="light">&raquo; <%= @service_learning_course.title %></span>
	</h1>
	
<%= error_messages_for :instructor %>

<% form_for(@instructor, :url => { :action => 'create' }, :html => {:method => :post} ) do |f| %>

	<%= render :partial => "fields", :locals => { :f => f, :instructor => @instructor } %>

    <%= f.submit "Create" %>
	<%= separator %>
	<%= link_to 'Cancel', service_learning_course_instructors_path(@unit, @quarter, @service_learning_course), :class => "cancel button" %>

<% end %>

