<% title("Your Profile: #{@user.login}") %>

<p>To update your user profile, make your changes in the fields below and click "Update." These details are used system-wide throughout EXPO, so the changes you make here will be reflected within every part of the system.</p>

<small class="right light">Last updated <%= relative_timestamp(@user.person.contact_info_updated_at) %></small>

<%= error_messages_for :user, :object => [@user, @user.person], :header_message => "Please correct the following problems with your user record." %>

<% upload_form_for @user, :url => {:controller => 'users', :action => 'update'} do |f| %>

	<dl class="inline-definitions">
		
		<% fields_for "user[person_attributes]", @user.person do |person_fields| %>
			<%= render :partial => "shared/person_fields", :object => person_fields %>
		<% end -%>
		
		<% if @user.admin? %>
		<dt><%= f.label :picture, "picture" %></dt>
		<dd><%= image_tag f.object.picture.thumb.url if f.object.picture rescue nil %>
			<%= upload_column_field 'user', 'picture' %>
			<p class="caption">If you choose a picture, EXPO will use this picture when displaying notes and comments made by you.</p>
			</dd>
		<% end -%>

	</dl>


	<%= f.submit "Update", :disable_with => "Updating contacting information..." %>

<% end %>

