		<tr <%= "class='current'" if offering.current? %>>

		    <td><%= link_to offering.name, offering %></td>

			<td class="small-caps"><%=h offering.unit.abbreviation if offering.unit %></td>

			<td><%= offering.quarter_offered ? offering.quarter_offered.title : offering.year_offered %></td>

			<td><%= link_to offering.current_offering_admin_phase.name, :controller => 'admin/apply',
							:offering => offering.id, :action => 'phases', :id => offering.current_offering_admin_phase rescue nil %></td>

			<td><%= link_to "Applications#{" (" + offering.application_for_offerings.reject{|a|a.current_application_status_id.nil?}.size.to_s + ")" unless offering.application_for_offerings_count.nil?}", admin_apply_path(offering) %></td>

			<td><%= link_to "<span>Edit</span>", edit_offering_path(offering), :class => 'icon-left no-text edit' %>
				<%= link_to "<span>Clone</span>", clone_offering_path(offering), 
													:confirm => "Are you sure you want to make a copy of this offering?",
													:method => :put, 
													:class => 'icon-left no-text copy' %>
				<%= link_to '<span>Destroy</span>', offering, 
													:confirm => 'Are you sure?', 
													:method => :delete, 
													:class => 'icon-left no-text trash' %></td>
	
	  	</tr>
