<% form_for :offering, @offering, :url => offerings_path do |f| %>

	<h1>New Offering</h1>
	<%= f.error_messages %>
		
	<%= render :partial => "admin/offerings/tabs/main_details", :locals => { :f => f, :hide_title => true } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', offerings_path %>

<% end %>