<h1>Edit Invitation Code</h1>

<% form_for :invitation_code, @invitation_code, 
			:url => offering_invitation_code_path(@offering, @invitation_code), 
			:html => { :method => :put } do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Save", :disable_with => 'Saving...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', offering_invitation_code_path(@offering, @invitation_code), :class => 'cancel button' %>

<% end %>
