<h1 class="big-icon emails">Statuses &amp; Automatic E-mails
	<span class="light right"><%= link_to "Add new status", new_offering_status_path(@offering), :class => "add button" %></span></h1>

<table>
	<tr>
		<th class="smaller">Seq.</th>
		<th>Private Title</th>
		<th>Public Title</th>
		<th>E-mails</th>
		<th style="width:100px">Functions</th>
	</tr>

<% for status in @statuses %>
<tr>
	<td align=center><small class="light"><%=h status.sequence %></small></td>
	<td><%= tooltip h(status.private_title), h(status.description) %></td>
	<td><%=h status.public_title %></td>
	<td><%= status.emails.collect{|email| link_to(email.send_to, offering_status_email_path(@offering, status, email), :title => email.email_template.title)}.join(", ") rescue nil%></td>
	<td><%= link_to '<span>Show</span>', offering_status_path(@offering, status), :class => 'icon-left no-text show' %>
		<%= link_to '<span>Edit</span>', edit_offering_status_path(@offering, status), :class => 'icon-left no-text edit' %>
		<%= link_to '<span>Delete</span>', offering_status_path(@offering, status), 
					:confirm => 'Are you sure?', :method => :delete, :class => 'icon-left no-text trash' %>
	</td>
</tr>
<% end %>

<% if @statuses.empty? %>
<tr class="empty">
	<td colspan=5>
		No statuses have been defined.
	</td>
</tr>
<% end -%>

</table>

<% sidebar "/admin/offerings/sidebar/settings" %>