<h1>New Event Type</h1>

<% form_for :event_type, @event_type, :url => event_types_path do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', event_types_path, :class => 'cancel button' %>

<% end %>
