<h1>Update <%= @course.title %> for <%= @course.quarter.title %></h1>
<p>Please update your course information. This information will be available to community partners so that they can understand the courses that their service-learning volunteers are taking.</p>

<% form_for :service_learning_course, @course, 
			:url => faculty_service_learning_path(:action => 'update', :quarter_abbrev => @quarter, :id => @course.id),
			:html => {:multipart => true } do |f| %>

<dl class="inline-definitions">

	<dt>syllabus</dt>
	<dd>
		<% if @course.syllabus && @course.syllabus.original.exists? %>
		<% file = @course.syllabus.original %>
		<div class="file <%= file.extension %>">
			<%= image_tag "icons/filetypes/32/#{file.extension}.png" %>
			<div class="filename"><%= link_to file.filename, :view => 'syllabus' %></div>
			<div class="details">
				<%= file.content_type %>, 
				<%= number_to_human_size(file.size) %>,
				<%= time_ago_in_words(file.updated_at) rescue "unknown" %> ago
			</div>
		</div>
		<br>Upload a new syllabus file:
		<% end -%>
		<%= f.file_field :syllabus %></dd>

	<dt>syllabus url</dt>
	<dd><%= f.text_field :syllabus_url %></dd>

	<dt>overview</dt>
	<dd><%= f.text_area :overview %></dd>

	<dt>role of SL</dt>
	<dd><%= f.text_area :role_of_service_learning %></dd>

	<dt>assignments</dt>
	<dd><%= f.text_area :assignments %></dd>

</dl>

<br>

<center>
	<%= f.submit "Update Course Information", :disable_with => 'Updating course information...' %>
</center>

<% end -%>

<% sidebar :copy_one_pagers %>