<h1>Welcome, <%= @person.firstname %>.
	<small class="light">&raquo; <%= @quarter.title %></small></h1>

<ul id="service-learning-welcome-links" class="extra-padding">
	
	<% unless @courses_for_quarter.empty? %>
	<li id="positions"><%= link_to "View service-learning position matches for #{@quarter.title}", 
					faculty_service_learning_path(:action => 'positions', :quarter_abbrev => @quarter) %>
		<br>See which positions have been matched with your courses.</li>
	
	<li id="evaluations"><%= link_to "View service-learning students and evaluations for #{@quarter.title}", 
					faculty_service_learning_path(:action => 'students', :quarter_abbrev => @quarter) %>
		<br>See where your students are volunteering and view evaluations from community partners.
		<br><span class='admin tag'>NEW</span>Approve your students self placement positions
	</li>		
		
	<% end -%>

	<% for course in @courses %>
		<% if Quarter.current_and_future_quarters(nil, @quarter).include?(course.quarter) %>
			<li id="edit-positions"><%= link_to "Update your course information for <b>#{course.title}</b> in <b>#{course.quarter.title}</b>",
			 				faculty_service_learning_path(:action => 'edit', :quarter_abbrev => @quarter, :id => course.id) %>
				<br>This information will help community partners understand where their students are coming from.</li>
			</li>
		<% end -%>
	<% end -%>
	
</ul>