<h1>View Service-learning Students
	<small class="light">&raquo; <%= @quarter.title %></small></h1>
	
<table>
	
	<tr>
		<th>Student</th>
		<th>Position</th>
		<th>Organization</th>
		<th>View Evaluation</th>
		<th>Self Placement</th>
	</tr>
	
	<% for @service_learning_course in @courses_for_quarter %>
		<% for course in @service_learning_course.courses %>
			<tr class="rowset-header">
				<td colspan=5><%= course.course.short_title %>
					<font class="lighter grey">&raquo; <%= pluralize course.course.all_enrollees.size, "student" %></font></td>
			</tr>
			<%= render :partial => "student", 
						:collection => course.course.all_enrollees.sort{|x,y| x.fullname <=> y.fullname rescue -1},
						:locals => { :course => @service_learning_course } %>
		<% end -%>
	<% end -%>
	
	<% unless @service_learning_course.extra_enrollees.empty? %>
		<tr class="rowset-header">
			<td colspan=4><%= @service_learning_course.title %>
				<font class="lighter grey">&raquo; <%= pluralize @service_learning_course.extra_enrollees.size, "student" %></font></td>
		</tr>
		
		<%= render :partial => "student", 
					:collection => @service_learning_course.extra_enrollees.sort{|x,y| x.fullname <=> y.fullname rescue -1},
					:locals => { :course => @service_learning_course} %>
	<% end -%>
	
</table>

<% sidebar :students_instructions, :class => 'help' %>