<% event_times ||= @event.times.future.sort %>
<% event = @event %>

<table style="width: 75%; margin: 0 auto;">
	
	<tr class="small left">
		<th>Date/Time</th>
		<th>Location</th>
		<th>RSVP</th>
	</tr>

	<% for time in event_times %>
	  <% if @event.nil? %>
	    <% event = time.event %>
	  <% end %>
		<% if time.start_time.to_date != current_date %>
		<tr class="rowset-header">
			<td colspan=3><big><%= time.time_detail(:date_only => true) %></big></td>
		</tr>
		<% current_date = time.start_time.to_date %>
		<% end -%>
	
		<tr id="time_<%= time.id %>" class="<%= time.attending?(@current_user.person) ? "attending" : (time.full? ? "full" : nil) %>">

			<td>
				<%= time.time_detail(:time_only => true) %>
				<%= "<br>#{time.notes}" if time.notes %>
			</td>
		
			<td>
				<%= time.location_text %>
			</td>
		
		
			<td>
				<% if time.attending?(@current_user.person) %>

					You are attending this event.
					<br>
					<small><%= link_to "Cancel my RSVP", 
										rsvp_unattend_path(event, { :time_id => time }.merge(return_to)),
										:method => :delete, 
										:confirm => "Are you sure you want to cancel your RSVP?" %>.</small>

				<% else -%>
				
					<% if time.full? -%>
						This time slot is full.
					<% elsif event.attending?(@current_user.person) && !event.allow_multiple_times_per_attendee -%>
						<!-- You cannot attend more than one time slot for this event. -->
					<% else %>
						<%= button_to "RSVP →", rsvp_attend_path(event, { :time_id => time }.merge(return_to)) %>
					<% end -%>
				
					<% if time.open? && !time.slots_left.nil? %>
						<small class=light><%= pluralize time.slots_left, "slot" %> left</small>
					<% end -%>
				
				<% end -%>
			</td>

		</tr>
	<% end -%>

	<%- if event.times.future.empty? -%>
	<tr class="empty">
		<td colspan=5>There are no times available to RSVP for.</td>
	</tr>
	<% end -%>

</table>
