<h2>Organizations</h2>

<table class="highlightless">
  <tr>
    <th>Organizations</th>
    <th>Units</th>
  </tr>
<% for contact in @person.organization_contacts %>
  <tr>
    <td><%= link_to contact.organization.name, admin_organization_path(contact.organization) %></td>
    <td>
      <% for unit in contact.units %>
        <% if OrganizationQuarter.find_by_unit_id_and_organization_id(unit.id, contact.organization.id) %>
          <%= link_to unit.name, service_learning_organization_path(unit, @quarter, contact.organization.id ) %>
        <% else %>
          <%= unit.name %>
        <% end %>
        <br />
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<% if @person.organization_contacts.empty? %>
<table>
	<tr class="empty">
		<td colspan=2>None</td>
	</tr>
</table>
<% end %>

<br / >
<table class="highlightless">
  <tr>
    <th>Former Organization Contact</th>
    <th>Units</th>
  </tr>
<% for contact in @person.former_organization_contacts %>
  <tr>
    <td><%= link_to contact.organization.name, admin_organization_path(contact.organization) %></td>
    <td>
      <% for unit in contact.units %>
        <% if OrganizationQuarter.find_by_unit_id_and_organization_id(unit.id, contact.organization.id) %>
          <%= link_to unit.name, service_learning_organization_path(unit, @quarter, contact.organization.id ) %>
        <% else %>
          <%= unit.name %>
        <% end %>
        <br />
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<% if @person.former_organization_contacts.empty? %>
<table>
	<tr class="empty">
		<td colspan=2>None</td>
	</tr>
</table>
<% end %>