<h1>New Major Extra</h1>

<% upload_form_for :major_extra, @major_extra, :url => major_extras_path do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', major_extras_path, :class => 'cancel button' %>

<% end %>
