<% title "#{@offering.mentor_title.pluralize} Review", "View Student" %>
<% subtitle link_to("Back to Mentee List", :action => "index") %>

<h3>Student: 		<span class="plain">
						<%= @mentee.fullname %> <%= "(#{@mentee.nickname})" unless @mentee.nickname.blank? %>
						<% unless (@mentee.sdb.class_standing_description rescue nil).nil? %>
							<span class="smaller grey"> - <%= @mentee.sdb.class_standing_description %></span>
						<% end -%>
					</span></h3>

<% unless @mentee_application.group_members.empty? %>
<h3>Co-Presenters: 	<span class="plain">
						<%= @mentee_application.group_members.collect(&:fullname).join(", ") %>
					</span></h3>
<% end -%>

<% unless @mentee_application.project_title.nil? %>						
<h3>Project Title: 	<span class="plain">
						<%= strip_tags @mentee_application.project_title %>
					</span></h3>
<% end -%>				
<hr>

<% @user_application = @mentee_application # need to use the same instance variable so the partials work %>

<% if params['view'] && @mentee_application.mentor_access_ok %>
	<%= render :partial => "mentor/application_view/#{params['view']}", :locals => { :student => @mentee } %>
<% else %>
	<%= render :partial => "welcome", :locals => { :student => @mentee } %>
<% end %>

<%= render :partial => "page_list" if @mentee_application.mentor_access_ok %>