<h1>Mentor Types
	<span class="light right"><%= link_to "Add new mentor type", new_offering_mentor_type_path(@offering), :class => 'add button' %></span></h1>

<%= form_tag admin_communicate_write_email_url, :id => 'mentor_types_form' %>

<table>
	<tr>
		<th>Application Mentor Type</th>
		<th>Meets Minimum Qualification</th>
		<th colspan=3>Functions</th>
	</tr>
	<% for mentor_type in @mentor_types %>
	<tr id="mentor_type_<%= mentor_type.id %>">
		<td><%=h mentor_type.application_mentor_type.title if mentor_type.application_mentor_type %></td>
		<td><%=h mentor_type.meets_minimum_qualification %></td>
		<td><%= link_to "Show", offering_mentor_type_path(@offering, mentor_type) %></td>
		<td><%= link_to "Edit", edit_offering_mentor_type_path(@offering, mentor_type) %></td>
		<td><%= link_to_remote "Destroy", 
						:url => offering_mentor_type_path(@offering, mentor_type), 
						:confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>

	<% if @mentor_types.empty? %>
	<tr class="empty">
		<td colspan=10>No mentor types exist. <%= link_to "Create one.", new_offering_mentor_type_path(@offering) %></td>
	</tr>
	<% end %>

</table>

</form>

<% sidebar "/admin/offerings/sidebar/settings" %>