<h1>New Mentor Questions</h1>

<% form_for :mentor_questions, @mentor_questions, :url => offering_mentor_questions_path(@offering) do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', offering_mentor_questions_path(@offering), :class => 'cancel button' %>

<% end %>
