<h1><%=h @mentor_questions.question %>
	<span class="light right"><%= link_to "Edit", edit_offering_mentor_question_path(@offering, @mentor_questions), :class => 'edit button' %></span></h1>

<p class="object_timestamp"><%= object_timestamp_details(@mentor_questions) %></p>

<dl class="inline-definitions">

	<dt>question</dt>
	<dd><%=h @mentor_questions.question %></dd>

	<dt>required</dt>
	<dd><%=h @mentor_questions.required %></dd>

	<dt>must be number</dt>
	<dd><%=h @mentor_questions.must_be_number %></dd>

	<dt>display as</dt>
	<dd><%=h @mentor_questions.display_as %></dd>

	<dt>size</dt>
	<dd><%=h @mentor_questions.size %></dd>


</dl>

	<% sidebar "/admin/offerings/sidebar/settings" %>