<h1>Mid-Quarter Check-in
	<span>&raquo; <%= @quarter.title %></span></h1>

<p>This page is used to accomplish three tasks:</p>

<ol>
	<li>Activate organizations for <%= @quarter.next.title %> or mark them as inactive</li>
	<li>Send mid-quarter e-mails to organization contacts</li>
	<li>Turn on "Allow evaluations" for organizations with students this quarter (whether they're invited for next quarter or not)</li>
</ol>
		
<p>The three possible emails are sent as follows:</p>

<ul>
	<li>Evaluate only - Sent to all supervisors of positions with students placed for the current quarter</li>
	<li>Invite only - Sent only to primary service learning contacts at organizations with no current students</li>
	<li>Invite and evaluate - Sent only to primary service learning contacts at organizations with current students</li>
</ul>

<p>You can use this page as a working form, meaning that you can handle some organizations now and some later.</p>

<%= form_tag service_learning_mid_quarter_url, :id => 'mid_quarter_form' %>

<div class="small warning">Be sure to only select "Invite" or "Do not invite" for each organization. Choosing both checkboxes will result in the organization <strong>not being copied</strong> to next quarter.</div>

<table>
	<tr>
		<th>Name</th>
		<th>Service Learning Students?</th>
		<th>Invite for <%= @quarter.next.title %>?</th>
		<th>Do not invite for <%= @quarter.next.title %>?</th>
	</tr>

	<!-- Orgs with students -->
	<tr class="rowset-header">
		<td colspan=2>Organizations with students (<%= @orgs[:with].size %>)</td>
		<td><%= select_all_check_box :with_students %></td>
		<td><%= select_all_check_box :with_students_declined %></td>
	</tr>
	
	<% for org in @orgs[:with] %>	
	<tr>
		<td>
			<%= link_to org.name, service_learning_organization_path(@unit, @quarter, org.organization), :popup => true %>
				<% unless org.other_units(@unit, @quarter, org.organization).blank? %>
					<span class="tag"><%= org.other_units(@unit, @quarter, org.organization).split(",").join("</span><span class='tag'>") %></span>				
				<% end %>
			<%= "<span class='orange tag'>multiple</span>" if org.organization.multiple_quarter==true %>
		</td>
		<td><%= org.placements.filled.size %></td>
		<td><%= select_check_box(org, :with_students, :value => 'invite') %></td>
		<td><%= select_check_box(org, :with_students_declined, :value => 'decline') %></td>
	</tr>
	<% end -%>

	<!-- Orgs with self-placements only -->
	<tr class="rowset-header">
		<td colspan=2>Organizations with self-placements only (<%= @orgs[:self_placements_only].size %>)</td>
		<td><%= select_all_check_box :self_placements_only %></td>
		<td><%= select_all_check_box :self_placements_only_declined %></td>
	</tr>
	
	<% for org in @orgs[:self_placements_only] %>
	<tr>
		<td><%= link_to org.name, service_learning_organization_path(@unit, @quarter, org.organization), :popup => true %>
			<% unless org.other_units(@unit, @quarter, org.organization).blank? %>
			<span class="tag"><%= org.other_units(@unit, @quarter, org.organization).split(",").join("</span><span class='tag'>") %></span>
			<% end %>
			<%= "<span class='orange tag'>multiple</span>" if org.organization.multiple_quarter==true %>
		</td>
		<td><%= org.placements.filled.size %></td>
		<td><%= select_check_box(org, :self_placements_only, :value => 'invite') %></td>
		<td><%= select_check_box(org, :self_placements_only_declined, :value => 'decline') %></td>
	</tr>
	<% end -%>

	<!-- Orgs with no students this quarter -->
	<tr class="rowset-header">
		<td colspan=2>Organizations without students (<%= @orgs[:without].size %>)</td>
		<td><%= select_all_check_box :without_students %></td>
		<td><%= select_all_check_box :without_students_declined %></td>
	</tr>
	
	<% for org in @orgs[:without] %>
	<tr>
		<td><%= link_to org.name, service_learning_organization_path(@unit, @quarter, org.organization), :popup => true %>
			<% unless org.other_units(@unit, @quarter, org.organization).blank? %>
			<span class="tag"><%= org.other_units(@unit, @quarter, org.organization).split(",").join("</span><span class='tag'>") %></span>
			<% end %>
			<%= "<span class='orange tag'>multiple</span>" if org.organization.multiple_quarter==true %>
		</td>
		<td>Students last placed <%= org.organization.last_active_quarter.title rescue "never" %></td>
		<td><%= select_check_box(org, :without_students, :value => 'invite') %></td>
		<td><%= select_check_box(org, :without_students_declined, :value => 'decline') %></td>
	</tr>
	<% end -%>


	<!-- Orgs not active until next quarter -->
	<tr class="rowset-header">
		<td colspan=2>Organizations scheduled to be active for <%= @quarter.next.title %> (<%= @orgs[:inactive_until_next].size %>)</td>
		<td><%= select_all_check_box :inactive_until_next %></td>
		<td></td>
		<!-- <td><%= select_all_check_box :inactive_until_next_declined %></td> -->
	</tr>
	
	<% for org in @orgs[:inactive_until_next] %>
	<tr>
		<td><%= link_to org.name, service_learning_organization_path(@unit, @quarter, org), :popup => true %>
			<%= "<span class='orange tag'>multiple</span>" if org.multiple_quarter==true %>
		</td>
		<td>Students last placed <%= org.last_active_quarter.title rescue "never" %></td>
		<td><%= select_check_box(org, :inactive_until_next, :value => 'invite') %></td>
		<td></td>
		<!-- <td><%= select_check_box(org, :inactive_until_next_declined, :value => 'decline') %></td> -->
	</tr>
	<% end -%>


	
</table>

</form>

<% sidebar :search, :mid_quarter_functions %>