<h1>New Restriction</h1>

<% form_for :restriction, @restriction, :url => offering_restrictions_path(@offering) do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', offering_restrictions_path(@offering), :class => 'cancel button' %>

<% end %>
