<h1><%=h @restriction.title %>
	<span class="light right">
		<%= link_to "Edit", edit_offering_restriction_path(@offering, @restriction), :class => 'edit button' %>
		</span></h1>

<p class="object_timestamp"><%= object_timestamp_details(@restriction) %></p>

<dl class="inline-definitions">

	<dt>Type</dt>
	<dd><%=h @restriction.type %>
		<%= "(#{@restriction.parameter})" unless @restriction.parameter.blank? %>
		</dd>

</dl>

<div>
<div class="big-border box" id="preview" style="padding-bottom: 5em">
	<h4 class="icon-left preview">Preview</h4>
	<small class="light">Note: This preview may not reflect all styles that are visible on the student side.</small>
	
	<%= render :file => 'apply/restricted.html.erb' %>
</div>
</div>


<h3>Current Exemptions</h3>

<table>
	<tr>
		<th>Person</th>
		<th>Note</th>
		<th>Valid Until</th>
		<th>Functions</th>
	</tr>
	<%= render :partial => "admin/offerings/restrictions/exemptions/exemption", :collection => @restriction.exemptions %>

	<% if @restriction.exemptions.empty? %>
	<tr class="empty">
		<td colspan=4><%= link_to "View and edit exemptions.", offering_restriction_exemptions_path(@offering, @restriction) %></td>
	</tr>
	<% end %>

</table>

<%= link_to "Add new exemption", new_offering_restriction_exemption_path(@offering, @restriction), :class => "icon-left add button" %>

<% sidebar :exemptions %>