<% title(@offering.name, (@offering.quarter_offered.title rescue nil)) %>
<%= render :partial => 'time_left' %>
<%= render :partial => "switch" if @application_count > 1 %>

<h1>
	<%= welcome_line %>
	<span class="heading_inline">Not <%= current_user.person.firstname %>? <%= link_to "Click here", logout_url %>.</span>
</h1>

<fieldset>

	<ul class="welcome-links">
		<% unless @user_application.submitted? %>
			<li class="application accessibility">
				The University of Washington is committed to providing access and reasonable accommodation in its services, programs, activities, education and employment for individuals with disabilities. If you need additional access and/or assistance in the completion and submission of this application/form please contact <a href="mailto:expohelp@uw.edu">expohelp@uw.edu</a>.
			</li>
		<% end %>
		<li class="application status">
			<b>Your Current Application Status:</b>
		 	<%=h @user_application.status.public_title %>
			<br><%= textilize_without_paragraph(auto_link(simple_format(@user_application.status.message))) %>
		</li>
	</ul>

	<%= render :partial => "dashboard_items" %>
	
	<div class="progress_nav_buttons">
		<%= button_to start_button_text + " →", {:action => :page, :page => page_to_start}, {:id => 'next_button'} unless @offering.pages.empty? %>
		<%= link_to "Cancel My Application", {:action => :cancel}, {:id => 'cancel_button'} unless @offering.past_deadline? %>
	</div>

</fieldset>

<%= render :partial => "sidebar" %>
<%= render :partial => "apply/confirmation/sidebar", :locals => { :hide_welcome_link => true } if @user_application.passed_status?("fully_accepted") %>