<% make_main_content_blocked %>

<% form_for :question, @question, 
			:url => offering_page_question_path(@offering, @page, @question), 
			:html => { :method => :put, :id => "question_edit_form" } do |f| %>

	<div class="content-block">
		<h1><%= @question.short_question_title %></h1>

		<%= f.error_messages %>

		<%= f.submit "Save", :disable_with => 'Saving...' %>
		<%= separator "or" %>
		<%= link_to 'Cancel', offering_page_question_path(@offering, @page, @question), :class => 'cancel button' %>
	</div>
	
	<%= render :partial => "fields", :locals => { :f => f } %>

	<%= observe_form :question_edit_form, 
					:url => preview_offering_page_question_path(@offering, @page, @question),
					:indicator => 'preview_indicator',
					:update => "tab_pane_preview" %>

<% end %>