<% form_for :question, @question, :url => offering_page_questions_path(@offering, @page) do |f| %>

	<h1>New Question</h1>

	<%= f.error_messages %>

	<%= render :partial => "admin/offerings/pages/questions/tabs/main_details", :locals => { :f => f } %>

	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', offering_page_questions_path(@offering, @page), :class => 'cancel button' %>

<% end %>
