<h1><%= content_tag :span, @session.identifier, :class => 'session_identifier tag' unless @session.identifier.blank? %>
	<%=h @session.title %>
	<span class="light right"><%= link_to "Edit", edit_offering_session_path(@offering, @session), :class => 'edit button' %></span></h1>

<dl class="inline-definitions">

	<dt>title</dt>
	<dd><%= @session.title %>
		<%= "<small class=light>(temporary title)</small>" if @session.title_is_temporary? %></dd>

	<dt>moderator</dt>
	<dd><%= @session.moderator.nil? ? "<font class='light'>None assigned</font>" : @session.moderator.fullname %>
		
		<% unless @session.moderator_comments.blank? %>
		<br><small><strong>Comments:</strong> <%=h @session.moderator_comments %></small>
		<% end -%>
		
		</dd>

	<dt>location</dt>
	<dd><%= @session.location.blank? ? "<font class='light'>None assigned</font>" : @session.location %></dd>

	<dt>start time</dt>
	<dd><%= @session.start_time.to_s(:time12) %></dd>

	<dt>end time</dt>
	<dd><%= @session.end_time.to_s(:time12) %></dd>
	
	<dt>application type</dt>
	<dd><%= @session.application_type.title if @session.application_type %></dd>
	
	<dt>session group</dt>
	<dd><%= @session.session_group %></dd>

	<dt>finalized?</dt>
	<dd><% if @session.finalized? %>
			<font color=green>Yes</font> <span class="light">(<%= relative_timestamp(@session.finalized_date) %>)</span>
		<%- else -%>
			<font color="red">No</font>
		<% end -%>
		</dd>
	
</dl>

<h3>Presenters <%= indicator %></h3>
<div id="presenters"><%= render :partial => "presenters" %></div>

<% sidebar :add_presenter %>
<% sidebar :rearrange if @session.application_type.title == "Oral Presentation" %>
<% sidebar :print if @session.easel_numbers_assigned? %>