<% staff_count_done = false %>

<h3>Shifts
	<span class="light right"><%= link_to "Add new shift", new_event_staff_position_shift_path(@event, @staff_position) %></span></h3>

<%= form_tag admin_communicate_write_email_url, :id => 'shifts_form' %>

<table>
	<tr>
		<th><%= select_all_check_box %></th>
		<th>Times</th>
		<th class="center">Volunteers</th>
		<th>Functions</th>
	</tr>

	<% for shift in @staff_position.shifts.sort %>
	<tr>
		<td><%= select_check_box shift %></td>
		<td><%= link_to shift.time_detail, event_staff_position_shift_path(@event, @staff_position, shift) %></td>
		<% if !staff_count_done %>
			<td align=center valign="middle" <%= "rowspan=#{@staff_position.shifts.size}" if @staff_position.require_all_shifts? %>>
				<%= shift.staffs.size %>
				<%= "<br><small class='light'>(all shifts required)</small>" if @staff_position.require_all_shifts? %>
				<% staff_count_done = true if @staff_position.require_all_shifts? %>
			</td>
		<% end -%>
		<td><%= link_to 'Show', event_staff_position_shift_path(@event, @staff_position, shift) %>
			| <%= link_to 'Edit', edit_event_staff_position_shift_path(@event, @staff_position, shift) %>
			| <%= link_to 'Delete', event_staff_position_shift_path(@event, @staff_position, shift), :confirm => 'Are you sure?', :method => :delete %>
		</td>
	</tr>
	<% end %>

	<% if @staff_position.shifts.empty? %>
	<tr class="empty">
		<td colspan=10>No shifts exist. <%= link_to "Create one.", new_event_staff_position_shift_path(@event, @staff_position) %></td>
	</tr>
	<% end %>

</form>
</table>