<h1>New Shift</h1>

<% form_for :shift, @shift, :url => event_staff_position_shifts_path(@event, @staff_position) do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', event_staff_position_path(@event, @staff_position) %>

<% end %>
