<% make_main_content_full_width %>

<h1>Queries
	<span class="light right">
		<%= link_to "New query", new_population_path, :class => "new button" %>
		<%#= link_to "New population group", new_population_group_path, :class => "new button" %>
	</span></h1>
	
	<small class="light"><span class='group tag'>G</span>= Query Group</small>
	<small class="light"><span class='outline tag'>M</span>= Manual Population</small>

<%= form_tag admin_communicate_write_email_url, :id => 'populations_form' %>

<table>
	<tr>
		<th>Title</th>
		<th>Results</th>
		<th>Generated</th>
		<th>Creator</th>
		<th>Actions</th>
	</tr>

	<tr class="rowset-header"><td colspan=10>My Queries</td></tr>
	<%= render :partial => "populations", :object => @user_populations %>
	
	<tr class="rowset-header"><td colspan=10>My Program(s) Queries</td></tr>
	<%= render :partial => "populations", :object => @unit_populations %>
	
	<tr class="rowset-header"><td colspan=10>Open to Anyone</td></tr>
	<%= render :partial => "populations", :object => @everyone_populations %>

</table>

</form>

<br>
<small><%= link_to "Show deleted queries (#{Population.deleted.count})", deleted_populations_path, :class => "icon-left trash" %></small>