<h1>New Query</h1>

<% form_for :population, @population, :url => populations_path do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', populations_path, :class => 'cancel button' %>

<% end %>
