<div id="student_details">
<% if @student %>

	<div class="content-block">

		<%= render :partial => "admin/students/student_header" %>

		<% unless @student.equipment_reservations.current.empty? %>
			<br><br>
			<table id="equipment_reservations">
			<tr class="rowset-header"><td colspan=10>Current Equipment Reservations</td></tr>
				<%= render :partial => "admin/equipment_reservations/equipment_reservation", 
							:collection => @student.equipment_reservations.today %>
			</table>
		<% end -%>

		<br><br>
		<table id="front_desk_appointments">
			<tr class="rowset-header"><td colspan=10><%= @student.firstname %>'s Appointments Today</td></tr>
			<tr class="small left">
				<th>Time</th>
				<th>Staff Member</th>
				<th>Unit</th>
				<th>Front Desk Notes</th>
				<th>Check-in</th>
			<tr>
		
			<%= render :partial => "appointment", :collection => @student.appointments.today %>
		
			<% if @student.appointments.today.empty? %>
			<tr class="empty" id="empty_appointments">
				<td colspan=10>No appointments today.</td>
			</tr>
			<% end -%>
		
		</table>

		<%= render :partial => "new_appointment" %>
	
	</div>

<% end -%>
</div>
