<% dom_id = "background_check_row_#{student.id}" %>
<tr id="<%= dom_id %>">
  <td><%= check_box_tag 'select_students[]', value = student.id, false, {:class => "background_check_check"} %></td>
  <td><%= link_to student.fullname, admin_student_path(student) %></td>
  <td><%= student.sdb.birth_dt.strftime('%m/%d/%Y') %></td>
	<td><%= student.event_invites.last.event_time.start_time.strftime('%m/%d/%Y %I:%M%p') %></td>
	
  <% if student.pipeline_background_check.nil? %>
    <td>No | <%= link_to_remote "Clear Check", :url => {:controller => "pipeline",
                                                              :action => "clear_background_check",
                                                              :person_id => student.id } %></td>
  <% else %>
    <td>
    <%= relative_timestamp(student.pipeline_background_check) %> | 
    <%= link_to_remote "Unclear Check", :url => {:controller => "pipeline",
                                                                :action => "unclear_background_check",
                                                                :person_id => student.id } %></td>
  <% end %>
</tr>