<% dom_id = "background_check_row_#{student.id}" %>

<tr id="<%= dom_id %>">
  <td class="select">
    <%= javascript_tag "filterable('#{dom_id}', 'quarter_placed', '#{!student.pipeline_placements(@quarter).empty?}')" %>
		<%= javascript_tag "filterable('#{dom_id}', 'background_check', '#{!student.pipeline_background_check.nil?}')" %>
		<%= select_check_box(student) %>
  </td>
  <td><%= link_to student.fullname, admin_student_path(student, :anchor => 'pipeline') %><%= student.pipeline_inactive ? "<span id='pipeline_inactive_#{student.id}' class='tag'>inactive</span>" : "<span id='pipeline_inactive_#{student.id}'></span>" %></td>
  <td>
    <span id="student_background_check_<%= student.id %>">
      <% if student.pipeline_background_check.nil? || (student.pipeline_background_check <= (Time.now - 2.year)) %>
        <%= link_to_remote "Clear Student Background Check", :url => {:controller => "pipeline",
                                                      :action => "clear_background_check",
                                                      :person_id => student.id },
                                            :loading  => "$('bg_check_#{student.id}').show()",
                                            :complete => "$('bg_check_#{student.id}').hide()" %>
        <%= indicator("bg_check_#{student.id}") %>
        <% if !student.pipeline_background_check.nil? && student.pipeline_background_check <= (Time.now - 2.year) %>
          <small>previous <%= relative_timestamp(student.pipeline_background_check, {:date_only => true}) %></small>
        <% end %>
      <% else %>
        <%= relative_timestamp(student.pipeline_background_check, {:date_only => true}) %>
      <% end %>
    </span>
  </td>
  <td>
    <% unless student.pipeline_placements.empty? %>
      <%= 
        link_to_function("show", nil, :id => "position_hide_link_#{ student.id }") do |page| 
          page.visual_effect :toggle_blind, "student_positions_#{ student.id }"
          page.if("$('position_hide_link_#{ student.id }').innerHTML == 'show'"){
            page.replace_html "position_hide_link_#{ student.id }", "hide"
          page.else 
            page.replace_html "position_hide_link_#{ student.id }", "show"}
        end
      %>
      <span>(<%= student.pipeline_placements(@quarter).size %>/<%= student.pipeline_placements.size %>)</span>
    <% else %>
      none
    <% end %>
  </td>
</tr>

<% unless student.pipeline_placements.empty? %>
  <tr id="student_positions_<%= student.id %>" style="display:none;">
    <td class="student_confirmed_pipeline_positions_row" colspan="5" >
      <div class="student_confirmed_pipeline_positions">
      <% for pipeline_placement in student.pipeline_placements %>
        <% div_class = pipeline_placement.position.quarter == @quarter ? "icon-left complete" : "icon-left incomplete" %>
        <div id="pipeline_placement_<%= pipeline_placement.id %>" class="<%= div_class %>">
          <small><%= link_to_remote "(remove)",
              :url => {:action => "remove_position_confirmation", :id => pipeline_placement.id},
              :html => {:class => "important_link"},
              :before => "this.disabled=true;this.onclick=function(){return false;};",
              :confirm => "Are you sure you want to delete the confirmation?" %>
          </small>
          -
          <%= pipeline_placement.position.organization_quarter.title %>
          -
          <%= pipeline_placement.course.nil? ? 'Volunteer' : pipeline_placement.course.title %>
          -
          <%= link_to pipeline_placement.position.organization.name, 
          		service_learning_organization_path(
          		@unit, @quarter, pipeline_placement.position.organization_quarter.organization) %>
          -
          <%= link_to pipeline_placement.title,
              service_learning_organization_position_path(
          	  @unit, @quarter, pipeline_placement.organization, pipeline_placement.position) %>
        </div>
      <% end %>
      </div>
    </td>
  </tr>
<% end %>