<% current_date = nil %>
<% show_attendees ||= true %>

<table>
	<tr>
		<th>Times</th>
		<th>Location</th>
		<th>Capacity</th>
		<th>Attending</th>
		<th>Attended</th>
		<th>Functions</th>
	</tr>

<% for time in times %>

	<% if time.start_time.to_date != current_date %>
	<tr class="rowset-header">
		<td colspan=7><%= time.time_detail(:date_only => true) %></td>
	</tr>
	<% current_date = time.start_time.to_date %>
	<% end -%>


	<tr>
		<td><%= link_to time.time_detail(:time_only => true), event_time_path(time.event, time) %></td>
		<td><%= time.location_text.blank? ? "<span class=light>TBD</span>" : h(time.location_text) %></td>
		<td class="center">
			<%=h time.capacity %>
			</td>
		<td class="center">
			<%= tooltip(time.attendees.size.to_s, "<strong>Attending</strong>: " + time.attendee_list) %>
			</td>
		<td class="center">
			<%= time.attended.size.to_s %>
			<% percentage = (time.attended.size.to_f / time.attendees.size.to_f) * 100 %>
			<small class="light">(<%= number_to_percentage(percentage, :precision => 1) %>)</small>
			</td>
		<td><%= link_to 'Show', event_time_path(time.event, time) %>
			| <%= link_to 'Edit', edit_event_time_path(time.event, time) %>
			| <%= link_to 'Delete', event_time_path(time.event, time), :confirm => 'Are you sure?', :method => :delete %>
			| <%= link_to 'Check-in', event_checkin_index_path(time.event, :event_time_id => time) %>
  		| <%= link_to "Background Checks", background_checks_admin_pipeline_path(:event_time_id => time) %>
  		| <%= link_to "Student Info", student_questions_admin_pipeline_path(:event_time_id => time) %>
		</td>
	</tr>

<% end %>
</table>