<%= make_main_content_full_width %>

<h1>Help Text for <%= @model.pluralize.titleize %>
	<span class="right"><%= indicator %></span></h1>

<table>
	
	<tr>
		<th>Attribute</th>
		<th>Title</th>
		<th>Caption</th>
		<th>Example</th>
	</tr>

	<%= render :partial => "attribute", :collection => @attributes %>
	
</table>


<h3>Other Text Blocks
	<span class="right"><%= link_to "Add new", new_admin_help_text_path(:model => @model), :class => 'add_new button' %></span>
	</h3>
	
<table>
	
	<tr>
		<th>Key</th>
		<th>Text</th>
	</tr>

	<%= render :partial => "help_text", :collection => @help_texts %>
	
	<% if @help_texts.empty? %>
	<tr class="empty">
		<td colspan=2>No additional help texts for this model exist yet. 
			<%= link_to "Create a new one.", new_admin_help_text_path(:model => @model) %>
		</td>
	</tr>
	<% end -%>
	
</table>