<h1>New Service Learning Course
	<span>&raquo; <%= @quarter.title %></span></h1>

<%= error_messages_for :service_learning_course %>

<% form_for(@service_learning_course, :url => service_learning_course_path(@unit, @quarter, @service_learning_course), :html => {:multipart => true }) do |f| %>
	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create" %>
	<%= separator %>
	<%= link_to 'Cancel', service_learning_courses_path, :class => 'cancel button' %>
	
	
<% end %>

