<h1>Position Listing
	<span>&raquo; <%= @service_learning_course.title %></span></h1>

<table>
	
	<tr>
		<th>Organization</th>
		<th>Position</th>
		<th class="center">Number of slots available</th>
	</tr>

		<% for course in @service_learning_course.courses %>
			<tr class="rowset-header">
				<td colspan=4><%= course.course.short_title %></td>
			</tr>
			<% total_slots_for_class = 0 %>

			<% for organization in @service_learning_course.organizations.sort %>
			<% positions = @service_learning_course.positions.offered_by(organization).uniq %>

				<tr>
					<td rowspan=<%= positions.size + 1 %>>
						<%= organization.name %>
					</td>

				</tr>

				<% for position in positions %>
					<% slots_for_class = position.placements.for(@service_learning_course).size %>
					<% total_slots_for_class += slots_for_class %>

						<tr>
							<td><%= position.title %></td>

							<td class="center"><%= slots_for_class %></td>

						</tr>
				<% end -%>

			<% end -%>

		<% end -%>
	
</table>

<% for @position in @service_learning_course.positions.uniq %>
	<p class="page-break">&nbsp;</p>
	<% @service_learning_course.registration_open_time = nil %>
	<%= render :file => "service_learning/position.html.erb" %>
<% end -%>