<h1>Editing organization</h1>

<%= error_messages_for :organization %>

<% form_for @organization, :url => admin_organization_path(@organization) do |f| %>

	<%= render :partial => "fields", :locals => { :f => f, :admin => true } %>

    <%= f.submit "Update" %>
	<%= separator %>
	<%= link_to 'Cancel', params[:return_to] || admin_organization_path(@organization), :class => "cancel button" %>

<% end %>


<% sidebar :contacts %>