<%= javascript_include_tag "tablesort" %>

 <h1>Listing organizations <span class="light">&raquo; total <%= pluralize @organizations.size, "organization" %></span>
		</h1>
<!-- span class="light right"><%= link_to "Add new organization", new_admin_organization_path, :class => 'add button' %></span> Add organization from service_learning interface-->


<table class="sortable" id="sortable-table-0">
  <tr>
    <th class="sortasc"><div class="sort-icon">Name</th>
    <th><div class="sort-icon">Approved</div></th>
	<th><div class="sort-icon">Archived</div></th>
	<th class="nosort">Functions</th>
  </tr>

<% for organization in @organizations %>
  <tr>
    <td><%=h organization.name %></td>
    <td><%=h organization.approved %></td>
	<td><%=h organization.archive if organization.archive %></td>
    <td><%= link_to 'Show', admin_organization_path(organization) %>
    	| <%= link_to 'Edit', edit_admin_organization_path(organization) %>
    	| <%= link_to 'Destroy', admin_organization_path(organization), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
