<h1>Sub-times
	<span class="light">&raquo; <%=h @time.time_detail %></span>
	<span class="light right"><%= link_to "add new", new_event_time_sub_time_path(@event, @time) %></span></h1>

<%= form_tag admin_communicate_write_email_url, :id => 'sub_times_form' %>

<table>
	<tr>
		<th><%= select_all_check_box %></th>
		<th>Time Detail</th>
		<th>Attending</th>
		<th>Functions</th>
	</tr>

	<% for sub_time in @sub_times %>
	<tr>
		<td><%= select_check_box sub_time %></td>
		<td><%=h sub_time.time_only %></td>
		<td><%=h sub_time.attendees.size %></td>
		<td><%= link_to 'Show', event_time_sub_time_path(@event, @time, sub_time) %>
			| <%= link_to 'Edit', edit_event_time_sub_time_path(@event, @time, sub_time) %>
			| <%= link_to 'Delete', event_time_sub_time_path(@event, @time, sub_time), :confirm => 'Are you sure?', :method => :delete %>
		</td>
	</tr>
	<% end %>
	
	<% if @sub_times.empty? %>
	<tr class="empty">
		<td colspan=10>No sub_times exist. <%= link_to "Create one.", new_event_time_sub_time_path(@event, @time) %></td>
	</tr>
	<% end %>
</table>

</form>