<h1>Academic Departments
	<span class="light right"><%= link_to "Add new department", new_academic_department_path, :class => 'add button' %></span></h1>
<div class="caption red">This is only for symposium use and not related to SDB departments</div>

<table>
	<tr>
		<th>Department Name</th>
		<th>Description</th>
		<th colspan=3>Functions</th>
	</tr>
	<% for department in @academic_departments %>
	<tr id="academic_departments_<%= department.id %>">
		<td><%=h department.name %></td>
		<td><%=h department.description %></td>
		<td><%= link_to "Show", academic_department_path(department) %></td>
		<td><%= link_to "Edit", edit_academic_department_path(department) %></td>
		<td><%= link_to_remote "Destroy",
						:url => academic_department_path(department),
						:confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>

	<% if @academic_departments.empty? %>
	<tr class="empty">
		<td colspan=10>No academic departments exist. <%= link_to "Create one.", new_academic_department_path %></td>
	</tr>
	<% end %>

</table>

</form>