<h1>New Academic Department</h1>

<% form_for :academic_department, @academic_department, :url => academic_departments_path do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', academic_departments_path, :class => 'cancel button' %>

<% end %>