<pre>
<table border=1>
	<tr>
		<th>command</th>
		<th align=left><pre>    user   system    total       real</pre></th>
	</tr>
			
	<tr>
		<td>StudentInfo.connection.reconnect!</td>
		<td><%= Benchmark.measure{StudentInfo.connection.reconnect!} %></td>
	</tr>
	
	<tr>
		<td>Curriculum.valid_for(@quarter)</td>
		<td><%= Benchmark.measure{Curriculum.valid_for(@quarter)} %></td>
	</tr>

	<tr>
		<td>Curriculum.valid_for(@quarter).find_by_curric_abbr("GEOG")</td>
		<td><%= Benchmark.measure{Curriculum.valid_for(@quarter).find_by_curric_abbr("GEOG")} %></td>
	</tr>

	<tr>
		<td>Curriculum.valid_for(@quarter).find_by_curric_abbr("GEOG").course_numbers(@quarter)</td>
		<td><%= Benchmark.measure{Curriculum.valid_for(@quarter).find_by_curric_abbr("GEOG").course_numbers(@quarter)} %></td>
	</tr>

	<tr>
		<td>Student.find_by_uw_netid("mharris2")</td>
		<td><%= Benchmark.measure{Student.find_by_uw_netid("mharris2")} %></td>
	</tr>

	<tr>
		<td>StudentRecord.find_by_uw_netid("mharris2")</td>
		<td><%= Benchmark.measure{StudentRecord.find_by_uw_netid("mharris2")} %></td>
	</tr>

	<tr>
		<td>Course.find [2009, 4, 0, 123, "GEOG  ", "AF "]</td>
		<td><%= Benchmark.measure{Course.find [2009, 4, 0, 123, "GEOG  ", "AF "]} %></td>
	</tr>

</table></pre>