<%= javascript_include_tag 'chosen.proto.min' %>
<%= javascript_include_tag 'prototype.1.7' %>
<%= javascript_include_tag 'event.simulate.js' %>
<%= stylesheet_link_tag 'chosen.min' %>
<% admin ||= false %>

<% fields_for :self_placement_attributes, @self_placement do |s| %>

	<h2>Student Information</h2>
		<dl class="inline-definitions">
			<dt>Student Name </dt><dd><%= @student.fullname %></dd>
			<dt>Student Number</dt><dd><%= @student.student_no %></dd>
			<dt>Email </dt><dd><%= @student.email %></dd>
			<dt>Enrolled Course </dt><dd>
				<%= @service_learning_course.title %>
				<%= s.hidden_field :service_learning_course_id, :value => @service_learning_course.id %>
			</dd>
			<%= s.hidden_field :person_id, :value => @student.id %>
			<%= s.hidden_field :quarter_id, :value => @quarter.id %>			
		</dl>	
			
	<h2>Organization Information</h2>
		<%= s.error_messages %>
	<dl class="inline-definitions">

		<div id = "create_organization" <%= "style='display:none'" if @display_contact || @self_placement.new_record? || @self_placement.existing_organization? %>>
			
			<dt>New organization? <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd>
			 	<%= s.check_box :new_organization, 
								:onchange => "if(!$('self_placement_attributes_new_organization').checked){Element.toggle(create_organization);Element.toggle(select_organization);Element.toggle(create_contact_person);Element.toggle(select_contact_person);}" %>
			    Check to create a new organization. Uncheck if you want to select from existing one.				
			 	
			</dd>
						
			<dt>New Organization <br>Name <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= s.text_field :organization_id, :size => 70, 
								 :value => (@self_placement.new_record? || @self_placement.existing_organization?) ? "" : @self_placement.try(:organization_id) %>				
			</dd>					
			
			<dt>Mailing Address</dt>
			<dd><%= s.text_field :organization_mailing_line_1 %>
				<br><%= s.text_field :organization_mailing_line_2 %>
				<br><%= s.text_field :organization_mailing_city, :size => 15 %>, 
					<%= s.state_select :organization_mailing_state, 'US', :selected => 'Washington' %>
					<%= s.text_field :organization_mailing_zip, :size => 10 %></dd>

			<dt>Website Address</dt>
			<dd><%= s.text_field :organization_website_url %></dd>

			<dt>What is the organization all about?</dt>
			<dd>
				<%= s.text_area :organization_mission_statement, :style => "width:99%", :rows => 6 %>
				<p class="caption">Mission statement or other background information</p>
			</dd>			
				
		</div>
		
		<!--[if lt IE 9]><div class="error-message"><span class='icon-left error'></span>Warning: You need to upgrade to a modern web browser such as <a href="http://www.google.com/chrome" target="_blank">Google Chrome</a>, <a href="http://www.browserforthebetter.com/download.html" target="_blank">the latest IE</a>, or <a href="http://www.firefox.com" target="_blank">Firefox<a> to input this field.</div> <![endif]-->		
		<div id = "select_organization" <%= "style='display:none'" if !@display_contact && !@self_placement.new_record? && !@self_placement.existing_organization? %>>
			<dt>Organization Name <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= select_tag :organization_id, options_for_select(@organization_options, @organization.try(:id) || @self_placement.try(:organization_id).to_i),
			 			   	   :class => "chosen-single"  %>
				<span class="small"><%= "Can't find your organization?" unless admin %>
					<%= link_to_function "Create a new one.", "Element.toggle(create_organization);Element.toggle(select_organization);Element.toggle(create_contact_person);Element.toggle(select_contact_person);$('self_placement_attributes_new_organization').checked = true;" %>
				</span>
				<% javascript_tag do -%>					  
					  new Chosen($("organization_id"),{
						allow_single_deselect: <%= @self_placement.new_record? %>,
						placeholder_text_single: "<span class='smaller'>Select an Organization or Type Keyword for Search</span>",
						width: "400px"}
					  );									

				<% end %>
			</dd>
		</div>
		<span id = "create_contact_person" <%= "style='display:none'" if !@new_contact || @self_placement.new_record? %>>
			<dt>Contact Person	<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= s.text_field :organization_contact_person, :class => "required" %> Title: <%= s.text_field :organization_contact_title %>
				<span class="small">
					<%= link_to_function "Select from existing contacts", "Element.toggle(create_contact_person);Element.toggle(select_contact_person);" if @display_contact || admin %>
				</span>
			</dd>

			<dt>Contact phone <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= s.text_field :organization_contact_phone %>	<span class='caption'>e.g: 2061234567</span></dd>

			<dt>Contact Email <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= s.text_field :organization_contact_email %></dd>				
		</span>
			
<% fields_for :service_learning_position, @position do |p| %>
		<span id = "select_contact_person" <%= "style='display:none'" if @new_contact && !@self_placement.new_record? %>>
			<dt>Contact Person 	<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd>				
						<%= indicator 'contact_person' %>
							<%= p.collection_select(:supervisor_person_id,
													@organization.contacts,
													:id, :fullname, :include_blank => "Please select" ) rescue "<span class='smaller grey'>Please select an organization first.</span>" %>
		</span>										
		<span class="small">
			<%= link_to_function "Can't find your contact? Create a new one", "Element.toggle(create_contact_person);Element.toggle(select_contact_person);" if @display_contact || admin %>
		</span>					
		</dd>
		<%= observe_field :organization_id,			
						  :url => { :action => admin ? "self_placement_update" : "general_study", 
								    :id => @self_placement.id,
								    :update_contact_options => true },
						  :with => "'organization_id=' + value + '&self_placement_attributes[new_organization]=' + $F('self_placement_attributes_new_organization')",						
						  :indicator => 'contact_person'
		%>		
	</dl>	
	
	<h2>Faculty Information</h2>
	<dl class="inline-definitions">
		<dt>Faculty Name<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd>First name <%= s.text_field :faculty_firstname %> Last name <%= s.text_field :faculty_lastname %></dd>
		<dt>Faculty Email<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= s.text_field :faculty_email %></dd>
		<dt>Faculty Department <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= s.text_field :faculty_dept, :size => 70 %></dd>
		<dt>Faculty Phone<%= content_tag('em', '*', :class => 'required') %> </dt>
			<dd><%= s.text_field :faculty_phone %> <span class='caption'>e.g: 2061234567</span></dd>
	</dl>
		
	<h2>Position Information</h2>
	<%= p.error_messages %>
		<dl class="inline-definitions">
			<dt>Position Title	<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.text_field :title, :size => 70 %></dd>

			<dt>1. Learning Goals: What do you want to learn as a result of this internship experience?  How will these goals relate to your academic work at the University?  Be specific.
				<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.text_area :learning_goals, :style => "width:70%", :rows => 6  %></dd>

			<dt>2. Academic Topics: Based on your learning goals, list two or three possible topics for your final paper or project that will be handed in for academic credit. You must agree with your academic sponsor on an appropriate topic. This paper or project MUST integrate your fieldwork with analytic, conceptual, critical, and/or theoretical knowledge from your classroom experiences. It may NOT be simply a log or record of your internship experience. 
				<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.text_area :academic_topics, :style => "width:70%", :rows => 6 %></dd>					

			<dt>3. Sources: You are agreeing to complete research outside of the time spent at your internship to integrate your experience with your academic work.  List at least 3 sources that you will use, INCLUDING TITLE AND AUTHOR’S NAME. Be specific, (NOT simply “internet” or “library”).
				<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.text_area :sources, :style => "width:70%", :rows => 6 %></dd>					
			
			<dt>4. Job Description<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.text_area :description, :style => "width:70%", :rows => 6 %></dd>			

		</dl>

	<h2>Other Position Information</h2>
		<dl class="inline-definitions">
			<dt>Public Service? <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.check_box :public_service %>Check if Yes</dd>

			<dt>Total Hours/Qtr. <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.text_field :total_hours, :size => 20 %></dd>

			<dt>Credit <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.text_field :credit, :size => 10 %></dd>

			<dt>Compensation <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.radio_button :volunteer, 1 %> Volunteer 
			    <%= p.radio_button :volunteer, 0 %> Paid, total compensation: $<%= p.text_field :compensation, :size => 10 %>
			</dd>
		</dl>

<%- end # end new_position_attributes -%>


<%= s.hidden_field :general_study, :value => true %>

<% end #end self_placement_attruibutes %>

<% if admin %>
	<div class="progress_nav_buttons">
		<%= submit_tag "Save", :disable_with => "Saving..." %>
		<span class="separator"> – or – </span>
		<%= link_to 'Cancel', :action => 'self_placement_approval', :id => @self_placement.id,	:class => 'cancel button' %>		
	</div>
<% else %>
	<div class="progress_nav_buttons">
		<%= submit_tag "Save", :disable_with => "Saving..." %>
		<%= submit_tag "Review and Submit", :disable_with => "Next to review page..." %>
	</div>
<% end %>
<br>



