<%= javascript_include_tag 'chosen.proto.min' %>
<%= javascript_include_tag 'prototype.1.7' %>
<%= javascript_include_tag 'event.simulate.js' %>
<%= stylesheet_link_tag 'chosen.min' %>
<% admin ||= false %>

<% fields_for :self_placement_attributes, @self_placement do |s| %>

	<h2>Student Information</h2>
		<dl class="inline-definitions">
			<dt>Student Name </dt><dd><%= @student.fullname %></dd>
			<dt>Student Number</dt><dd><%= @student.student_no %></dd>
			<dt>Email </dt><dd><%= @student.email %></dd>
			<dt>Enrolled Course </dt><dd>
				<%= @service_learning_course.title %>
				<%= s.hidden_field :service_learning_course_id, :value => @service_learning_course.id %>
				<span class='small'>
					<%= link_to "(Switch to another course)", :action => 'which', :type => 'self_placement' if @enrolled_service_learning_courses && @enrolled_service_learning_courses.size > 1 %>
				</span>
			</dd>
			<%= s.hidden_field :person_id, :value => @student.id %>
			<%= s.hidden_field :quarter_id, :value => @quarter.id %>
		</dl>
		
	<h2>Organization Information</h2>
	<%= s.error_messages %>
	
	<dl class="inline-definitions">

		<div id = "create_organization" <%= "style='display:none'" if @display_contact || @self_placement.new_record? || @self_placement.existing_organization? %>>
			
			<dt>New organization?</dt>
			<dd>
				<%= javascript_tag("$('self_placement_attributes_new_organization').value = 0;") if !@new_organization.nil? && @new_organization == false %>
				
			 	<%= s.check_box :new_organization, 
								:onchange => "if(!$('self_placement_attributes_new_organization').checked){Element.toggle(create_organization);Element.toggle(select_organization);$('self_placement_attributes_new_organization').value = 0;}" %>
			    Check to create a new organization. Uncheck if you want to select from existing one.				
			</dd>
						
			<dt>New Organization <br>Name <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= s.text_field :organization_id, :size => 70, 
								 :value => (@self_placement.new_record? || @self_placement.existing_organization?) ? "" : @self_placement.try(:organization_id) %>				
			</dd>					
			
			<dt>Mailing Address</dt>
			<dd><%= s.text_field :organization_mailing_line_1 %>
				<br><%= s.text_field :organization_mailing_line_2 %>
				<br><%= s.text_field :organization_mailing_city, :size => 15 %>, 
					<%= s.state_select :organization_mailing_state, 'US', :selected => 'Washington' %>
					<%= s.text_field :organization_mailing_zip, :size => 10 %></dd>

			<dt>Website Address</dt>
			<dd><%= s.text_field :organization_website_url %></dd>

			<dt>What is the organization all about?</dt>
			<dd>
				<%= s.text_area :organization_mission_statement, :style => "width:99%", :rows => 6 %>
				<p class="caption">Mission statement or other background information</p>
			</dd>
			<dt>Contact Person	<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= s.text_field :organization_contact_person, :class => "required" %> Title: <%= s.text_field :organization_contact_title %></dd>

			<dt>Contact phone <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= s.text_field :organization_contact_phone %>	<span class='caption'>e.g: 2061234567</span></dd>

			<dt>Contact Email <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= s.text_field :organization_contact_email %></dd>	
		</div>
		
		<!--[if lt IE 9]><div class="error-message"><span class='icon-left error'></span>Warning: You need to upgrade to a modern web browser such as <a href="http://www.google.com/chrome" target="_blank">Google Chrome</a>, <a href="http://www.browserforthebetter.com/download.html" target="_blank">the latest IE</a>, or <a href="http://www.firefox.com" target="_blank">Firefox<a> to input this field.</div> <![endif]-->		
		<div id = "select_organization" <%= "style='display:none'" if !@display_contact && !@self_placement.new_record? && !@self_placement.existing_organization? %>>
			<dt>Organization Name <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= select_tag :organization_id, options_for_select(@organization_options, @organization.try(:id) || @self_placement.try(:organization_id).to_i),
			 			   	   :class => "chosen-single"  %>
				<span class="small"><%= "Can't find your organization?" unless admin %>
					<%= link_to_function "Create a new one.", "Element.toggle(create_organization);Element.toggle(select_organization);$('self_placement_attributes_new_organization').checked = true;" %>
				</span>
				<% javascript_tag do -%>					  
					  new Chosen($("organization_id"),{
						allow_single_deselect: <%= @self_placement.new_record? %>,
						placeholder_text_single: "<span class='smaller'>Select an Organization or Type Keyword for Search</span>",
						width: "400px"}
					  );									

				<% end %>
			</dd>
			
<% fields_for :service_learning_position, @position do |p| %>

			<dt>Contact Person 	<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd>
				<%= indicator 'contact_person' %>
					<%= p.collection_select(:supervisor_person_id,
											@organization.contacts,
											:id, :fullname) rescue "Please select an organization first" %>
			</dd>	
			<%= observe_field :organization_id,			
							  :url => { :action => admin ? "self_placement_update" : "self_placement", 
									    :id => @self_placement.id,
									    :update_contact_options => true },
							  :with => "'organization_id=' + value + '&self_placement_attributes[new_organization]=' + $F('self_placement_attributes_new_organization')",						
							  :indicator => 'contact_person'
			%>
		</div>
	</dl>	
	
	<h2>Basic Position Information</h2>
	<%= p.error_messages %>
		<dl class="inline-definitions">
			<dt>Position Title	<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.text_field :title, :size => 70 %></dd>
			
			<dt>Volunteer since	<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.date_select :volunteer_since, :order => [:day, :month, :year], :discard_day => true,
								  :start_year => Time.now.year-5, :end_year => Time.now.year, :prompt => true %> </dd>
			
			<dt>Paid or Unpaid <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.check_box :paid %>Check if Paid</dd>
			
			<p style="padding-left: 15px;">
			<strong style="color:#999">If serving with a religious institution, are you engaging in religious instruction?</strong>
			<%= content_tag('em', '*', :class => 'required') %>
			<%= p.check_box :religious %>Check if Yes</p><br>
			
			<dt>Please describe how this position contributes to the mission of your organization.
				<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.text_area :context_description, :style => "width:70%", :rows => 6  %></dd>
			
			<dt>Describe the work of the position. What does your service with the organization look like day-to-day? What is the work environment like? What have you already learned through your volunteer efforts there? <%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.text_area :description, :style => "width:70%", :rows => 6 %></dd>
			
			<dt>How will this community-engaged learning position make an impact on your organization and/or the people you serve? 
				<%= content_tag('em', '*', :class => 'required') %></dt>
			<dd><%= p.text_area :impact_description, :style => "width:70%", :rows => 6 %></dd>		
		</dl>
		
	<h2>Service Learning Schedule <%= content_tag('em', '*', :class => 'required') %></h2>
	<p>Please use this schedule to indicate the days and times you serve at this organization in a given week.</p><br>
	<% content_for :head do %>
		<%= javascript_include_tag "scheduling_tools" %>
	<% end %>
	<center>
	<table class="selectable">
		<tr class="center">
			<th></th>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
			<th></th>
		</tr>

		<%= render :partial => "admin/service_learning/organizations/positions/time_row", 
				   :collection => 7..23,
				   :locals => { :service_learning_position => @position } %>

	</table>
	</center>
	<%= p.hidden_field :new_times %>
<%- end # end new_position_attributes -%>

<dl class="inline-definitions">
	<h2>Through community-engaged learning, I hope to learn <%= content_tag('em', '*', :class => 'required') %></h2>
	<p>How do the themes explored in this course relate to your role at your service site? What new things do you hope to explore through this integration of academic learning and service?</p>
	<dt></dt><dd><%= s.text_area :hope_to_learn, :style => "width:85%", :rows => 5 %></dd>
</dl>

<%= s.hidden_field :general_study, :value => false %>

<% end #end self_placement_attruibutes %>

<% if admin %>
	<div class="progress_nav_buttons">
		<%= submit_tag "Save", :disable_with => "Saving..." %>
		<span class="separator"> – or – </span>
		<%= link_to 'Cancel', :action => 'self_placement_approval', :id => @self_placement.id,	:class => 'cancel button' %>		
	</div>
<% else %>
	<div class="progress_nav_buttons">
		<%= submit_tag "Save", :disable_with => "Saving..." %>
		<%= submit_tag "Review and Submit", :disable_with => "Next to review page..." %>
	</div>
<% end %>
<br>



