
<h3>Student Information <%= "<span class='green tag'>admin approved</span>" if @self_placement.admin_approved? %></h3>
	<dl class="inline-definitions">
		<dt>Student Name </dt><dd><%= @self_placement.person.fullname %></dd>
		<dt>Student Number</dt><dd><%= @self_placement.person.student_no %></dd>
		<dt>Email </dt><dd><%= @self_placement.person.email %></dd>
		<dt>Enrolled Course</dt>
		<dd><%= @self_placement.course.title %>
		</dd>
	</dl>

<h3>Organization Information</h3>
	<dl class="inline-definitions">
		<dt>Organization Name</dt>
		<dd><%= @self_placement.organization_name %></dd>
		
		<div <%= "style='display:none'" if !@self_placement.existing_organization? || @self_placement.position.try(:supervisor).blank? %>>
			<dt>Contact Person</dt>
			<dd><%= @self_placement.position.supervisor.try(:fullname) rescue "#error" %></dd>
		</div>	
						
		<div <%= "style='display:none'" if @self_placement.existing_organization? %>>
			<dt>Mailing address</dt>
			<dd><%= @self_placement.organization_mailing_line_1 %>
				<br><%= @self_placement.organization_mailing_line_2 %>
				<br><%= @self_placement.organization_mailing_city %>, 
					<%= @self_placement.organization_mailing_state %>
					<%= @self_placement.organization_mailing_zip %></dd>

			<dt>Website Address</dt>
			<dd><%= @self_placement.organization_website_url %></dd>

			<dt>What is the organization all about?</dt><br>
			<dd><%= @self_placement.organization_mission_statement %></dd>
		</div>
		<div <%= "style='display:none'" if @self_placement.existing_organization? && !@self_placement.position.try(:supervisor).blank? %>>
			<dt>Contact Person</dt>
			<dd><%= @self_placement.organization_contact_person %>, <%= @self_placement.organization_contact_title %></dd>

			<dt>Contact phone</dt>
			<dd><%= phone_number @self_placement.organization_contact_phone %></dd>

			<dt>Contact Email</dt>
			<dd><%= @self_placement.organization_contact_email %></dd>
		</div>		
	</dl>

<% if @self_placement.general_study? %>
	<h3>Faculty Information</h3>
	<dl class="inline-definitions">
		<dt>Faculty Name</dt><dd><%= "#{@self_placement.faculty_firstname}, #{@self_placement.faculty_lastname}" %></dd>
		<dt>Faculty Email</dt><dd><%= @self_placement.faculty_email %></dd>
		<dt>Faculty Department</dt><dd><%= @self_placement.faculty_dept %></dd>
		<dt>Faculty Phone</dt><dd><%= @self_placement.faculty_phone %></dd>
	</dl>
<% end %>
	
<h3>Basic Position Information</h3>
	<dl class="inline-definitions">
		<dt>Position Title</dt>
		<dd><%= @self_placement.position.try(:name) %></dd>
		
		<% if @self_placement.general_study? %>
			
			<dt>Learning Goals: What do you want to learn as a result of this internship experience?  How will these goals relate to your academic work at the University?  Be specific.</dt><br>
			<dd><%= @self_placement.position.try(:learning_goals) %></dd>
			
			<dt>Academic: Based on your learning goals, list two or three possible topics for your final paper or project that will be handed in for academic credit. You must agree with your academic sponsor on an appropriate topic. This paper or project MUST integrate your fieldwork with analytic, conceptual, critical, and/or theoretical knowledge from your classroom experiences. It may NOT be simply a log or record of your internship experience.</dt><br>
			<dd><%= @self_placement.position.try(:academic_topics) %></dd>
			
			<dt>Sources: You are agreeing to complete research outside of the time spent at your internship to integrate your experience with your academic work.  List at least 3 sources that you will use, INCLUDING TITLE AND AUTHOR’S NAME. Be specific, (NOT simply “internet” or “library”).</dt><br>
			<dd><%= @self_placement.position.try(:sources) %></dd>		

			<dt>Job Description</dt><br>
			<dd><%= @self_placement.position.try(:description) %></dd>
			
		<% else %>
			<dt>Please set a the context for how this service-learning position contributes to the mission of your organization.</dt><br>
			<dd><%= @self_placement.position.try(:context_description) %></dd>
		
			<dt>Describe the work of the position-what will their work with your organization look like day to day? What might students learn working in this role? What is the work environment like?</dt>
			<dd><%= @self_placement.position.try(:description) %></dd>
		
			<dt>How will this service-learning position make an impact on your organization and/or the people you serve?</dt><br>
			<dd><%= @self_placement.position.try(:impact_description) %></dd>		
		
			<dt>Schedule Times</dt>
			<dd>
			<% if @self_placement.position %>
				<% if @self_placement.position.times.size < 10 %>
					<% for time in @self_placement.position.times %>
						<%= time.pretty_print %><br />
					<% end %>
					<%= "You did not select any times" if @self_placement.position.times.empty? %>
				<% else %>
					Multiple
				<% end %>
			<% end %>
			</dd>
	</dl>
			<h3>Through service-learning</h3>
			<dl class="inline-definitions">
				<dt>Hope to learn</dt><dd><%= @self_placement.hope_to_learn %></dd>
			</dl>
		<% end %>

<% if @self_placement.general_study? %>
	<h3>Other Position Information</h3>
	<dl class="inline-definitions">
		<dt>Public Service?</dt><dd><%= @self_placement.position.try(:public_service) %></dd>
		<dt>Total Hours/Qtr.</dt><dd><%= @self_placement.position.try(:total_hours) %></dd>
		<dt>Credit</dt><dd><%= @self_placement.position.try(:credit) %></dd>
		<dt>Compensation</dt><dd><%= @self_placement.position.try(:volunteer) == 1 ? "volunteer" : "Paid" %><%= ", total is " + number_to_currency(@self_placement.position.try(:compensation), :unit => "$") if @self_placement.position.try(:volunteer) == 0 %></dd>
	</dl>
<% end %>

	