<% title("Service-Learning Registration", @quarter.title) %>

<h2>Welcome, <%= @student.firstname %>.</h2>

<%= HelpText.caption :service_learning_registration, ServiceLearningPlacement %>		
	
<%= render :partial => "your_position", :locals => { :service_learning_course => @service_learning_course, :position => @current_position, :hide_change_button => true, :show_my_details_link => true } if @placements && !@placements.empty? %>

<p>You are currently enrolled in the following <%= pluralize @enrolled_service_learning_courses.size, "service-learning course" %>: 
	<strong><%= @enrolled_service_learning_courses.collect(&:title).join(", ") %></strong>
	<%= link_to "(Switch to another course)", :action => 'which' if @enrolled_service_learning_courses.size > 1%>
	</p>
	
	<%= render :partial => "positions", :object => @service_learning_course %>
