<% title("My Service-Learning Position", @quarter.title) %>

<% for placement in @placements; @position = placement.position %>

<h2 class="position title">
	<%= @position.title %>
	<span class="smaller grey">at <strong><%= @position.organization.name %></strong></span></h2> 

	<h4>Position Details</h4>
	<%= render :partial => "admin/service_learning/organizations/positions/position_details",
	 			:locals => { :admin => false, :student_view => true, :service_learning_position => @position } %>

	<h4>Available Times</h4>
	<%= render :partial => "admin/service_learning/organizations/positions/scheduling_details"	,
		 		:locals => { :admin => false, :student_view => true, :service_learning_position => @position } %>

	<h4>Orientation Details</h4>
	<%= render :partial => "admin/service_learning/organizations/positions/orientation_details"	,
		 		:locals => { :admin => false, :student_view => true, :service_learning_position => @position } %>

<% end -%>