<%= make_main_content_blocked %>

<% title("Service-Learning Registration", @quarter.title) %>

<%= render :partial => "your_position", :locals => { :service_learning_course => @service_learning_course, :position => @current_position, :hide_change_button => true } if @placements && !@placements.empty? %>

<%= link_to "Back to Position Listing", :action => 'index' %>

<h2 class="position title">
	<%= @position.title %>
	<span class="smaller grey">at <strong><%= @position.organization.name %></strong></span></h2> 

	<h4>Position Details</h4>
	<%= render :partial => "admin/service_learning/organizations/positions/position_details",
	 			:locals => { :admin => false, :student_view => true, :service_learning_position => @position } %>

	<h4>Available Times</h4>
	<%= render :partial => "admin/service_learning/organizations/positions/scheduling_details"	,
		 		:locals => { :admin => false, :student_view => true, :service_learning_position => @position } %>

	<h4>Orientation Details</h4>
	<%= render :partial => "admin/service_learning/organizations/positions/orientation_details"	,
		 		:locals => { :admin => false, :student_view => true, :service_learning_position => @position } %>



<% if @service_learning_course.open? %>
	<div class="yellow box">
		<center>If this position looks interesting, click the button below to register for this position.
		<% if @placements && !@placements.empty? %>
			<%= button_to "Switch to this position →", { :action => 'change', :id => @position.id } %>
		<% else %>
			<%= button_to "Choose this position →", { :action => 'choose', :id => @position.id } %>
		<% end -%>
		</center>
	</div>
<% end -%>

<% unless @service_learning_course.positions.offered_by(@position.organization).uniq.reject{|p|p==@position}.empty? %>
	<h4>Other positions at <%= @position.organization.name %>:</h4>
	<% show_switch_link = @placements && !@placements.empty? ? :true : :false %>
	<table id="service_learning_positions">
		<%= render 	:partial => "service_learning/position", 
					:collection => @service_learning_course.positions.offered_by(@position.organization).uniq.reject{|p|p==@position}.sort{|x,y| x.title<=>y.title}, 
					:locals => { :service_learning_course => @service_learning_course, :show_switch_link => show_switch_link } %>
	</table>
<% end -%>