<% title("Community-Engaged Learning Registration", @quarter.title) %>

<%= render :partial => "your_position", :locals => { :service_learning_course => @service_learning_course, :position => @position } %>

<h2>Acknowledgement of Risk</h2>

<% form_for @student, :url => { :action => 'risk', :id => @position } do |f| -%>

	<%= render :partial => "risk" %>

	<%= error_messages_for :student %>

	<div class="yellow box">
		<div id="electronic_signature">
			Electronic Signature (type your full legal name): 
			<%= f.text_field :electronic_signature %>
			<%= content_tag('em', '*', :class => 'required') %>
			Date: <u style="font-weight:normal"><%= Time.now.to_date.to_s(:long) %></u>
		</div>
	</div>
	
	</blockquote>

<p class="final_submit">
	Click the button below to complete your service learning registration.</p>

<p class="final_submit">
	<%= submit_tag "Finish My Registration", :disable_with => "Saving your information", :class => "final_submit" %></p>

<% end -%>