<% title("Community-Engaged Learning Registration", @quarter.title) %>

<%= render :partial => "your_position", :locals => { :service_learning_course => @service_learning_course, :position => @position } %>
<center><h2>
	<p>University of Washington </p>
	<% if @service_learning_course.unit.abbreviation == 'bothell' %>
		<p>Community Based Learning and Research<p/> 
		<p>Community-Engaged Learning Acknowledgement of Risk Form<p/>		
	<% else %>
		<p>Community Engagement and Leadership Education (CELE) Center<p/> 
		<p>Community Engaged Courses Acknowledgement of Risk Form<p/>
	<% end %>
	</h2>
</center>
<br />
<h3>NOTE: This form must be signed and filed with the <%= @service_learning_course.unit.abbreviation == 'bothell' ? 'CBLR Office' : 'CELE Center' %> before any student can begin volunteering as part of a community engaged course.</h3>
<br />
<h2><%= @student.sdb.age < 18 ? 'Acknowledgment of Risk and Consent for Treatment for Minor Students' : 'Acknowledgment of Risk and Consent for Treatment for Students Age 18 and Over' %></h2>

<% form_for @student, :url => { :action => 'risk', :id => @position } do |f| -%>

	<%= render :partial => "risk" %>

	<%= error_messages_for :student %>

	<div class="yellow box">
		<div id="electronic_signature">
			<%= @student.sdb.age < 18 ? 'Signature of Parent or Guardian: ' : 'Electronic Signature (type your full legal name):' %>
			<%= f.text_field :electronic_signature %>
			<%= content_tag('em', '*', :class => 'required') %>
			Date: <u style="font-weight:normal"><%= Time.now.to_date.to_s(:long) %></u>
		</div>
	</div>
	
	</blockquote>

<p class="final_submit">
	Click the button below to complete your service learning registration.</p>

<p class="final_submit">
	<%= submit_tag "Finish My Registration", :disable_with => "Saving your information", :class => "final_submit" %></p>

<% end -%>