<% title("Community-Engaged Learning Registration", @quarter.title) %>

<h2>Welcome, <%= @student.firstname %>.</h2>

<p>Our records indicate that you are not enrolled in any community-engaged learning courses this quarter. This often occurs because you just recently added a course to your schedule, but may be the result of a technical problem.</p>

<p><b>If you are enrolled in a community-engaged learning course for <%= @quarter.title %>, please select the course below:</b></p>

<% courses = ServiceLearningCourse.find(:all, :conditions => ['quarter_id = ?', @quarter.id]) %>

<form>
	<table>
	<% for course in courses #@quarter.service_learning_courses.for_unit(@unit) %>
		<tr>
			<td><input type=radio name="course" value="<%= course.id %>" id="course_<%= course.id %>"></td>
			<td><label for="course_<%= course.id %>"><%= course.title %></label></td>
		</tr>
	<% end -%>
	</table>

	<center>
		<input type=submit value="Continue">
	</center>

</form>
