<h1 class="big-icon emails"><%=h @email.send_to.titleize %>
	<span class="light right"><%= link_to "Edit", edit_offering_status_email_path(@offering, @status, @email), :class => 'edit button' %></span></h1>

<dl class="inline-definitions">

	<dt>Recipient</dt>
	<dd><%= @email.send_to %></dd>

	<dt>E-mail Template</dt>
	<dd><%= @email.email_template.title %>
		<br>
		<small class="light">
			Last updated <%= relative_timestamp @email.email_template.updated_at %>
			- <%= link_to "edit", edit_admin_communicate_template_path(@email.email_template), :popup => true %>
		</small>
		
		</dd>
		
	<dt>Auto-send?</dt>
	<dd><%= @email.auto_send %></dd>
	
	<dt>CC to Feedback?</dt>
	<dd><%= @email.cc_to_feedback_person %></dd>

</dl>

<div id="email_preview" class="big-border box">
	<h4 class="icon-left preview">Template Preview
		<span class="right"><%= link_to "Edit", edit_admin_communicate_template_path(@email.email_template), :popup => true, :class => 'edit button' %></span></h4>
	<% @text_template = @email.email_template %>
	<%= render :partial => "admin/communicate/templates/email_preview" %>
</div>
	
