<h1>Application Types
	<span class="light right"><%= link_to "Add new application type", new_offering_application_type_path(@offering), :class => 'add button' %></span></h1>

<%= form_tag admin_communicate_write_email_url, :id => 'application_types_form' %>

<table>
	<tr>
		<th>Application Type</th>
		<th>Offering</th>
		<th>Allow Other Category</th>
		<th>Workshop Event</th>
		<th colspan=3>Functions</th>
	</tr>
	<% for application_type in @application_types %>
	<tr id="application_type_<%= application_type.id %>">
		<td><%=h application_type.application_type.title if application_type.application_type %></td>
		<td><%=h application_type.offering.name if application_type.offering %></td>
		<td><%=h application_type.allow_other_category %></td>
		<td><%=h application_type.workshop_event.title if application_type.workshop_event %></td>
		<td><%= link_to "Show", offering_application_type_path(@offering, application_type) %></td>
		<td><%= link_to "Edit", edit_offering_application_type_path(@offering, application_type) %></td>
		<td><%= link_to_remote "Destroy", 
						:url => offering_application_type_path(@offering, application_type), 
						:confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>

	<% if @application_types.empty? %>
	<tr class="empty">
		<td colspan=10>No application types exist. <%= link_to "Create one.", new_offering_application_type_path(@offering) %></td>
	</tr>
	<% end %>

</table>

</form>

<% sidebar "/admin/offerings/sidebar/settings" %>