<h1><%=h @application_type.title %>
	<span class="light right"><%= link_to "Edit", edit_offering_application_type_path(@offering, @application_type), :class => 'edit button' %></span></h1>

<p class="object_timestamp"><%= object_timestamp_details(@application_type) %></p>

<dl class="inline-definitions">

	<dt>application type</dt>
	<dd><%=h @application_type.application_type.title if @application_type.application_type %></dd>

	<dt>offering</dt>
	<dd><%=h @application_type.offering.name if @application_type.offering %></dd>

	<dt>allow other category</dt>
	<dd><%=h @application_type.allow_other_category %></dd>

	<dt>workshop event</dt>
	<dd><%=h @application_type.workshop_event.title if @application_type.workshop_event %></dd>

	<dt>description</dt>
	<dd><%= @application_type.description %></dd>
</dl>

	<% sidebar "/admin/offerings/sidebar/settings" %>