<h1><%=h @other_award_type.title %>
	<span class="light right"><%= link_to "Edit", edit_offering_other_award_type_path(@offering, @other_award_type), :class => 'edit button' %></span></h1>

<p class="object_timestamp"><%= object_timestamp_details(@other_award_type) %></p>

<dl class="inline-definitions">

	<dt>offering</dt>
	<dd><%=h @other_award_type.offering_id %></dd>

	<dt>award type</dt>
	<dd><%=h @other_award_type.award_type_id %></dd>

	<dt>ask for award quarter</dt>
	<dd><%=h @other_award_type.ask_for_award_quarter %></dd>

	<dt>restrict number of awards to</dt>
	<dd><%=h @other_award_type.restrict_number_of_awards_to %></dd>


</dl>

	<% sidebar "/admin/offerings/sidebar/settings" %>