<h1>New Person</h1>

<% form_for :person, @person, :url => admin_people_path do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', admin_people_path %>

<% end %>
