<% content_for :head do %>
	<%= javascript_include_tag "insert_at_cursor" %>
<% end -%>

<h1>Compose Message</h1>

<div class="big-border box grey">
	<h4 class="icon-left list">Recipient List</h4>
	Sending to <%= pluralize @recipients.size, "recipient" %>.
	<%= link_to_function "View recipient list", "Effect.toggle('recipient_list', 'blind', {duration: 0.25})" %>.
	
	<div id="recipient_list" style="display:none">
		<table>
			<% @recipients.each_with_index do |recipient, i| %>
			<tr <%= "class='current_sample_row'" if i == @recipient_sample_num %> id="recipient_<%= i %>">
				<td class="light"><%= i+1 %></td>
				<td><%= recipient.respond_to?(:fullname) ? recipient.fullname : recipient.person.fullname rescue "#err" %></td>
				<td><%= auto_link recipient.respond_to?(:email) ? recipient.email : recipient.person.email rescue "#err" %></td>
				<td class="light"><%= recipient.class %> <%= recipient.id unless recipient.nil? %></td>
				<td><span class="current_sample_row_note">Current sample</span>
					<%= link_to_remote "Use as sample", 
										{:url => {:action => 'resample_placeholder_codes', 
												:new_sample_num => i },
										:indicator => 'global',
										:submit => "email_write_form"},
										:class => "use_as_sample_link" %>
					</td>
			</tr>
			<% end -%>
		</table>
	</div>
</div>

<% form_for :email, :url => { :action => "queue" }, :html => { :id => "email_write_form" } do |f| %>

	<%= "<input type=hidden name='recipient_variant' value='#{params[:recipient_variant]}'>" if params[:recipient_variant] %>
	<%= "<input type=hidden name='group_variant' value='#{params[:group_variant]}'>" if params[:group_variant] %>

	<div class="big-border box" id="message_contents">
	<h4 class="icon-left edit">
		Message Contents
		<%= link_to_remote "Preview Sample", 
							{:url => {:action => 'sample_preview' },
							:indicator => 'global',
							:submit => "email_write_form"},
							:class => "right preview button" %>
			</h4>
		<div class="email_preview">
		

			<div class="headers">
				<ul>
					<li><strong>To:</strong>		<%= text_field_tag "email[to]", 
																		"#{pluralize(@recipients.size, "recipient")}",
																		:disabled => true %></li>
																	
					<li><strong>From:</strong>		<div id="from_select">
													<%= render :partial => "from_select" %></div></li>
												
					<li><strong>Subject:</strong>	<%= text_field_tag "email[subject]", 
																		(params[:email][:subject] rescue nil),
																		:id => 'email_subject' %></li>
				</ul>
			</div>
	
			<div class="body">
				<%= text_area_tag "email[body]", 
									(params[:email][:body] rescue nil), 
									:rows => 40, 
									:style => "width: 99%", 
									:id => 'email_body' %>
			</div>
	
			<p>Apply a template:
				<%= f.collection_select(:template_id, 
										EmailTemplate.all, 
										:id, :title, 
										{:include_blank => true, 
										:selected => (params[:email_template_id].to_i)}) %>
			
				<%= observe_field 	:email_template_id,
				 					:url => { :action => 'apply_template' },
									:with => 'email_template_id',
									:indicator => 'apply_email_template_indicator' %>

				<%= observe_field 	:email_template_id, :function => "$('update_email_template_form').show()" %>

				<%= indicator 'apply_email_template_indicator' %>

				<span id="update_email_template_form" style="display:none">
					<br>
					<small>
						<%= check_box_tag :update_email_template %>
						<label for="update_email_template">Update this template with my changes above.</label>
					</small>
				</span>
			</p>
		
			<%= error_messages_for :email_template %>
		
			<p>
				<%= check_box_tag :create_email_template, true, !@email_template.nil? %>
				<label for="create_email_template">Create a new template with the text above</label>
			
				<%= observe_field :create_email_template, :function => "$('new_email_template_name').toggle()" %>
				<span id="new_email_template_name" <%= "style='display:none'" if @email_template.nil? %>>
					named: <%= text_field_tag "new_email_template_name", (@email_template ? @email_template.name : nil) %>
				</span>
			</p>
			<p>
				<%= check_box_tag :html_format, true, !@email_template.nil? %>
				<label for="html_format">Send email template with HTML format</label>				
			</p>
	
		</div>
	</div>
	
	<div class="big-border box" id="sample_preview" style="display:none">
	</div>
	
	<br>

	<center><%= f.submit "Queue E-mails" %>
			<%= separator %>
			<%= link_to "Cancel", :back, :class => "cancel button" %>
		</center>

	<% params[:select].each do |obj_type,obj_hash| %>
	  	<% obj_hash.each do |obj_id,val| %>
			<%= hidden_field_tag "select[#{obj_type}][#{obj_id}]", "1" %>
		<% end -%>
	<% end -%>
	<%= hidden_field_tag "current_sample_num", @recipient_sample_num %>

<% end %>

<% if params[:email_template_id] -%>
	<% javascript_tag do -%>
	
		window.onload = autoload_template;
	
		function autoload_template() {
			<%= remote_function :url => { :action => 'apply_template' },
								:with => "'email_template_id=#{params[:email_template_id]}'",
								:indicator => 'apply_email_template_indicator',
								:complete => "$('update_email_template_form').show()" %>
		}
	<% end -%>
<% end -%>

<% sidebar :placeholder_codes, { :class => "fixed", :id => 'placeholder_codes_sideblock' } %>