<% title "Current Undergraduate Research Opportunities" %>
<h3 class="grey">&raquo; for Undergraduate Research Program at UW</h3>
<br>

<% paginated_section @research_opportunities do %>

<h2> <%= "Found #{pluralize(@total_found, 'opportunity')}" if @total_found %></h2>
<table width=60%>
	<tr>
		<th>Title</th>
	</tr>
	
	<% for opportunity in @research_opportunities %>
		<tr id="research_opportunities_<%= opportunity.id %>">
			<td><%= link_to opportunity.title, :action => "details", :id => opportunity.id %></td>
		</tr>
	<% end %>

	<% if @research_opportunities.empty? %>
	<tr class="empty">
		<td colspan=2>Can not find research opportunities that match your search</td>
	</tr>
	<% end %>

</table>

<% end %>

<% content_for :right_sidebar do %>
	<%= render :partial => 'quick_links' %>
	<%= render :partial => 'lookup_form' %>
<% end %>