<% title "UW Faculty/Mentor Research Opportunity Submission Review" %>

<%= HelpText.caption :research_oppourtunity_submit, ResearchOpportunity %>

<%= render :partial => "fields", :locals => { :faculty => true } %>

<br>

<% form_tag do %>

	<% if @research_opportunity.submitted? %>
		<%= submit_tag "Edit", :disable_with => 'editing...', :name => 'update'  %>
	<% else %>
		<%= submit_tag "Back to edit", :disable_with => 'Back to editing...', :name => 'form' %>
	<% end %>

	<p class="separator"> – or – </p>
	<%= submit_tag "Submit opportunity", :disable_with => 'Submitting...' %>
	
	<% if @research_opportunity.submitted? %>
		<span class='red small'>Note: This re-sbumission will deactivate the position until URP staff approves it.</span>
	<% end %>

<% end %>
<br>