<h1>Review Criteria
	<span class="light right"><%= link_to "Add new review criterion", new_offering_review_criterion_path(@offering), :class => 'add button' %></span></h1>

<%= form_tag admin_communicate_write_email_url, :id => 'review_criterions_form' %>

<table>
	<tr>
		<th>Sequence</th>
		<th>Title</th>
		<th>Max Score</th>
		<th>Description</th>
		<th colspan=3>Functions</th>
	</tr>
	<% for review_criterion in @review_criterions %>
	<tr id="review_criterion_<%= review_criterion.id %>">
		<td class="smaller light"><%=h review_criterion.sequence %></td>
		<td><%=h review_criterion.title %></td>
		<td><%=h review_criterion.max_score %></td>
		<td><%=h review_criterion.description %></td>
		<td><%= link_to "Show", offering_review_criterion_path(@offering, review_criterion) %></td>
		<td><%= link_to "Edit", edit_offering_review_criterion_path(@offering, review_criterion) %></td>
		<td><%= link_to_remote "Destroy", 
						:url => offering_review_criterion_path(@offering, review_criterion), 
						:confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>

	<% if @review_criterions.empty? %>
	<tr class="empty">
		<td colspan=10>No review criteria exist. <%= link_to "Create one.", new_offering_review_criterion_path(@offering) %></td>
	</tr>
	<% end %>

</table>

</form>

<% sidebar "/admin/offerings/sidebar/settings" %>