<h1>New Review Criterion</h1>

<% form_for :review_criterion, @review_criterion, :url => offering_review_criterions_path(@offering) do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<%= separator "or" %>
	<%= link_to 'Cancel', offering_review_criterions_path(@offering), :class => 'cancel button' %>

<% end %>
