<h1>Discipline Categories
	<span class="light right"><%= link_to "Add new category", new_discipline_category_path, :class => 'add button' %></span></h1>

<%= form_tag admin_communicate_write_email_url, :id => 'discipline_categories_form' %>

<table>
	<tr>
		<th>Name</th>
		<th>Associated Majors</th>
		<th colspan=3>Functions</th>
	</tr>
	<% for discipline_category in @discipline_categories %>
	<tr id="discipline_category_<%= discipline_category.id %>">
		<td><%=h discipline_category.name %></td>
		<td><%=h discipline_category.majors.size %></td>
		<td><%= link_to "Show", discipline_category %></td>
		<td><%= link_to "Edit", edit_discipline_category_path(discipline_category) %></td>
		<td><%= link_to_remote "Destroy", :url=>discipline_category, 
						:confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>

	<% if @discipline_categories.empty? %>
	<tr class="empty">
		<td colspan=5>No discipline categories exist. <%= link_to "Create one.", new_discipline_category_path %></td>
	</tr>
	<% end %>

</table>

</form>