<% title(@organization.name) %>

<h1>Welcome, <%= @person.firstname %>.
	<small class="light">&raquo; <%= @quarter.title %></small></h1>
	
<p class="caption" style="margin-top:-5px; margin-bottom: 0">Not <%= @person.firstname_first %>? 
	<%= link_to "Click here", community_partner_wrong_person_path %>
	to login as a different contact.</p>

<ul id="service-learning-welcome-links">
	
	<li id="organization">
		<%= link_to "Organization information and contacts", community_partner_service_learning_organization_path(@quarter) %>
		<br>Change contact information and add or remove organization contacts.</li>

	<li id="profile">
		<%= link_to "Edit your contact information", community_partner_profile_path %>
		<br>Your contact information was last updated <%= time_ago_in_words @person.updated_at rescue "unknown" %> ago.</li>

	<li id="<%= @allow_evals ? "evaluations" : "students" %>">
	<% link_text = @allow_evals ? "<b>Submit evaluations</b> for" : "View" %>
	<%= link_to "#{link_text} current students", community_partner_service_learning_students_path(@quarter) %>
	<br>You currently have <b><%= pluralize @students.size, "student" %></b> working with your organization.</li>

	<li id="positions">
	<%= link_to "View current positions", community_partner_service_learning_positions_path(@quarter) %>
	<br>You currently have <b><%= pluralize @positions.size, "active position" %></b>.</li>

	<% for organization_quarter in @organization.organization_quarters.allowing_unit_position_edits(@unit) %>
		<li id="edit-positions">
		<%= link_to "Edit positions for #{organization_quarter.quarter.title}", 
				community_partner_service_learning_positions_path(organization_quarter.quarter) %>
		<br>You can now create, edit, and delete positions for <%= organization_quarter.quarter.title %>.</li>
	<% end -%>
	
	<% unless @general_study_positions.empty? %>
		<li id="evaluations">
			<%= link_to "Approve general study position requests", community_partner_service_learning_general_study_path(@quarter, :action => 'students') %><br>
			<span class="admin tag">New</span> You currently have <b><%= pluralize @general_study_positions.size, "request" %></b> for general study position.</b>
		</li>
	<% end %>
</ul>

<% sidebar :organization_info, :organization_contacts %>
<% sidebar :history if @organization.organization_quarters.for_unit(@unit).size > 1 %>