<h3>Edit E-mail</h3>

<% form_for [:admin, :communicate, @email] do |f| %>


<div class="email_preview">

	<% fields_for @email.email do |email| %>

	<div class="headers">
		<ul>
			<li><strong>From:</strong>		<%= email.text_field :from %></li>
			<li><strong>Subject</strong>	<%= email.text_field :subject %></li>
			<li><strong>To:</strong>		<%= email.text_field :to %></li>
			<li><strong>Cc:</strong>		<%= email.text_field :cc %></li>
			<li><strong>Bcc:</strong>		<%= email.text_field :bcc %></li>
		</ul>
	</div>
	
	<div>
		<%= email.text_area :body, :rows => 40, :cols => 85, :class => "body" %>
	</div>
	
	<% end %>
	
	<%= f.submit "Save Changes" %>
	
</div>
<% end %>
