<h1>Welcome<%= ", #{@user.person.firstname}" rescue nil if @user.person && !(@user.person.firstname.blank?) %>!</h1>

<p>You need to create an account. To create a new account, simply fill out the fields below. When you're done, click "Sign up." All fields are required.</p>

<% form_for :user, :url => { :action => 'map_to_new_user' } do |f| -%>

	<%= f.error_messages %>

	<dl class="inline-definitions">

		<dt>username</dt>
		<dd><%= f.text_field :login %>
			<p class="caption">Choose a username that you'll remember. You'll use this username to access EXPO in the future.</p></dd>

		<dt>password</dt>
		<dd><%= f.password_field :password %>
			<p class="caption">This password can be any combination of letters, numbers, and punctuation, but must be at least 6 characters long.</p></dd>

		<dt>confirm password</dt>
		<dd><%= f.password_field :password_confirmation %></dd>

		<% fields_for "user[person_attributes]", (@user.person || Person.new) do |person_fields| %>
			<%= render :partial => "shared/person_fields", 
						:object => person_fields,
						:locals => { :show_address_fields => :true, :show_title_field => :true, :show => [] } %>
		<% end -%>


	</dl>


<p><%= submit_tag 'Sign up' %></p>


<input type=hidden name="map" value="<%= params[:map] %>">
<input type=hidden name="t" value="<%= params[:t] %>">
<input type=hidden name="map_to_logged_in_user" value="true">

<% if @organization && @organization_token = Token.create(:tokenable => @organization) %>
	<%= hidden_field_tag :organization_id, @organization_token.tokenable_id %>
	<%= hidden_field_tag :organization_token, @organization_token.token %>
<% end -%>	

<% end -%>