<h1>Edit Organization Information</h1>

<%= error_messages_for :organization %>

<% upload_form_for @organization, :url => community_partner_service_learning_organization_path(@quarter) do |f| %>

	<%= render :partial => "admin/organizations/fields", :locals => { :f => f, :admin => false } %>

    <%= f.submit "Update" %>

<% end %>

<%= link_to 'Show', community_partner_service_learning_organization_path %> |
<%= link_to 'Back', community_partner_service_learning_home_path %>

<% sidebar :contacts %>