<h1><%= @committee.meetings_title_display %>
	<span class="light">&raquo; <%= @committee.name %></span></h1>

<table>
	<tr>
		<th>Title</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th>Attending</th>
		<th>Functions</th>
	</tr>
	
	<tr class="rowset-header">
		<td colspan=5>Upcoming <%= @committee.meetings_title_display %></td>
	</tr>
	<%= render :partial => "meeting", :collection => @committee.meetings.future %>
	
	<tr class="rowset-header">
		<td colspan=5>Past <%= @committee.meetings_title_display %></td>
	</tr>
	<%= render :partial => "meeting", :collection => @committee.meetings.past, :locals => { :past => true } %>
	
	
</table>

<% sidebar :add_new %>