<% link_action ||= {:redirect_to => "students", :quarter_abbrev => @quarter.abbrev} %>

<h3><strong class="icon-left list">With selected</strong></h3>

<ul class="link-list">
  <li><%= link_to_submit "Send mass e-mail", 'students_form', :link_options => {:class => "icon-left email"} %></li>
  <li class="">
    Make students: 
    <%= link_to_remote "active", {:url => group_toggle_active_admin_pipeline_path(:active => true),
                  :with => "$('students_form').serialize()",
                  :indicator => "global"},
                  {:class => 'inline'} %>
    | <%= link_to_remote "inactive", {:url => group_toggle_active_admin_pipeline_path(:active => false),
                  :with => "$('students_form').serialize()",
                  :indicator => "global"},
                  {:class => 'inline'} %>
  </li>
  <li>
    <% form_tag '', :id => 'date_select_tiny_form' do %>
    <%= date_select("date_select", "s") %>
    <% end %>

    <%= link_to_remote "Clear Background Checks", {:url => group_background_check_clear_admin_pipeline_path(),
                  :with => "$('date_select_tiny_form').serialize() + '&' + $('students_form').serialize()",
                  :indicator => "global"}, 
                  :class => 'icon-left evaluations' %>
  </li>

</ul>