<%= javascript_include_tag 'tablesort' %>

<h1>Amgen Project Preference</h1>
<% form_tag :action => 'amgen_project_preference' do %>
	<span style="padding-right:5px;">Please select a project reference for a query:</span>  
	<%= select_tag :lab_query, options_for_select(@preferences_dropdown, "#{@lab_query}") %>
	<%= submit_tag "Submit", :disable_with => "Submitting..." %>
<% end -%>
<br>
<table class="sortable" id="sortable-table-0">
	
	<tr>
		<th><div class="sort-icon">Project Name</div></th>
		<th><div class="sort-icon">Last Name</div></th>
		<th><div class="sort-icon">First Name</div></th>
		<th><div class="sort-icon">Priority</div></th>
		<th><div class="sort-icon">Choice</div></th>
	</tr>
		
	<% @project_answers.each do |app_answer|  %>		
		<% app = app_answer.application_for_offering %>
			<tr>						
				<td><%= @lab_query %></td>			
				<td><%= app.person.lastname %></td>
				<td><%= app.person.firstname %></td>
				<td><%= app.current_status_name %></td>
				<td><%  
						if @lab_query == app.get_answer(@offering.questions.find_by_short_title('First Choice').id)
							choice = "1"
						elsif @lab_query == app.get_answer(@offering.questions.find_by_short_title('Second Choice').id)
							choice = "2"
						elsif @lab_query == app.get_answer(@offering.questions.find_by_short_title('Third Choice').id)
							choice = "3"
						end
					%>
					<%= choice %>
				</td>	
			</tr>			
	<% end %>
	
</table>