<% make_main_content_full_width %>

<% content_for :outside_layout do %>
	<div id="instructions">
		<h1>Assign Reviewers
			<span class="light right">
				<%= content_tag 'div', indicator_image + 'Assigning reviewer...', indicator_options('assigning') %>
				<%= content_tag 'div', indicator_image + 'Removing reviewer...', indicator_options('dropping') %>
				<%= content_tag 'div', indicator_image + 'Sorting...', indicator_options('sorting') %>
				<%= image_tag "app/firefox.gif" %>
			</span></h1>
		<p>To assign reviewers, drag a student name from the left side over to a reviewer name on the right. You can also move a student from one reviewer to another.</p>
	</div>
<% end -%>

<div id="background-filler">
	&nbsp;
</div>

<div id="assign_reviewers">
	<% @applicants = @offering.application_for_offerings.with_status("approved").sort %>
	<div id="applicants">		
		<%= render :partial => "applicants", :locals => { :applicants => @applicants } %>
	</div>

	<div id="reviewers_container">
		<table height="100%">
			<tr>
				<td height="100%">
	
				</td>
		
				<% for member_type in @offering.review_committee.member_types %>
				<% @members = @offering.review_committee.members.of_type(member_type).select{|m| m.active?}.sort %>
				<td height="100%">
					<div id="reviewers_<%= member_type.id %>">
						<%= render :partial => "reviewers", :locals => { :member_type => member_type, :members => @members } %>
					</div>
				</td>
			<% end -%>

			</tr>

		</table>
	</div>
	
</div>
