<thead>
	<tr>
		<th>ID</th>
		<th>Student Number</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>E-mail</th>
		<th>Major(s)</th>
		<th>Preferred Address</th>
		<th><%= StudentAddress::ADDRESS_FIELDS.collect.join("</th><th>") %></th>
		<% @offering.max_number_of_awards.times do |i| %>
			<th>Award <%= i+1 %> Quarter</th>
			<th>Award <%= i+1 %> Amount Requested</th>
			<th>Award <%= i+1 %> Amount Disbursed</th>
			<th>Award <%= i+1 %> Account</th>
		<% end -%>
		<% if @offering.uses_scored_review? %>
			<th>Average Score</th>
			<% @apps.collect{|a| a.reviewers.without_committee_scores.size }.max.times do |i| %>
				<th>Reviewer <%= i+1 %> Name</th>
				<% for review_criterion in @offering.review_criterions %>
					<th>Reviewer <%= i+1 %> Score (<%= review_criterion.title %>)</th>
				<% end -%>
				<th>Reviewer <%= i+1 %> Total Score</th>
			<% end -%>
		<% end -%>
				
	</tr>
</thead>

<tbody>
<% @apps.each do |a| %>
	<tr>
	<td><%=h a.id %></td>
	<td><%=h a.person.student_no %></td>
	<td><%=h a.person.firstname %></td>
	<td><%=h a.person.lastname %></td>
	<td><%=h a.person.email %></td>
	<td><%=h a.person.sdb.majors_list %></td>
	<td><%=h a.local_or_permanent_address %></td>
	<td x:str><%= a.person.sdb.address.for_export(a.local_or_permanent_address, "</td><td x:str>") %></td>
	<% @offering.max_number_of_awards.times do |i| %>
		<% if award = a.awards.valid[i] %>
			<td><%= award.requested_quarter.title %></td>
			<td><%= number_to_currency(award.amount_requested) %></td>
			<td><%= number_to_currency(award.amount_disbersed) %></td>
			<td><%= award.disbersement_type.name if award.disbersement_type %></td>
		<% else %>
			<td colspan=4>
		<% end -%>
	<% end -%>
	
	<% if @offering.uses_scored_review? %>
		<td><%=h '%2.2f' % a.average_score %></td>
		<% @apps.collect{|app| app.reviewers.without_committee_scores.size }.max.times do |i| %>
			<% if reviewer = a.reviewers.without_committee_scores[i] %>
				<td><%=h a.reviewers.without_committee_scores[i].fullname %></td>
				<% for review_criterion in @offering.review_criterions %>
					<td><%=h reviewer.get_score(review_criterion) %></td>
				<% end -%>
				<td><%=h reviewer.total_score %></td>
			<% else %>
				<td colspan=<%= 2 + @offering.review_criterions.size %>>
			<% end -%>
		<% end -%>
	<% end -%>
	
	</tr>
<% end %>
</tbody>