<% apps_not_empty = false %>

<% @offerings.each do |o| %>
<% apps = o.application_for_offerings.awaiting_disbursement.sort_by(&:fullname) %>
<% unless apps.empty? %>
<% apps_not_empty = true %>

<thead>
	<tr>
		<th>Student Name</th>
		<th>Quarters Awarded</th>
		<th>Amounts Approved by Financial Aid</th>
		<th>Actual Award Quarter</th>
		<th>Actual Award Amount</th>
		<th>Comments</th>
	</tr>	
		
	<tr class="rowset-header">
		<td colspan=5><%= o.name %></td>
		<td colspan=1 style="text-align: right;"><%= pluralize apps.size, "award" %></td>
	</tr>
	
</thead>

<tbody>
	<% apps.each do |a| %>
		<% student_info_cells_already_printed = false %>

		<% class_cycle = cycle('even','odd') %>

		<% for award in a.awards.valid %>

			<tr class="<%= class_cycle %>">
			<% if !student_info_cells_already_printed %>
				<td rowspan=<%= a.awards.valid.size %> valign=top style="padding: 10px">
					<%= a.person.fullname %>
					<br>
					<font class="grey"><%= a.person.student_no %></font>
					</td>

				<% student_info_cells_already_printed = true %>
			<% end -%>

				<td><%= award.requested_quarter.title + ":" rescue nil %></td>
				<td><%= number_to_currency(award.amount_approved) %> - <%= award.disbersement_type.name rescue nil %>
					<%= "<br><span class='grey'>#{award.amount_approved_notes} (#{award.amount_approved_user.login rescue nil})</span>" unless award.amount_approved_notes.blank? %>
					</td>
					
				<td><%= Quarter.find(award.disbersement_quarter_id || award.requested_quarter_id).title %></td>

				<td><%= award.amount_disbersed || award.amount_approved %></td>

				<td><%= award.amount_disbersed_notes %></td>
			</tr>
		<% end -%>
	<% end %>	
</tbody>	

<% end %>
<% end %>

<%= content_tag('p', "No awards are currently awaiting your approval.") unless apps_not_empty %>