<%= make_main_content_blocked %>
	
	<div class="content-block">
		<h3 style="margin-bottom: 0"><%= @app.person.lastname_first %> 
			<span class="right light">
				<%= "Student #: <strong class='highlight'>#{@app.person.student_no}</strong>" if @app.person.student_no %>
				&bull;
				EXPO <%= @app.person.class %> ID: <strong class="highlight"><%= @app.person.id %></strong>
				&bull;
				Application ID: <strong class="highlight"><%= @app.id %></strong>
				</span></h3>
		<h4 style="margin-top: 0;">
			<%= @app.project_title.blank? ? "<font class=grey>(no title)</font>" : strip_tags(@app.project_title) %></h4>

		<span id="application_status">
			<%= render :partial => "application_status" %>
		</span>

		<% form_for :app, @app, :url => { :action => 'update', :id => @app } do |f| %>

		<br>
		<%= f.error_messages %>
		<%= f.submit "Save", :disable_with => 'Saving...' %>
		<%= separator "or" %>
		<%= link_to 'Cancel', { :action => 'show' }, :class => 'cancel button' %>

	</div>

	<div class="tabview">

		<div id="tabs">
			<ul>
				<%= link_to_tab_pane "Abstract", :abstract, :class => 'current' %>
			</ul>
		</div>

		<div id="frame">

			<% tab_pane :abstract, :selected => true do %>
				<%= render :partial => "admin/apply/edit_tabs/abstract", :locals => { :f => f } %>
			<% end -%>
		
		</div>
	
	</div>
	
<% end -%>