<h3 style="margin-bottom: 0"><%= @app.person.fullname %> <span><%= @app.person.student_no %></span></h3>
<h4 style="margin-top: 0; padding-left: 5px"><%= @app.project_title %></h4>

<table>
	<% for application_status in @app.statuses.reverse %>
	<tr>
		<td>
			<span class="timestamp"><%= time_ago_in_words(application_status.updated_at) %> ago</span>
		</td>

		<td>
			Status changed to 
			<%= %(<a title="#{application_status.description}" class="tooltip">#{application_status.name.titleize}</a>) %>
		</td>
		
		<td>
			<% for contact_history in application_status.contact_histories %>
				<li>E-mail sent to <%= contact_history.person.fullname %>
					<%= link_to "(View)", contact_history_path(contact_history) %></li>
			<% end -%>
		</td>

	</tr>
	<% end -%>
</table>