<thead>
	<tr>
		<th>ID</th>
		<th>Nominee Last Name</th>
		<th>Nominee First Name</th>
		<th>Type</th>
		<th>Department</th>
		<th>MGR Awarded Mentee Count</th>
		<th><%= @offering.year_offered rescue nil %> Symposium Mentee Count</th>
		<th>Nomination Count</th>
		<th>Website</th>
		<th>Nominator</th>
		<th>ID</th>
		<th>Class</th>
		<th>Majors</th>
		<th>Scholarships</th>
		<th>Comments</th>
	</tr>
</thead>

<tbody>
	
	<% for mentor_type, nominees in @nominees %>
		<% for nominee, nominators in nominees %>
			<% nominators.each_with_index do |nominator, i| %>
				<tr>
					<td><%=h nominator.nominated_mentor.id %></td>
					<td><%=h nominee.lastname %></td>
					<td><%=h nominee.firstname %></td>
					<td><%=h nominator.nominated_mentor.mentor_type.title rescue nil %></td>
					<td><%=h nominee.department_name %></td>
					<td><%= nominee.application_mentors.select{|a| a.application_for_offering.offering.award_types.collect(&:scholar_title).include?("Mary Gates Research Scholar") }.size if nominee.is_a?(Person) %></td>
					<td><%= nominee.application_mentors.select{|a| a.application_for_offering.offering == @offering }.size if nominee.is_a?(Person) %></td>
					<td><%= nominators.size %></td>
					<td></td>
					<td><%=h nominator.fullname %></td>
					<td><%=h nominator.type.to_s + " "  + nominator.id.to_s %></td>
					<td><%=h nominator.person.class_standing_description rescue nil %></td>
					<td><%= nominator.person.majors_list(true) rescue nil %></td>
					<td><%= nominator.person.awards_list rescue nil %></td>
					<td><%=h nominator.nominated_mentor_explanation %></td>
				</tr>
			<% end -%>
		<% end -%>
	<% end -%>
	
</tbody>