<h1>Nominated Mentors
	<span class="light right"><small><%= link_to "Download in Excel", { :format => :xls }, :class => 'icon-left xls button' %></small></span>
	</h1>

<table>
	
	<tr>
		<th width="25%">Nominee</th>
		<th>MG Research Mentor?</th>
		<th>No. of mentees (this offering) / Total no. of mentees (all symposia)</th>
	</tr>
	
	<!-- Nominee Type -->
	<% for mentor_type, nominees in @nominees %>
	<tr class="rowset-header">
		<td colspan=4>
			<%= mentor_type.title %>
			<span class="light">&raquo; <%= pluralize nominees.size, "nominee" %></span>
		</td>
		<td><a name="<%= mentor_type.title %>" class="augmented"></a></td>
	</tr>
	
		<!-- Nominee Name and detail -->
		<% for nominee, nominators in nominees %>
		<tr class="borderless">
			<td><%=h nominee.fullname %>
				<br><small><%=h "#{nominee.application_mentors.first.mentor_type.title}," rescue nil %>
					<%=h nominee.department_name %></small>
				</td>
			<td><%= nominee.application_mentors.select{|a| a.application_for_offering.offering.award_types.collect(&:scholar_title).include?("Mary Gates Research Scholar") }.size if nominee.is_a?(Person) %></td>
			<td><%= nominee.application_mentors.select{|a| a.application_for_offering.offering == @offering }.size if nominee.is_a?(Person) %> / 
				<%= nominee.application_mentors.select{|a| !a.application_for_offering.offering.sessions.empty? }.size if nominee.is_a?(Person) %>
			</td>
		<tr>

		<tr>
			<td colspan=5 class="left-indent">
				<dl class="inline-definitions">
			
				<!-- Each nominator gets a row here -->
				<% nominators.each_with_index do |nominator, i| %>
				<dt>Nominator <%= i+1 %>:</dt>
				<dd>
					<p><strong><%= nominator.fullname %></strong>
						<br><small>
							Class: <span class="light"><%= nominator.person.class_standing_description rescue nil %></span>
							| Majors: <span class="light"><%= nominator.person.majors_list(true) rescue nil %></span>
							<% unless nominator.person.awards.empty? %>
								| Scholarships: <span class="light"><%= nominator.person.awards_list rescue nil %></span>
							<% end -%>
							</small>
						</p>	
			
					<p><%= textilize_without_paragraph h nominator.nominated_mentor_explanation %></p>			
				</dd>
				<% end -%>
				</dl>
			
			</td>
		</tr>
		<% end -%>
	
	<% end -%>
	
</table>

<% sidebar :quick_access, :mentor_types %>