<div class="content-topper">
	<h4 class="grey paddingless" style="margin-bottom:0">
		<%= @offering.name %></h4>
	<%= render :partial => "phase_timeline" %>
</div>

<ol class="completable">

<li class="<%= "complete" if @task.complete? %>">
	<b><%= @phase_task.title %></b>
	<%= indicator "phase_task_indicator_#{@phase_task.id}" %>
	
	<%= link_to_function "Notes", "Effect.toggle('task_notes', 'blind', {duration: 0.25})", :class => 'right smaller icon-left note' unless @phase_task.notes.blank? %>
	
	<%= content_tag('small', "Completed #{relative_timestamp(@task.updated_at)}", :class => 'light right') if @task.complete? %>
	
	<br><small class="grey">Part of the <%= link_to @phase.name, :action => 'phase', :id => @phase %> phase.</small>
	
	<div id="task_notes" class="yellow box" style="display:none">
		<div>
		<h4 class="icon-left note">Process Notes
			<%= link_to_function "Close", "Effect.toggle('task_notes', 'blind', {duration: 0.25})", :class => 'right light', :style => 'margin-right:10px' %></h4>
		<%= textilize @phase_task.notes %>
		<p align=center>
		<%= link_to_function "Close", "Effect.toggle('task_notes', 'blind', {duration: 0.25})", :class => 'button' %>
		</p>
		</div>
	</div>
	
	<div id="phase_task_contents_<%= @task.id %>">
		<%= render :partial => "admin/apply/phase/#{@phase_task.display_as}", 
					:locals => { :phase_task => @phase_task, :task => @phase_task } rescue nil %>
	</div>

	
</li>

</ol>


<% sidebar :quick_access_collapsed, :class => 'collapsable' %>
<% sidebar :phase_task_tools, :phase_tasks %>