<h3>Potential Interview Times</h3>

<% form_for :offering, @offering, :url => { :action => 'interviews' } do |f| %>

<table>
<% @apps.each do |a| %>
	<tr class="rowset-header">
		<td colspan=4><%= a.person.fullname %></td>
	</tr>

	<% @scheduler.timeslots_for(a).each do |t| %>
		<tr>
			<td><%= radio_button_tag "start_time[#{a.id}]", t.timestamp %>
			<td><%= t.timeblock.date.strftime("%A, %B %d") %></td>
			<td><%= t.time.strftime("%I:%M %p") %></td>
			<td><% t.interviewers.each do |i| %>
					<%= check_box_tag "interviewer[#{a.id}][]", i.id %>
					<%= i.person.fullname %><br />
				<% end %>
				</td>
		</tr>
	<% end %>

<% end %>
</table>

<%= submit_tag "Schedule interviews", :disable_with => "Creating interview times..." %>

<% end %>