<%= javascript_include_tag "tablesort" %>

<h1>Special Requests (<%= @special_requests.size %>)
	<span class="right"><%= link_to "Download Excel", {:format => :xls}, :class => "icon-left xls button" %></span></h1>

<table class="sortable" id="sortable-table-0">
	
	<tr>
		<th class="sortasc"><div class="sort-icon">Student</th>
		<th><div class="sort-icon">Session</th>
		<th class="nosort">Request</th>
	</tr>
	
	<% for user_application in @special_requests %>
	<tr>
		<td><%= link_to user_application.fullname, admin_app_url(@offering, user_application) %></td>
		<td><%= link_to(user_application.offering_session.title, offering_session_url(@offering, user_application.offering_session)) if user_application.offering_session %></td>
		<td><%=h user_application.special_requests %></td>
	</tr>
	<% end -%>
</table>

<% sidebar :quick_access %>