<h1><%= @offering.theme_response_title %>
	<span class="light right"><small><%= link_to "Download in Excel", { :format => :xls }, :class => 'icon-left xls button' %></small></span></h1>

<table>
	
	<tr>
		<th>Student</th>
		<th>Responses</th>
	</tr>
	
	<tr class="rowset-header">
		<td colspan=2>
			<%= textilize_without_paragraph @offering.theme_response_instructions %>
			<span class="light">&raquo; <%= pluralize @theme_responders.size, "response" %></span>
			<a name="theme_response" class="augmented"></a>
			</td>
	</tr>
	
	<%= render :partial => "theme_responder", :collection => @theme_responders %>
	
	
	<% unless @offering.theme_response2_instructions.blank? %>

		<tr class="rowset-header">
			<td colspan=2>
				<%= textilize_without_paragraph @offering.theme_response2_instructions %>
				<span class="light">&raquo; <%= pluralize @theme2_responders.size, "response" %></span>
				<a name="theme_response2" class="augmented"></a>
				</td>
		</tr>
	
		<%= render :partial => "theme_responder", :collection => @theme2_responders, :locals => { :theme_attribute => "theme_response2" } %>
		
	<% end -%>
	
</table>

<% sidebar :quick_access, :theme_responses %>