<h1>New organization contact</h1>

<%= error_messages_for :organization_contact %>

<div>
  <%= link_to_function "New contact", "$('organization_contact_move').hide();$('organization_contact_form').show()", :class => "big_top_tab"%>
  <%= separator %>
  <%= link_to_function "Move / copy existing contact", "$('organization_contact_form').hide();$('organization_contact_move').show()", :class => "big_top_tab"%>
</div>

<div id="organization_contact_form" class="organization_contact_container">

<% form_for(@organization_contact) do |f| %>

	<%= render :partial => "fields", :locals => { :admin => true, :f => f, :organization_contact => @organization_contact } %>
	
	<%= (hidden_field_tag 'organization_contact[unit_ids][]', @unit_id) if @unit_id%>

    <%= f.submit "Create" %> 
    <%= separator %>
    <%= link_to 'Cancel', (params[:return_to] || organization_contacts_path), {:class => "cancel button"} %>

<% end %>
</div>
<div  id="organization_contact_move" class="organization_contact_container" style="display:none;">
  <%= render :partial => "existing_contact"%>
</div>

