<div id="equipment_summary" <%= "style='display:none'" if @reservation.equipments.empty? %>>

<%= render :partial => "equipment_errors" %>

<label>Submit My Reservations</label>	
	<table>		
		<% for equipment in @reservation.equipments %>
		<tr>
			<td><%= equipment.title %>
				<small class="light"><%= equipment.tag %></small>
				</td>
			<td><%= link_to "More info", {:action => 'about', :id => equipment}, :popup => ['height=600,width=700'] %></td>
			<td><%= link_to_remote "Remove",
				 					{:url => { :action => 'update', :id => @reservation },
				 					:indicator => 'global',
				 					:with => "'equipment_id=' + #{equipment.id}"} %>
				</td>
		</tr>
		<% end -%>
	
	</table>
</div>