<%= title link_to("EXPD Equipment Loan Program", :action => 'index') %>

<h1>Welcome, <%= @current_user.person.firstname %>.</h1>

<% unless @current_reservations.empty? %>
<h2>Current Reservations</h2>
<div class="equipment_select">

	<% for reservation in @current_reservations %>
	<div class="category">
	<h4>Reservation # <%= reservation.id_s %>
		<span class="right light"><%= link_to "View Reservation Details &#x2192;", :action => 'summary', :id => reservation %></span>
		</h4>
	
	<ul>
		<li class="reservation_details">
			<dl>
				<dt>Pick up on</dt>
				<dd><%= reservation.start_date.to_s(:date_with_day_of_week) %></dd>
				
				<dt>Return on</dt>
				<dd><%= reservation.expected_time_due_back.to_s(:date_by_time12) %></dd>

				<dt>Length</dt>
				<dd><%= reservation.length_in_words %></dd>
			</dl>
		</li>
		
		<% for equipment in reservation.equipments %>
			<li id="equipment_<%= equipment.id %>">
			
				<% content = "" %>
				<% content << image_tag(equipment.picture.thumb.url) %>
				<% content << "<br>" %>
				<% content << "<span class=\"title\">#{equipment.title}</span>" %>
				<% content << "<small class=\"tag\">#{equipment.tag}</small>" %>
				
				<a><%= content %></a>

				<%= link_to "More info", 
							{:action => 'about', :id => equipment}, 
							:class => "more_info",
							:popup => ['height=600,width=700'] %>

			</li>
		<% end -%>
	</ul>

	</div>
	<% end -%>

</div>
<br class="clear">
<% end -%>	

<% if @current_reservations.empty? %>
<div class="empty">
	You have no current reservations in the system.
</div>
<% end -%>

<center>
	<%= link_to "Create a new Reservation", {:action => "new"}, :class => 'big button' %>
</center>

<%= render :partial => 'past_reservations' unless @past_reservations.empty? %>
