<%= make_main_content_full_width %>

<% form_tag({:action => 'overview'}, {:method => :get}) do %>
	<div class="light right">
		<strong>Date Range:</strong>
		<%= select_tag :start_quarter_id, 
						options_from_collection_for_select(Quarter.past_quarters(12).reverse << Quarter.current_quarter, 
						:id, :title, :selected => @start_quarter.id) %>
		<%= separator "through" %>
		<%= select_tag :end_quarter_id, 
						options_from_collection_for_select(Quarter.past_quarters(12).reverse << Quarter.current_quarter, 
						:id, :title, :selected => @end_quarter.id) %>
		<small>
			<%= check_box_tag :students_only, true, @students_only %> <label for="students_only">Only count UW Students</label>
		</small>
		<%= submit_tag "Reload" %>
	</div>

	<h1>Participation Overview</h1>
<% end -%>

<p>
	This chart shows the number of people who attended events or made contact with each unit. A total of unique students for each category and unit is included. To limit the display to a specific date range, or to only show UW students, use the controls above.
</p>

<div id="data_table">
	<div class="loading">Calculating...</div>
</div>

<% 
params_hash = { :fetch => 'data', 
				:start_quarter_id => @start_quarter.id,
				:end_quarter_id => @end_quarter.id,
				:students_only => @students_only } 
%>

<%= javascript_tag("new Ajax.Updater('data_table', '#{url_for(params_hash)}',{asynchronous:true, evalScripts:true, method:'get'})") %>