<%= make_main_content_blocked %>

<div class="content-block">
	<h1>Search Results
		<span class="right"><%= link_to "Back to Query", {:action => 'query', :q => params[:q]}, :class => 'icon-left return button' %></span>
		</h1>

	<p>This page shows the results of your query.
		<%= content_tag :strong, "Please resolve the conflicts below, or remove the conflicting entries." unless @conflicts.empty? %>
		When you are satisfied with the results, click "Proceed" to create your population group.</p>
</div>

<% form_tag do -%>

	<% unless @conflicts.empty? %>
	<div class="big-border box" style="background:white">
		<h4 class="icon-left list">Conflicts (<%= @conflicts.size %>)</h4>
		<p>The following search criteria produced multiple results. Please choose the student you were looking for for each.</p>

		<table>

			<% for q, results in @conflicts %>
			<tbody>
			<tr>
				<td rowspan=<%= results.size+1 %> class="highlightless">
					<div style="padding-bottom: 10px"><code>"<%=h q %>"</code></div>
					<small class="light"><%= link_to_function "Remove", 
												"$('conflict_removals').value = $F('conflict_removals') + \"\\n\" + \"#{h(q)}\";
												Effect.Fade(this.up('tbody'));",
												:class => 'icon-left mini-trash light' %></small>
					</td>

				<% for result in results %>
					<td><%= radio_button_tag "conflict_resolutions[#{h(q)}]", result.system_key, false,
											:id => "conflict_resolutions_#{q.hash}_#{result.system_key}" %></td>
					<td onClick="$('<%= "conflict_resolutions_#{q.hash}_#{result.system_key}" %>').checked=true">
						<%= result.fullname %>
						</td>
					<td onClick="$('<%= "conflict_resolutions_#{q.hash}_#{result.system_key}" %>').checked=true">
						<small class="light">
							<%= result.student_no_pretty %>,
							<%= result.class_standing_description %>,
							<%= result.majors_list %></small>
						</td>
					<td><%= link_to "<span>Student Details (opens in new window)</span>",
					 				{:controller => 'admin/students', :action => 'show', :student => { :system_key => result.system_key }},
									:popup => true,
									:class => 'icon-left no-text show'
									%></td>
				</tr><tr>
				<% end -%>
				
			<% end -%>
			</tr>
			</tbody>
			
		</table>
	</div>
	<% end -%>

	<% unless @not_found.empty? %>
	<div class="big-border box grey" style="background:white">
		<h4 class="icon-left exclamation">Not Found (<%= @not_found.size %>)</h4>
		<p>We could not find students based on these search criteria:</p>
	
		<ul>
			<% for q in @not_found %>
				<li class="icon-left exclamation">
					<code>"<%=h q %>"</code>
					<small class="light">(No records found)</small>
				</li>
			<% end -%>
		</ul>
	</div>
	<% end -%>

	<%= hidden_field_tag :q, params[:q] %>
	<%= hidden_field_tag :found, @found.collect(&:system_key).join(",") %>
	<%= hidden_field_tag :not_found, @not_found.join("\n") %>
	<%= hidden_field_tag :conflicts, @conflicts.keys.join("\n") %>
	<%= hidden_field_tag :title, params[:title] %>

	<div class="content-block" style="padding:10px">
	<center>
		When you're satisfied with the results, click here:
		<br>
		<%= submit_tag "Proceed" %>
	</center>
	</div>

	<%= text_area_tag :conflict_removals, nil, :id => "conflict_removals", :style => "display:none" %>

<% end -%>

<% sidebar :found_records %>