<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= session[:breadcrumbs].trail(" &raquo; ") %></title>
	
	<%= stylesheet_link_tag 'shared', :media => "all" %>
	<!--[if lt IE 7]><%= stylesheet_link_tag 'shared_ie', :media => "all" %><![endif]-->
	<%= stylesheet_link_tag 'admin', :media => "all" %>
	<!--[if lt IE 7]><%= stylesheet_link_tag 'admin_ie', :media => "all" %><![endif]-->
	<%= stylesheet_link_tag 'print', :media => "print" %>
	<%= javascript_include_tag :defaults %>
	
	<%= javascript_include_tag 'routing_navigator' if RAILS_ENV == 'development' %>
    <%= stylesheet_link_tag 'routing_navigator' if RAILS_ENV == 'development' %>

	<%= yield :head %>
	
</head>

<body class="<%= controller.controller_name %> <%= controller.action_name %> <%= RAILS_ENV %> print_only" >

<%= content_tag('div', yield(:confidentiality_note) || "CONFIDENTIAL", :class => 'confidentiality_note') %>

				
	<%= yield :layout %>
	

<!-- footer -->
<div id="footer">
	<p>
		Copyright &copy; <%= Time.now.year %> <a href="http://www.washington.edu">University of Washington</a>.
		Problems, questions or suggestions? Send an e-mail to <%= auto_link CONSTANTS[:system_help_email] %>.
	</p>
</div>
<!-- /footer -->
			

</body>
</html>


